%a(href='/posts/aerospike')  How I install Aerospike?
%a(href='/posts/aerospike_aql_crud')  In Aerospike how I do CRUD with aql?
%a(href='/posts/aerospike_create_index')  In Aerospike, how to create index?
%a(href='/posts/aerospike_expire_record')  In Aerospike how to create temporary data?
%a(href='/posts/aerospike_python_crud')  In Aerospike how I do CRUD with Python?
%a(href='/posts/ann101i_network_bridge')  How to Setup ann101i Network Bridge?
%a(href='/posts/bash_date_in_filename')  In Bash how do I place date-string in filename?
%a(href='/posts/bash_loop_files')  In Bash, how do I loop through a directory of files?
%a(href='/posts/bash_loop_strings')  In Bash how do I loop through a set of strings?
%a(href='/posts/bundle_bin')  In Bundler how do I binstub a gem subset?
%a(href='/posts/byzanz')  How to byzanz Animated GIF Screencast?
%a(href='/posts/centos_change_hostname')  How to change hostname on Centos Linux?
%a(href='/posts/code_challenge2015_0912')  What is 2015_0912 Code Challenge?
%a(href='/posts/code_challenge2015_0919')  What is 2015_0919 Code Challenge?
%a(href='/posts/code_challenge2015_0926')  What is 2015_0926 Code Challenge?
%a(href='/posts/code_challenge2015_1010')  What is 2015_1010 Code Challenge?
%a(href='/posts/code_challenge2015_1018')  What is 2015_1018 Code Challenge?
%a(href='/posts/code_challenge2015_1024')  What is 2015_1024 Code Challenge?
%a(href='/posts/code_challenge2015_1101')  What is 2015_1101 Code Challenge?
%a(href='/posts/code_challenge2015_1108')  What is 2015_1108 Code Challenge?
%a(href='/posts/code_challenge2015_1122')  What is 2015_1122 Code Challenge?
%a(href='/posts/code_challenge2015_1128')  What is 2015_1128 Code Challenge?
%a(href='/posts/code_challenge2015_1206')  What is 2015_1128 Code Challenge?
%a(href='/posts/d3csv_howto1')  In D3.js How To Build HTML Table with CSV? 
%a(href='/posts/erlang_elixer_install')  On Ubuntu how to install Erlang and Elixir?
%a(href='/posts/flash_linux_firefox')  For Firefox On Linux how do I install latest flash plugin?
%a(href='/posts/github_api_hello')  How to get started with Github API?
%a(href='/posts/grunt_shell_quickstart')  How to Quickstart grunt-shell?
%a(href='/posts/h2o_deeplearning101')  In H2O how to start your first DeepLearning Demo?
%a(href='/posts/h2o_droplet')  In H2O how to breakpoint droplet in IntelliJ?
%a(href='/posts/h2o_howto')  How to run H2O?
%a(href='/posts/h2o_r_demo')  In H2O how to start R Demo?
%a(href='/posts/h2o_r_howto')  How to install H2O R package?
%a(href='/posts/h2o_spark_convert_rdd2dataframe')  In H2O how to convert Spark RDD to DataFrame?
%a(href='/posts/h2o_spark_dataframe_add_column')  In H2O Sparkling-Water how to add column to DataFrame?
%a(href='/posts/h2o_spark_dataframe_column')  In H2O Sparkling-Water how to change names of DataFrame columns?
%a(href='/posts/h2o_spark_dataframe_get_column')  In H2O Sparkling-Water how to get one column from DataFrame?
%a(href='/posts/h2o_spark_dataframe_navigate')  In H2O Sparkling Water how to navigate DataFrame?
%a(href='/posts/h2o_spark_dataframe_sparkfile')  In H2O Sparkling-Water how to create DataFrame from SparkFiles?
%a(href='/posts/h2o_spark_dataframe_timesplit')  In H2O Sparkling-Water how does TimeSplit work?
%a(href='/posts/h2o_spark_dataframe_timetransform')  In H2O Sparkling-Water how does TimeTransform work?
%a(href='/posts/h2o_spark_rdd2dataframe')  In H2O Sparkling Water how to convert RDD to DataFrame?
%a(href='/posts/h2o_spark_rdd_navigate')  In H2O Sparkling Water how to navigate RDD?
%a(href='/posts/h2o_spark_rdd_zip')  In H2O Sparkling Water what is RDD zip()?
%a(href='/posts/h2o_spark_register_file')  In H2O Sparkling-Water how to register file to Spark?
%a(href='/posts/h2o_spark_schemardd_fromcsv')  In H2O Sparkling-Water how to create Spark SchemaRDD from CSV?
%a(href='/posts/h2o_spark_sql')  In Spark how to query my data with SQL?
%a(href='/posts/h2o_sparkwater')  In H2O How to start Sparkling Shell?
%a(href='/posts/h2o_sparkwater_citibike_scala')  In H2O how to run citibike demo?
%a(href='/posts/haml_json')  How do I read JSON into HAML?
%a(href='/posts/heroku_buildpack')  On Heroku, how do I install the sqlite3 gem?
%a(href='/posts/java101_hello')  In IntelliJ, with Java, How to println("Hello World.")
%a(href='/posts/java_jps')  In Java what is jps?
%a(href='/posts/javascript_csvtojson')  In Node.js how to convert CSV to JSON?
%a(href='/posts/lineman_angular_coffee')  Ubuntu How to: Lineman Angular Coffee?
%a(href='/posts/lineman_angular_install')  On Ubuntu How to Install Lineman Angular Template?
%a(href='/posts/lineman_install')  On Ubuntu How to Install Lineman.js?
%a(href='/posts/linux101')  In Linux101 what is C.C.L.U.D. ?
%a(href='/posts/linux101_cclud')  In Linux101 what is C.C.L.U.D. ?
%a(href='/posts/linux101_cclud_account')  In Linux101 how to CCLUD Linux Accounts?
%a(href='/posts/linux101_cclud_cmi')  In Linux101 how to CCLUD Linux CMI?
%a(href='/posts/linux101_cclud_disk')  In Linux101 how to CCLUD Disk space?
%a(href='/posts/linux101_cclud_file')  In Linux101 how to CCLUD Linux Files?
%a(href='/posts/linux101_cclud_folder')  In Linux101 how to CCLUD Linux Folders?
%a(href='/posts/linux101_cclud_instance')  In Linux101 how to CCLUD Linux Instance?
%a(href='/posts/linux101_cclud_ip')  In Linux101 how to CCLUD Linux IP address?
%a(href='/posts/linux101_cclud_iso')  In Linux101 how to CCLUD Linux ISO?
%a(href='/posts/linux101_cclud_pkg')  In Linux101 how to CCLUD Linux Packages?
%a(href='/posts/linux101_cclud_sshd')  In Linux101 how to CCLUD Services?
%a(href='/posts/lua_block_comments')  In Lua how to comment a block?
%a(href='/posts/lua_colon')  In Lua what does the colon do?
%a(href='/posts/lua_command_arg')  In Lua how to access command line args?
%a(href='/posts/lua_concat')  In Lua how to concatenate?
%a(href='/posts/lua_control')  Lua has which control structures?
%a(href='/posts/lua_copy_table')  In Lua how to copy table?
%a(href='/posts/lua_dash_e')  From Bash how to run 1 Lua command?
%a(href='/posts/lua_data_types')  Lua has what data types?
%a(href='/posts/lua_debugger')  How to attach debugger to Lua script?
%a(href='/posts/lua_decorate_function')  In Lua how to decorate a function?
%a(href='/posts/lua_default_arg')  In Lua how to default function arguments?
%a(href='/posts/lua_do_end')  In Lua why use do-end?
%a(href='/posts/lua_dofile')  Inside Lua how to load lua script?
%a(href='/posts/lua_dot_does_what')  In Lua what does dot do?
%a(href='/posts/lua_elseif')  In Lua how to case-switch?
%a(href='/posts/lua_find_string')  In Lua how to find string2 in string1?
%a(href='/posts/lua_forward_declare')  In Lua what is a forward declared function?
%a(href='/posts/lua_function')  In Lua how to create a function?
%a(href='/posts/lua_globalvar')  In Lua can I access non-existent global?
%a(href='/posts/lua_heredoc')  Lua has heredoc?
%a(href='/posts/lua_install')  How do I install Lua on Linux?
%a(href='/posts/lua_io_lines')  In Lua how to loop through file lines?
%a(href='/posts/lua_io_read')  In Lua how to read keyboard input?
%a(href='/posts/lua_multi_assign')  In Lua how to multi assign?
%a(href='/posts/lua_namespace')  In Lua how I namespace a function?
%a(href='/posts/lua_not_operator')  In Lua what is the not operator?
%a(href='/posts/lua_notequal')  In Lua what is not-equal operator?
%a(href='/posts/lua_number_operator')  In Lua how to count table elements?
%a(href='/posts/lua_packages_table')  How does Lua store packages?
%a(href='/posts/lua_pass_function2function')  In Lua how to pass function to function?
%a(href='/posts/lua_pass_variable_args')  In Lua how to pass variable args to function?
%a(href='/posts/lua_slice_string')  In Lua how to slice string2 from string1?
%a(href='/posts/lua_state_machine')  In Lua how to create state machine?
%a(href='/posts/lua_string_specials')  In Lua what about special characters in strings?
%a(href='/posts/lua_table_forloop')  In Lua how to drive forloop with table?
%a(href='/posts/lua_table_initialize')  In Lua how to initialize table?
%a(href='/posts/lua_table_sort')  In Lua how to sort table?
%a(href='/posts/lua_ternary')  In Lua how to do ternary expression?
%a(href='/posts/lua_true_false')  Can Lua conditionals branch on non-booleans?
%a(href='/posts/lua_upvalue')  In Lua what is an upvalue?
%a(href='/posts/lua_val2key')  In Lua how to switch keys-values in table?
%a(href='/posts/matplotlib3sets1plot')  In Python Matplotlib how do I plot 3 y-values on 1 plot?
%a(href='/posts/matplotlib_no_popup_window')  In Python Matplotlib how do I plot to image with no pop-up window?
%a(href='/posts/meteor')  How I install Meteor?
%a(href='/posts/meteor_cat_jpg')  How to use Meteor to serve a cat jpg?
%a(href='/posts/meteor_rickshaw')  How to mix Meteor with Rickshaw?
%a(href='/posts/meteor_rickshaw2')  How to mix Rickshaw with Meteor Template?
%a(href='/posts/nginx_simple_howto')  On Linux, Simplest NGINX How to?
%a(href='/posts/node_meteor')  How to access Node.js in Meteor.js?
%a(href='/posts/node_unixtime')  How to get unixtime in Node.js?
%a(href='/posts/nodejs_app_init')  How to Initialize Node.js App?
%a(href='/posts/nodejs_install')  On Ubuntu How to Install Node.js?
%a(href='/posts/numpy_where')  In Numpy how do I apply WHERE?
%a(href='/posts/pandas_group_by')  In Pandas how do I apply GROUP BY?
%a(href='/posts/pandas_where')  In Pandas how do I apply WHERE?
%a(href='/posts/phantomjs_howto_scrape')  How to Web Scrape with PhantomJS?
%a(href='/posts/plot_datetime')  In Python Matplotlib how do I plot a time series?
%a(href='/posts/postgres_json1')  With Postgres how do I generate JSON?
%a(href='/posts/postgres_table2csv')  In Postgres, how do I copy a table to a CSV file?
%a(href='/posts/postgres_unixtime')  With Postgres how do I convert a date to unixtime?
%a(href='/posts/python101')  In Python101 class, where is the Python we study?
%a(href='/posts/python_call_shell')  How do I call Shell from Python?
%a(href='/posts/python_datetime2epoch')  In Python how do I convert a datetime to unix-time?
%a(href='/posts/python_fix_curl')  How to fix anaconda curl certificate bug?
%a(href='/posts/python_future')  In Python what does __future__ do?
%a(href='/posts/python_import_fail')  In Python how to fix ImportError?
%a(href='/posts/python_ins_zipline')  How do I install Quantopian Zipline?
%a(href='/posts/python_lambda')  In Python what is lambda?
%a(href='/posts/python_lists2numpy')  In Python NumPy how do I create Array from Lists?
%a(href='/posts/python_ml101')  How to do ml101 class?
%a(href='/posts/python_numpy101')  In Python how to better understand NumPy?
%a(href='/posts/python_numpy2csv')  In Python NumPy how do I write Array to CSV?
%a(href='/posts/python_numpy2list')  In Python NumPy how do I create a List from Array?
%a(href='/posts/python_numpy_loadtxt')  In Python NumPy, how do I load a CSV file?
%a(href='/posts/python_numpy_subset')  In Python NumPy, how do I get Array subset?
%a(href='/posts/python_numpy_understand')  In Python how to better understand NumPy?
%a(href='/posts/python_pandas101')  How to do Pandas101 class?
%a(href='/posts/python_pandas_list')  In Python how do I create a list from Pandas?
%a(href='/posts/python_pandas_max')  In Python how to find max of GSPC?
%a(href='/posts/python_pandas_read_csv')  In Python Pandas how do I read a CSV file?
%a(href='/posts/python_pandas_sort')  In Python Pandas how do I sort?
%a(href='/posts/python_pdb')  In Python debugger, how do I step through a running script?
%a(href='/posts/python_ruby_map')  In Python how do I mimic the Ruby .map method?
%a(href='/posts/python_sklearn101')  How to do sklearn101 class?
%a(href='/posts/python_sklearn_knn_iris')  In Python scikit-learn KNN how to understand knn.predict_proba(x_oos)?
%a(href='/posts/python_str2datetime')  In Python how do I convert a string to a datetime?
%a(href='/posts/python_str_interpolate')  In Python, how do I embed variables within a string?
%a(href='/posts/python_unixtime2datetime')  In Python how do I convert unix-time to datetime?
%a(href='/posts/python_wget')  In Python how do I wget a web page URL?
%a(href='/posts/python_zipline_demo1')  How do I demo Quantopian Zipline?
%a(href='/posts/quantiacs_on_linux_lesson1')  Quantiacs On Linux Lesson 1?
%a(href='/posts/quantiacs_on_linux_lesson2')  Quantiacs On Linux Lesson 2?
%a(href='/posts/quantiacs_on_linux_lesson3')  Quantiacs On Linux Lesson 3?
%a(href='/posts/quantiacs_on_linux_lesson4')  Quantiacs On Linux Lesson 4?
%a(href='/posts/r_install_src')  How to install R from source?
%a(href='/posts/r_load_rda')  In R how to load rda file?
%a(href='/posts/rails_csv2haml2d3')  In Rails how do I use D3.js to plot CSV file?
%a(href='/posts/rails_debugger')  In Rails 4.x how do I step through Ruby code using a debugger?
%a(href='/posts/rails_haml2code_element')  In Rails, how to read a HAML file into an HTML-code-element?
%a(href='/posts/rails_heroku_sqlite')  On Heroku/Rails how do I implement sqlite3?
%a(href='/posts/rails_highlight_pre_code_syntax')  How do I highlight Python syntax inside an HTML code-element served by a Rails application?
%a(href='/posts/rails_rspec_capybara_selenium')  How to start with Capybara-Selenium on Rails?
%a(href='/posts/rails_runner')  In Rails how do I run a Ruby script with the Rails environment loaded?
%a(href='/posts/rails_wildcard_routes')  In Rails how do I implement a wildcard route?
%a(href='/posts/ruby_array_hashes_sort_by')  In Ruby how do I sort an array of hashes?
%a(href='/posts/ruby_array_no_nil')  In Ruby how do I remove nils from an Array?
%a(href='/posts/ruby_datetime_strptime')  In Ruby how do I convert string to DateTime?
%a(href='/posts/ruby_dir_loop')  In Ruby how do I build a loop from a directory full of files?
%a(href='/posts/ruby_edit_file')  How do I use Ruby to edit several files?
%a(href='/posts/ruby_flatten')  In Ruby what does flatten() do?
%a(href='/posts/ruby_gem_home_gem_path')  Ruby: GEM_HOME, GEM_PATH do what?
%a(href='/posts/ruby_read_csv')  In Ruby how do I read data from CSV file?
%a(href='/posts/ruby_regexp_match')  In Ruby how do I match a regular expression and a string?
%a(href='/posts/ruby_write2file')  In Ruby how do I write to a file?
%a(href='/posts/scikit_knn_eur')  How to run scikit knn demo from forex611.com?
%a(href='/posts/shell101')  In Linux101 how to learn shell?
%a(href='/posts/shell101_awk')  In Shell101 how to awk Yahoo CSV?
%a(href='/posts/shell101_emacs')  In Linux101 how to install and use Emacs?
%a(href='/posts/shell101_loop')  In Shell101 how to write Bash for-loop?
%a(href='/posts/shell101_parent')  In Shell101 how to write Bash parent script?
%a(href='/posts/shell101_paste_sqlite3')  In Shell101 how to use paste and sqlite3?
%a(href='/posts/shell101_root')  In Linux101 how to login as root?
%a(href='/posts/shell101_useradd')  In Linux101 how to useradd ann?
%a(href='/posts/shell101_vi')  In Linux101 how to use vi editor?
%a(href='/posts/shell101_vi_bash_aliases')  In Shell101 why .bash_aliases ?
%a(href='/posts/shell101_vi_bashrc')  In Linux101 how to vi ~ann/.bashrc ?
%a(href='/posts/shell101_wget')  In Shell101 how to wget Yahoo CSV?
%a(href='/posts/shell101_whileloop')  In Shell101 how to write Bash while-loop?
%a(href='/posts/shelljs_howto')  How to use ShellJS?
%a(href='/posts/spark_filter_spy_csv')  In Spark how to filter SPY Yahoo CSV?
%a(href='/posts/spark_flatmap')  In Spark what does flatMap() do?
%a(href='/posts/spark_howto_install')  Spark, how to install it?
%a(href='/posts/spark_howto_txt2rdd')  In Apache Spark how to create RDD from text file?
%a(href='/posts/spark_integer_seq')  In Spark how to foreach a sequence?
%a(href='/posts/spark_log4j')  In Spark how to control INFO logging?
%a(href='/posts/spark_make_rdd')  In Spark what does makeRDD() do?
%a(href='/posts/spark_max_gspc')  In Apache Spark how to find max GSPC price?
%a(href='/posts/spark_reducebykey')  In Spark what does reduceByKey() do?
%a(href='/posts/spark_schemardd')  In Apache Spark what is SchemaRDD?
%a(href='/posts/spark_sql_parquet')  In Apache Spark how to SQL Parquet?
%a(href='/posts/spark_whatis_rdd')  In Apache Spark what is RDD?
%a(href='/posts/sparkpi_what_happens')  SparkPi example, what happens?
%a(href='/posts/truefx_postgres')  How do I copy truefx data into Postgres?
%a(href='/posts/virtualbox_guestadditions')  How to install Guest Additions on Linux?
%a(href='/posts/virtualbox_why_tiny')  VirtualBox Screen is Tiny, Why?
