%a(href='/posts/aerospike')  How I install Aerospike?
%a(href='/posts/aerospike_aql_crud')  In Aerospike how I do CRUD with aql?
%a(href='/posts/aerospike_create_index')  In Aerospike, how to create index?
%a(href='/posts/aerospike_expire_record')  In Aerospike how to create temporary data?
%a(href='/posts/aerospike_python_crud')  In Aerospike how I do CRUD with Python?
%a(href='/posts/bash_date_in_filename')  In Bash how do I place date-string in filename?
%a(href='/posts/bash_loop_files')  In Bash, how do I loop through a directory of files?
%a(href='/posts/bash_loop_strings')  In Bash how do I loop through a set of strings?
%a(href='/posts/bundle_bin')  In Bundler how do I binstub a gem subset?
%a(href='/posts/centos_change_hostname')  How to change hostname on Centos Linux?
%a(href='/posts/flash_linux_firefox')  For Firefox On Linux how do I install latest flash plugin?
%a(href='/posts/h2o_howto')  How to run H2O?
%a(href='/posts/h2o_r_demo')  In H2O how to start R Demo?
%a(href='/posts/h2o_r_howto')  How to install H2O R package?
%a(href='/posts/h2o_sparkwater')  In H2O How to start Sparkling Shell?
%a(href='/posts/h2o_sparkwater_citibike_scala')  In H2O how to run citibike demo?
%a(href='/posts/haml_json')  How do I read JSON into HAML?
%a(href='/posts/heroku_buildpack')  On Heroku, how do I install the sqlite3 gem?
%a(href='/posts/java_jps')  In Java what is jps?
%a(href='/posts/linux101_ccrud')  In Linux101 what is C.C.R.U.D. ?
%a(href='/posts/linux101_ccrud_ami')  In Linux101 how to CCRUD Linux AMI?
%a(href='/posts/linux101_ccrud_cmi')  In Linux101 how to CCRUD Linux CMI?
%a(href='/posts/linux101_ccrud_instance')  In Linux101 how to CCRUD Linux Instance?
%a(href='/posts/linux101_ccrud_ip')  In Linux101 how to CCRUD Linux IP address?
%a(href='/posts/linux101_ccrud_iso')  In Linux101 how to CCRUD Linux ISO?
%a(href='/posts/linux101_ccsud_disk')  In Linux101 how to CCSUD Disk space?
%a(href='/posts/lua_block_comments')  In Lua how to comment a block?
%a(href='/posts/lua_colon')  In Lua what does the colon do?
%a(href='/posts/lua_command_arg')  In Lua how to access command line args?
%a(href='/posts/lua_concat')  In Lua how to concatenate?
%a(href='/posts/lua_control')  Lua has which control structures?
%a(href='/posts/lua_copy_table')  In Lua how to copy table?
%a(href='/posts/lua_dash_e')  From Bash how to run 1 Lua command?
%a(href='/posts/lua_data_types')  Lua has what data types?
%a(href='/posts/lua_debugger')  How to attach debugger to Lua script?
%a(href='/posts/lua_decorate_function')  In Lua how to decorate a function?
%a(href='/posts/lua_default_arg')  In Lua how to default function arguments?
%a(href='/posts/lua_do_end')  In Lua why use do-end?
%a(href='/posts/lua_dofile')  Inside Lua how to load lua script?
%a(href='/posts/lua_dot_does_what')  In Lua what does dot do?
%a(href='/posts/lua_elseif')  In Lua how to case-switch?
%a(href='/posts/lua_find_string')  In Lua how to find string2 in string1?
%a(href='/posts/lua_forward_declare')  In Lua what is a forward declared function?
%a(href='/posts/lua_function')  In Lua how to create a function?
%a(href='/posts/lua_globalvar')  In Lua can I access non-existent global?
%a(href='/posts/lua_heredoc')  Lua has heredoc?
%a(href='/posts/lua_install')  How do I install Lua on Linux?
%a(href='/posts/lua_io_lines')  In Lua how to loop through file lines?
%a(href='/posts/lua_io_read')  In Lua how to read keyboard input?
%a(href='/posts/lua_multi_assign')  In Lua how to multi assign?
%a(href='/posts/lua_namespace')  In Lua how I namespace a function?
%a(href='/posts/lua_not_operator')  In Lua what is the not operator?
%a(href='/posts/lua_notequal')  In Lua what is not-equal operator?
%a(href='/posts/lua_number_operator')  In Lua how to count table elements?
%a(href='/posts/lua_packages_table')  How does Lua store packages?
%a(href='/posts/lua_pass_function2function')  In Lua how to pass function to function?
%a(href='/posts/lua_pass_variable_args')  In Lua how to pass variable args to function?
%a(href='/posts/lua_slice_string')  In Lua how to slice string2 from string1?
%a(href='/posts/lua_state_machine')  In Lua how to create state machine?
%a(href='/posts/lua_string_specials')  In Lua what about special characters in strings?
%a(href='/posts/lua_table_forloop')  In Lua how to drive forloop with table?
%a(href='/posts/lua_table_initialize')  In Lua how to initialize table?
%a(href='/posts/lua_table_sort')  In Lua how to sort table?
%a(href='/posts/lua_ternary')  In Lua how to do ternary expression?
%a(href='/posts/lua_true_false')  Can Lua conditionals branch on non-booleans?
%a(href='/posts/lua_upvalue')  In Lua what is an upvalue?
%a(href='/posts/lua_val2key')  In Lua how to switch keys-values in table?
%a(href='/posts/matplotlib3sets1plot')  In Python Matplotlib how do I plot 3 y-values on 1 plot?
%a(href='/posts/matplotlib_no_popup_window')  In Python Matplotlib how do I plot to image with no pop-up window?
%a(href='/posts/meteor')  How I install Meteor?
%a(href='/posts/node_meteor')  How to access Node.js in Meteor.js?
%a(href='/posts/node_unixtime')  How to get unixtime in Node.js?
%a(href='/posts/numpy_where')  In Numpy how do I apply WHERE?
%a(href='/posts/pandas_group_by')  In Pandas how do I apply GROUP BY?
%a(href='/posts/pandas_where')  In Pandas how do I apply WHERE?
%a(href='/posts/plot_datetime')  In Python Matplotlib how do I plot a time series?
%a(href='/posts/postgres_json1')  With Postgres how do I generate JSON?
%a(href='/posts/postgres_table2csv')  In Postgres, how do I copy a table to a CSV file?
%a(href='/posts/postgres_unixtime')  With Postgres how do I convert a date to unixtime?
%a(href='/posts/python_call_shell')  How do I call Shell from Python?
%a(href='/posts/python_datetime2epoch')  In Python how do I convert a datetime to unix-time?
%a(href='/posts/python_fix_curl')  How to fix anaconda curl certificate bug?
%a(href='/posts/python_future')  In Python what does __future__ do?
%a(href='/posts/python_import_fail')  In Python how to fix ImportError?
%a(href='/posts/python_ins_zipline')  How do I install Quantopian Zipline?
%a(href='/posts/python_lambda')  In Python what is lambda?
%a(href='/posts/python_lists2numpy')  In Python NumPy how do I create Array from Lists?
%a(href='/posts/python_numpy2csv')  In Python NumPy how do I write Array to CSV?
%a(href='/posts/python_numpy2list')  In Python NumPy how do I create a List from Array?
%a(href='/posts/python_numpy_loadtxt')  In Python NumPy, how do I load a CSV file?
%a(href='/posts/python_numpy_subset')  In Python NumPy, how do I get Array subset?
%a(href='/posts/python_pandas_list')  In Python how do I create a list from Pandas?
%a(href='/posts/python_pandas_max')  In Python how to find max of GSPC?
%a(href='/posts/python_pandas_read_csv')  In Python Pandas how do I read a CSV file?
%a(href='/posts/python_pandas_sort')  In Python Pandas how do I sort?
%a(href='/posts/python_pdb')  In Python debugger, how do I step through a running script?
%a(href='/posts/python_ruby_map')  In Python how do I mimic the Ruby .map method?
%a(href='/posts/python_str2datetime')  In Python how do I convert a string to a datetime?
%a(href='/posts/python_str_interpolate')  In Python, how do I embed variables within a string?
%a(href='/posts/python_unixtime2datetime')  In Python how do I convert unix-time to datetime?
%a(href='/posts/python_wget')  In Python how do I wget a web page URL?
%a(href='/posts/python_zipline_demo1')  How do I demo Quantopian Zipline?
%a(href='/posts/r_install_src')  How to install R from source?
%a(href='/posts/rails_csv2haml2d3')  In Rails how do I use D3.js to plot CSV file?
%a(href='/posts/rails_debugger')  In Rails 4.x how do I step through Ruby code using a debugger?
%a(href='/posts/rails_heroku_sqlite')  On Heroku/Rails how do I implement sqlite3?
%a(href='/posts/rails_highlight_pre_code_syntax')  How do I highlight Python syntax inside an HTML code-element served by a Rails application?
%a(href='/posts/rails_runner')  In Rails how do I run a Ruby script with the Rails environment loaded?
%a(href='/posts/rails_wildcard_routes')  In Rails how do I implement a wildcard route?
%a(href='/posts/ruby_array_hashes_sort_by')  In Ruby how do I sort an array of hashes?
%a(href='/posts/ruby_array_no_nil')  In Ruby how do I remove nils from an Array?
%a(href='/posts/ruby_datetime_strptime')  In Ruby how do I convert string to DateTime?
%a(href='/posts/ruby_dir_loop')  In Ruby how do I build a loop from a directory full of files?
%a(href='/posts/ruby_edit_file')  How do I use Ruby to edit several files?
%a(href='/posts/ruby_flatten')  In Ruby what does flatten() do?
%a(href='/posts/ruby_read_csv')  In Ruby how do I read data from CSV file?
%a(href='/posts/ruby_regexp_match')  In Ruby how do I match a regular expression and a string?
%a(href='/posts/ruby_write2file')  In Ruby how do I write to a file?
%a(href='/posts/spark_flatmap')  In Spark what does flatMap() do?
%a(href='/posts/spark_howto_install')  Spark, how to install it?
%a(href='/posts/spark_howto_txt2rdd')  In Apache Spark how to create RDD from text file?
%a(href='/posts/spark_max_gspc')  In Apache Spark how to find max GSPC price?
%a(href='/posts/spark_reducebykey')  In Spark what does reduceByKey() do?
%a(href='/posts/spark_whatis_rdd')  In Apache Spark what is RDD?
%a(href='/posts/sparkpi_what_happens')  SparkPi example, what happens?
%a(href='/posts/truefx_postgres')  How do I copy truefx data into Postgres?
%a(href='/posts/virtualbox_guestadditions')  How to install Guest Additions on Linux?
