%h2 Program: Vocational Education – High Tech
%h2 Course (Catalog) Title: Data Science Of Time Series
%h2 Course #:  626669
%h2 Instructor: Dan Bikle
%h2 Total Course Hours: 38

%table
  %tr
    %th Week
    %th Time of Inst.
    %th SPECIFIC PERFORMANCE OBJECTIVES

  %tr
    %td Wk 1
    %td 3.5 Hrs
    %td
      Histograms,
      Scatter Plots,
      Correlation,
      Time Series Plots,
      Time Series Calculations,
      Linear Regression

  %tr
    %td Wk 2
    %td 3.5 Hrs
    %td
      AWS,
      Linux,
      Git,
      Heroku,

  %tr
    %td Wk 3
    %td 3.5 Hrs
    %td
      Vectors,
      SQL,
      Pandas,
      NumPy,

  %tr
    %td Wk 4
    %td 3.5 Hrs
    %td
      Machine Learning,
      Python scikit-learn,
      Naive Bayes,
      Linear Regression,
      Logistic Regression,
      SVM,
      GBRT,
      Neural Networks

  %tr
    %td Wk 5
    %td 3.5 Hrs
    %td
      The R Language

  %tr
    %td Wk 6
    %td 3.5 Hrs
    %td
      ConvNetJS
  %tr
    %td Wk 7
    %td 3.5 Hrs
    %td
      Features from Time Series

  %tr
    %td Wk 8
    %td 3.5 Hrs
    %td
      Predictions from Features from Time Series

  %tr
    %td Wk 9
    %td 3.5 Hrs
    %td
      Visualizatons of Predictions

  %tr
    %td Wk 10
    %td 3.5 Hrs
    %td
      Serve Visualizatons to the Web

  %tr
    %td Wk 11
    %td 3.5 Hrs
    %td
      Deploy application to AWS-Heroku which predicts a financial market
:css
  table, th, td { border: 1px solid black;} 
  body {
    font-size: 1.2em;
    line-height: 1.7em;
    font-family: sans-serif; }
