%a(href='/') syntax.us
%hr/
%h1 Hire Me
%ul
  %li I can write syntax for you.
  %li I can help you write syntax.
  %li I can find people to write syntax.

E-me:
%br/
bikle@bikle.com
%br/
%img(src='/images/danbikle_sf.jpg')

%h3 Portfolio:
%a(href='http://danhasinfo.herokuapp.com target='x')
  DanHas.info

