:css
  h3 { text-decoration: underline;}
  body table td { border-color: #000; border-style: solid; border-width: 1px;}
  .h2_res { margin: 1px;}
  .h3_res { margin: 1px;}
  .h4_res { margin: 1px;}
  .h4_ul  { margin: 1px; text-decoration: underline;}
  .ul_res { margin: 1px;}
  .smallish { font-size: 0.9em; line-height: 1.1em; font-family: sans-serif; }


%h2.h2_res Dan Bikle

%h3.h3_res Professional Summary:
.smallish
  %ul.ul_res
    %li 10 years experience with Full Stack Design/Development
    %li Programming with Ruby, JRuby, Python, SQL, R, and JavaScript
    %li BDD with Cucumber, RSpec Feature specs, AngularJS e2e tests
    %li Data Storage: Postgres, Oracle, SQLite3, MySQL, Redis
    %li Debuggers: Byebug, pdb, Node Inspector, Chrome DevTools, Firefox JavaScript Debugger, Firebug
    %li Design Patterns: MVC, Factory, Publish-Subscribe, Singleton
    %li Source control: Git
    %li Operating Systems: Linux (Ubuntu, Centos), Solaris, FreeBSD
    %li Services: Amazon, Rackspace, DigitalOcean, Bitnami, Github, Heroku, Meteor, Google Domains
    %li Webservers: Apache, Nginx, Thin, Lighttpd
    %li Client Side Technology: HTML, CSS, jQuery, D3.js, AngularJS, RickShaw
    %li CI Technology: Jenkins
    %li Machine Learning Technology: Scikit-Learn, H2O, Lib-SVM, ML in Oracle Data Mining
    %li Architecture: OO-Design, Database Design

%h3.h3_res Education Summary
.smallish
  BSEE Caltech

%h3.h3_res Technical Skills:
.smallish
%table
  %tr
    %td Development Tools
    %td Emacs, Chrome DevTools, Node Inspector, Intellij IDEA (for Java)
    
  %tr
    %td Languages
    %td Ruby, JRuby, Python, SQL, R, Bash, Awk, CoffeeScript, and JavaScript
    
  %tr
    %td Web Technologies
    %td Rails, Bootstrap, Zurb
    
  %tr
    %td Databases
    %td Postgres, SQLite3,Oracle, MySQL
    
  %tr
    %td Operating Systems
    %td Linux (Ubuntu, CentOS), Solaris, FreeBSD
    
  %tr
    %td Configuration
    %td Chef
    
  %tr
    %td Source Control
    %td Git
    
  %tr
    %td Continuous Integration
    %td Jenkins
    
  %tr
    %td Markup
    %td HTML, XML, CSS, HAML, SASS, Slim, Jade
    
  %tr
    %td Machine Learning
    %td Scikit-Learn, H2O, Lib-SVM, Oracle Data Mining SVM
    
  %tr
    %td PAAS
    %td AWS, EC2, S3, Heroku
    

    
%h3.h3_res Professional Experience:

%h4.h4_res Bikle.com, Mountain View CA, Software Instructor
%h4.h4_res August 2015 to Present

%h4.h4_ul Responsibilities:

%ul.ul_res
  %li
    Developed and presented technical training to students focused on Web
    technology and Data Science.
  %li
    Classes were taught at Hacker Dojo and
    branded as, "Dan's Linux JavaScript Class".
  %li
    Promoted the classes via Meetup.
  %li
    Taught students a common team based development approach
    dependent on common virtual Ubuntu environments distributed among the team.  
  %li
    Topics included VirtualBox operation, simple Linux Sysadmin
    tasks, Linux editors, software installation, Server Side JavaScript
    (Node.js), Client Side JavaScript (AngularJS, D3.js, jQuery,
    RickShaw), Rails, REST, simple Data Science, shell scripting, SQLite3,
    Postgres, Git, and Heroku.
  %li
    Some of the class content is here:
    www.syntax.us near the months September, October, and November.

%h4.h4_res Bikle.com, Los Altos Hills CA, Software Developer
%h4.h4_res October 2015 to Present

%h4.h4_ul Responsibilities:

%ul.ul_res
  %li
    Solely built and deployed the site: www.d1d2.us which is a 
    visualization aid for understanding recent behavior of the S&P 500 Index.
  %li
    It uses interactive histograms to show the dependence of day2-gains upon day1-gains.
  %li
    The visualizations are served using D3.js, jQuery, RickShaw, SVG, and CSS.
  %li
    The backend is Rails 4.2.4 running on Ruby 2.2.3 deployed on Heroku Cedar-14 stack. 



%h4.h4_res Bikle.com, Los Altos Hills CA, Software Developer
%h4.h4_res June 2015 to Present

%h4.h4_ul Responsibilities:

%ul.ul_res
  %li
    Solely built and deployed the site: www.syntax.us which is a knowledge base of 
    software demonstrations.  
  %li
    The site serves knowledge in three
    simple forms: posts, questions, and tags.
  %li
    A post usually has one question. A post usually has many tags.  
    A tag usually points to many posts.  
  %li
    Built the site using Ruby 2.2.3 and Rails 4.2.2 and the site
    is deployed on Heroku under the Cedar-14 stack.
  %li
    The site was built from the ground up using Emacs and Chrome DevTools on an Ubuntu 14 laptop. 
  %li
    Traffic to the site is increasing every week.

%h4.h4_res Bikle.com, Los Altos Hills CA, Software Developer
%h4.h4_res March 2015 to June 2015
%h4.h4_ul Responsibilities:
%ul.ul_res
  %li Solely built and deployed the site: www.forex611.com which serves three use-cases.  
  %li First it shows, to the end-user, some simple Python Machine Learning technology dependent on scikit-learn.  
  %li Secondly it shows both accuracy and effectiveness of Forex predections generated by more scikit-learn software I wrote.  
  %li Finally, it shows current predictions generated by scikit-learn (two layers of Logistic Regression).  
  %li The web tier of this site is powered by Rails 4.1.x running on Ruby 2.1.x along with Postgres 9.3.  
  %li The client side depends on D3.js, jQuery, and RickShaw.
  %li The site runs in the Cedar-14 stack on Heroku.

%h4.h4_res Bikle.com, Los Altos Hills CA, Software Developer
July 2014 to April 2015
%h4.h4_ul Responsibilities:
%ul.ul_res
  %li Solely built and deployed a variety of small sites designed to sell otherwise blank domain names.
  %li
    All of the sites were built with Rails 4.x.y running on Ruby 2.x.y.  Some of the domain names are listed below:
    %ul
      %li hpricot.com
      %li hackternoon.com
      %li noko4.us
      %li Task4.us
      %li WePitch.us
      %li Scrape4.us
      %li KNN4.us
    %li All sites were deployed to Heroku.


%h4.h4_res Bikle.com, Los Altos Hills CA, Software Developer
January 2014 to August 2014
%h4.h4_ul Responsibilities:
%ul.ul_res
  %li Solely built and deployed the site: www.spy611.com which predicts future actions of the S&P 500 Index.  
  %li This site uses Machine Learning technology to learn from S&P 500 price behavior over a 30 year span.
  %li The ML technology is a combination of Postgres-MADlib and Python scikit-learn.  
  %li
    Addressed key end-user question: How to visualize
    effectiveness of predictions from spy611.com and implemented the
    answer in the form of charts and tables built using D3.js, RickShaw,
    and CSS. 
  %li The charts, tables, and CSV data files are served using Ruby 2.1.x under Rails 4.0.x.  
  %li The site is deployed on the Cedar-14 stack on Heroku.



%h4.h4_res Boatbound.co, San Francisco, CA, Software Developer
December 2013 to April 2014
%h4.h4_ul Responsibilities:
%ul.ul_res
  %li Architected, built, and tested an upgrade program to convert the database tier of Boatbound from V1 to V2.
  %li The upgrade program was made dynamic enough to constantly adjust as both V1 and V2 changed over a 5 month period.
  %li Via a sophisticated set of Inserts and Updates, the program intricately flowed and synthesized data from a simpler V1 schema into a more complex V2 schema.
  %li
    Additionally,
    many tests were written for management to gain
    detailed, tangible proof the database tier was converted correctly
    immediately after switchover. 
  %li Achieved the base constraint that the conversion complete in less than 15 minutes with absolutely no errors.
  %li The primary technology employed was Postgres 9.2, Rails ActiveRecord, SQL, AWK, Bash, Ruby and spreadsheets.
  %li Coordinated with developers of the other tiers using Agile methods, Git, Github, and Skype.
  %li All testing was implemented with RSpec-Rails.



%h4.h4_res Bikle.com, Mountain View CA, Technical Instructor
February 2014 to April 2014
%h4.h4_ul Responsibilities:
%ul.ul_res
  %li
    Developed and presented technical training to students focused on Web
    technology and Data Science.  
  %li
    Classes were taught at Hacker Dojo and
    branded as, "Dan's Machine Learning Class on Linux".  
  %li Promoted the classes via Meetup.  
  %li Taught students how to predict the stock market using Python based scikit-learn.  
  %li The class covered Machine Learning fundamentals and then implementaion details.  
  %li
    The students learned
    Matplotlib in order to visualize accuracy and effectiveness of
    thousands of predictions.  
  %li
    For web-based visualization the class
    learned how to install, operate, and develop simple Meteor applications.
  %li Some of the class content is here: www.syntax.us tagged as "pandas".


%h4.h4_res Bikle.com, Los Altos Hills CA, Software Developer
August 2013 to December 2013
%h4.h4_ul Responsibilities:
%ul.ul_res
  %li
    Solely built and deployed the site: DownBounce.com which categorizes
    stock behavior based on observed reversion to mean characteristics.
  %li The site introduces the concept "Bouncy Score" to help speculators understand stock behavior.
  %li
    The site was built with Rails 4.0.2 running
    on Ruby 2.1.7 and deployed to Heroku Cedar-14 stack.
  %li The back-end depends heavily on Postgres 9.2, Bash, and Awk.


%h4.h4_res Bikle.com, Los Altos Hills CA, Software Developer
April 2013 to August 2013
%h4.h4_ul Responsibilities:
%ul.ul_res
  %li
    Solely built and deployed the site: StockBeaver.com which categorizes
    stock behavior based a measurement called "RSI".  
  %li The site helps the user visualize dependency between today's RSI and tomorrow's gain/loss. 
  %li
    The site was built with Rails 3.2.11 running
    on Ruby 2.1.7 and deployed to Heroku Cedar-14 stack.
  %li The back-end depends heavily on Postgres 9.2, Bash, and Awk.
  %li The client side utilizes D3.js and some jQuery.


%h4.h4_res Bikle.com, Los Altos Hills CA, Software Developer
November 2012 to April 2013
%h4.h4_ul Responsibilities:
%ul.ul_res
  %li
    Solely built and deployed the site: Bot4.us which categorizes stock
    behavior based on Machine Learning predictions generated from Logistic
    Regression which is implemented inside of Postgres 9.2.x using MADlib.
  %li
    The site helps the user visualize which stocks are predictable based
    on what Logistic Regression can learn from past stock behavior.
  %li
    Originally the site was developed with Rails 3.x but has since been
    upgraded to Rails 4.0.2 running on Ruby 2.1.7 and deployed to Cedar-14
    on Heroku.
  %li The client side utilizes D3.js and some jQuery.


