:css
  h3 { text-decoration: underline;}
%h1 Dan Bikle

%h3 Professional Summary:
%ul
  %li 10 years experience with Full Stack Design/Development
  %li Programming with Ruby, JRuby, Python, SQL, R, and JavaScript
  %li BDD with Cucumber, RSpec Feature specs, AngularJS e2e tests
  %li Data Storage: Postgres, Oracle, SQLite3, MySQL, Redis
  %li Debuggers: Byebug, pdb, Node Inspector, Chrome DevTools, Firefox JavaScript Debugger, Firebug
  %li Design Patterns: MVC, Factory, Publish-Subscribe, Singleton
  %li Source control: Git
  %li Operating Systems: Linux (Ubuntu, Centos), Solaris, FreeBSD
  %li Services: Amazon, Rackspace, DigitalOcean, Bitnami, Github, Heroku, Meteor, Google Domains
  %li Webservers: Apache, Nginx, Thin, Lighttpd
  %li Client Side Technology: HTML, CSS, jQuery, D3.js, AngularJS, RickShaw
  %li CI Technology: Jenkins
  %li Machine Learning Technology: Scikit-Learn, H2O, Lib-SVM, ML in Oracle Data Mining
  %li Architecture: OO-Design, Database Design

%h3 Education Summary
BSEE Caltech

%h3 Technical Skills:
%table
  %tr
    %td Development Tools
    %td Emacs, Chrome DevTools, Node Inspector, Intellij IDEA (for Java)
