:css
  h3 { text-decoration: underline;}
  body table td { border-color: #000; border-style: solid; border-width: 1px;}
  .h2_res { margin: 1px;}
  .h3_res { margin: 1px;}
  .h4_res { margin: 1px;}
  .ul_res { margin: 1px;}
  .smallish { font-size: 0.9em; line-height: 1.1em; font-family: sans-serif; }


%h2.h2_res Dan Bikle

%h3.h3_res Professional Summary:
.smallish
  %ul.ul_res
    %li 10 years experience with Full Stack Design/Development
    %li Programming with Ruby, JRuby, Python, SQL, R, and JavaScript
    %li BDD with Cucumber, RSpec Feature specs, AngularJS e2e tests
    %li Data Storage: Postgres, Oracle, SQLite3, MySQL, Redis
    %li Debuggers: Byebug, pdb, Node Inspector, Chrome DevTools, Firefox JavaScript Debugger, Firebug
    %li Design Patterns: MVC, Factory, Publish-Subscribe, Singleton
    %li Source control: Git
    %li Operating Systems: Linux (Ubuntu, Centos), Solaris, FreeBSD
    %li Services: Amazon, Rackspace, DigitalOcean, Bitnami, Github, Heroku, Meteor, Google Domains
    %li Webservers: Apache, Nginx, Thin, Lighttpd
    %li Client Side Technology: HTML, CSS, jQuery, D3.js, AngularJS, RickShaw
    %li CI Technology: Jenkins
    %li Machine Learning Technology: Scikit-Learn, H2O, Lib-SVM, ML in Oracle Data Mining
    %li Architecture: OO-Design, Database Design

%h3.h3_res Education Summary
BSEE Caltech

%h3.h3_res Technical Skills:
%table
  %tr
    %td Development Tools
    %td Emacs, Chrome DevTools, Node Inspector, Intellij IDEA (for Java)
    
  %tr
    %td Languages
    %td Ruby, JRuby, Python, SQL, R, Bash, Awk, CoffeeScript, and JavaScript
    
  %tr
    %td Web Technologies
    %td Rails, Bootstrap, Zurb
    
  %tr
    %td Databases
    %td Postgres, SQLite3,Oracle, MySQL
    
  %tr
    %td Operating Systems
    %td Linux (Ubuntu, CentOS), Solaris, FreeBSD
    
  %tr
    %td Configuration
    %td Chef
    
  %tr
    %td Source Control
    %td Git
    
  %tr
    %td Continuous Integration
    %td Jenkins
    
  %tr
    %td Markup
    %td HTML, XML, CSS, HAML, SASS, Slim, Jade
    
  %tr
    %td Machine Learning
    %td Scikit-Learn, H2O, Lib-SVM, Oracle Data Mining SVM
    
  %tr
    %td PAAS
    %td AWS, EC2, S3, Heroku
    

    
%h3.h3_res Professional Experience:

%h4.h4_res Bikle.com, Mountain View CA, Software Instructor
%h4.h4_res August 2015 to Present

%h4.h4_res Responsibilities

%ul.ul_res
  %li
    Developed and presented technical training to students focused on Web
    technology and Data Science.
  %li
    Classes were taught at Hacker Dojo and
    branded as, "Dan's Linux JavaScript Class".
  %li
    Promoted the classes via Meetup.
  %li
    Taught students a common team based development approach
    dependent on common virtual Ubuntu environments distributed among the team.  
  %li
    Topics included VirtualBox operation, simple Linux Sysadmin
    tasks, Linux editors, software installation, Server Side JavaScript
    (Node.js), Client Side JavaScript (AngularJS, D3.js, jQuery,
    RickShaw), Rails, REST, simple Data Science, shell scripting, SQLite3,
    Postgres, Git, and Heroku.
  %li
    Some of the class content is here:
    www.syntax.us near the months September, October, and November.

%h4.h4_res Bikle.com, Los Altos Hills CA, Software Developer
%h4.h4_res October 2015 to Present

%h4.h4_res Responsibilities

%ul.ul_res
  %li
    Solely built and deployed the site: www.d1d2.us which is a 
    visualization aid for understanding recent behavior of the S&P 500 Index.
  %li
    It uses interactive histograms to show the dependence of day2-gains upon day1-gains.
  %li
    The visualizations are served using D3.js, jQuery, RickShaw, SVG, and CSS.
  %li
    The backend is Rails 4.2.4 running on Ruby 2.2.3 deployed on Heroku Cedar-14 stack. 

