%a(href='/posts/python_ins_zipline')  How do I install Quantopian Zipline?
%a(href='/posts/python_fix_curl')  How to fix anaconda curl certificate bug?
%a(href='/posts/scikit_knn_eur')  How to run scikit knn demo from forex611.com?
