%a(href='/posts/tensorflow060Python34')  How to install TensorFlow 0.6.0 on Ubuntu 14.04 running Python 3.4 via Anaconda3-2.3.0?
%a(href='/posts/quantiacs_on_linux_lesson3')  Quantiacs On Linux Lesson 3?
%a(href='/posts/sklearnem')  What is sklearnem?
%a(href='/posts/scikit_knn_eur')  How to run scikit knn demo from forex611.com?
%a(href='/posts/python_ins_zipline')  How do I install Quantopian Zipline?
%a(href='/posts/quantiacs_on_linux_lesson2')  Quantiacs On Linux Lesson 2?
%a(href='/posts/python_fix_curl')  How to fix anaconda curl certificate bug?
%a(href='/posts/python_preso')  How to use Stock Market to Learn Python?
%a(href='/posts/tensorflow_cuda_ubuntu')  How to install TensorFlow linked with Cuda 7.5 on Ubuntu 14.04?
%a(href='/posts/python_numpy101')  In Python how to better understand NumPy?
%a(href='/posts/quantiacs_on_linux_lesson4')  Quantiacs On Linux Lesson 4?
%a(href='/posts/python_numpy_understand')  In Python how to better understand NumPy?
%a(href='/posts/quantiacs_on_linux_lesson1')  Quantiacs On Linux Lesson 1?
%a(href='/posts/python_preso_questions')  What are the Python Preso Questions? 
%a(href='/posts/vbox_linux_python')  How to Start With VirtualBox, Linux, Python?
