%a(href='/posts/code_challenge2015_1010')  What is 2015_1010 Code Challenge?
%a(href='/posts/spark_whatis_rdd')  In Apache Spark what is RDD?
%a(href='/posts/lua_upvalue')  In Lua what is an upvalue?
