%a(href='/posts/nginx_simple_howto')  On Linux, Simplest NGINX How to?
%a(href='/posts/linux101_cclud_sshd')  In Linux101 how to CCLUD Services?
%a(href='/posts/linux101_cclud_pkg')  In Linux101 how to CCLUD Linux Packages?
