%a(href='/posts/linux101_cclud_pkg')  In Linux101 how to CCLUD Linux Packages?
%a(href='/posts/nginx_simple_howto')  On Linux, Simplest NGINX How to?
%a(href='/posts/ruby_gem_home_gem_path')  Ruby: GEM_HOME, GEM_PATH do what?
