%a(href='/posts/lua_command_arg')  In Lua how to access command line args?
%a(href='/posts/lua_command_arg')  In Lua how to access command line args?
%a(href='/posts/lua_command_arg')  In Lua how to access command line args?
