%a(href='/posts/lua_pass_variable_args')  In Lua how to pass variable args to function?
%a(href='/posts/lua_pass_function2function')  In Lua how to pass function to function?
%a(href='/posts/lua_pass_function2function')  In Lua how to pass function to function?
%a(href='/posts/lua_pass_variable_args')  In Lua how to pass variable args to function?
%a(href='/posts/lua_pass_function2function')  In Lua how to pass function to function?
%a(href='/posts/lua_pass_variable_args')  In Lua how to pass variable args to function?
