%a(href='/posts/python_ins_zipline')  How do I install Quantopian Zipline?
%a(href='/posts/truefx_postgres')  How do I copy truefx data into Postgres?
%a(href='/posts/bash_loop_files')  In Bash, how do I loop through a directory of files?
%a(href='/posts/shell101_vi')  In Linux101 how to use vi editor?
%a(href='/posts/bash_date_in_filename')  In Bash how do I place date-string in filename?
%a(href='/posts/shell101_awk')  In Shell101 how to awk Yahoo CSV?
%a(href='/posts/shell101_vi_bashrc')  In Linux101 how to vi ~ann/.bashrc ?
%a(href='/posts/shell101_wget')  In Shell101 how to wget Yahoo CSV?
%a(href='/posts/lua_dash_e')  From Bash how to run 1 Lua command?
%a(href='/posts/python_call_shell')  How do I call Shell from Python?
%a(href='/posts/python_zipline_demo1')  How do I demo Quantopian Zipline?
%a(href='/posts/shell101')  In Linux101 how to learn shell?
%a(href='/posts/shell101_root')  In Linux101 how to login as root?
%a(href='/posts/shell101_useradd')  In Linux101 how to useradd ann?
%a(href='/posts/shell101_loop')  In Shell101 how to write Bash for-loop?
%a(href='/posts/shell101_vi_bash_aliases')  In Shell101 why .bash_aliases ?
%a(href='/posts/shell101_paste_sqlite3')  In Shell101 how to use paste and sqlite3?
%a(href='/posts/bash_loop_strings')  In Bash how do I loop through a set of strings?
%a(href='/posts/shell101_emacs')  In Linux101 how to install and use Emacs?
%a(href='/posts/shell101_whileloop')  In Shell101 how to write Bash while-loop?
