%a(href='/posts/bash_loop_strings')  In Bash how do I loop through a set of stings?
%a(href='/posts/truefx_postgres')  How do I copy truefx data into Postgres?
%a(href='/posts/bash_loop_files')  In Bash, how do I loop through a directory of files?
%a(href='/posts/python_zipline_demo1')  How do I demo Quantopian Zipline?
%a(href='/posts/python_ins_zipline')  How do I install Quantopian Zipline?
