%a(href='/posts/linux101_cclud_file')  In Linux101 how to CCLUD Linux Files?
%a(href='/posts/meteor_rickshaw')  How to mix Meteor with Rickshaw?
%a(href='/posts/meteor_rickshaw2')  How to mix Rickshaw with Meteor Template?
%a(href='/posts/meteor_cat_jpg')  How to use Meteor to serve a cat jpg?
