%a(href='/posts/linux101_cclud_pkg')  In Linux101 how to CCLUD Linux Packages?
%a(href='/posts/centos_change_hostname')  How to change hostname on Centos Linux?
%a(href='/posts/pl_java_postgres_centos')  How to install PL/Java on Postgres 9.5 on Centos 6.5?
