%a(href='/posts/code_challenge2015_1206')  What is 2015_1206 Code Challenge?
%a(href='/posts/code_challenge2015_1212')  What is 2015_1212 Code Challenge?
%a(href='/posts/code_challenge2015_1227')  What is 2015_1227 Code Challenge?
%a(href='/posts/code_challenge2016_0103')  What is 2016_0103 Code Challenge?
%a(href='/posts/code_challenge2015_1220')  What is 2015_1220 Code Challenge?
