%a(href='/posts/python_sklearn_knn_iris')  In Python scikit-learn KNN how to understand knn.predict_proba(x_oos)?
%a(href='/posts/python101')  In Python101 class, where is the Python we study?
%a(href='/posts/pandas_group_by')  In Pandas how do I apply GROUP BY?
