%a(href='/posts/python_ruby_map')  In Python how do I mimic the Ruby .map method?
%a(href='/posts/python101')  In Python101 class, where is the Python we study?
%a(href='/posts/python_quicksort')  In Python how to Quicksort?
%a(href='/posts/python_pandas_list')  In Python how do I create a list from Pandas?
%a(href='/posts/python_preso_questions')  What are the Python Preso Questions? 
%a(href='/posts/plot_datetime')  In Python Matplotlib how do I plot a time series?
