%a(href='/posts/ruby_array_no_nil')  In Ruby how do I remove nils from an Array?
%a(href='/posts/ruby_array_no_nil')  In Ruby how do I remove nils from an Array?
%a(href='/posts/ruby_array_no_nil')  In Ruby how do I remove nils from an Array?
