%a(href='/posts/lua_concat')  In Lua how to concatenate?
%a(href='/posts/python_str_interpolate')  In Python, how do I embed variables within a string?
%a(href='/posts/lua_concat')  In Lua how to concatenate?
%a(href='/posts/python_str_interpolate')  In Python, how do I embed variables within a string?
