%a(href='/posts/linux101_ccrud_cmi')  In Linux101 how to CCRUD Linux CMI?
%a(href='/posts/aerospike_python_crud')  In Aerospike how I do CRUD with Python?
%a(href='/posts/linux101_ccrud_ami')  In Linux101 how to CCRUD Linux AMI?
%a(href='/posts/linux101_ccrud_iso')  In Linux101 how to CCRUD Linux ISO?
%a(href='/posts/linux101_ccrud_ip')  In Linux101 how to CCRUD Linux IP address?
%a(href='/posts/linux101_ccrud_instance')  In Linux101 how to CCRUD Linux Instance?
%a(href='/posts/aerospike_aql_crud')  In Aerospike how I do CRUD with aql?
