%a(href='/posts/shell101_whileloop')  In Shell101 how to write Bash while-loop?
%a(href='/posts/shell101_wget')  In Shell101 how to wget Yahoo CSV?
%a(href='/posts/ruby_read_csv')  In Ruby how do I read data from CSV file?
%a(href='/posts/pandas_where')  In Pandas how do I apply WHERE?
%a(href='/posts/d3csv_howto1')  In D3.js How To Build HTML Table with CSV? 
%a(href='/posts/shell101_awk')  In Shell101 how to awk Yahoo CSV?
%a(href='/posts/h2o_spark_schemardd_fromcsv')  In H2O Sparkling-Water how to create Spark SchemaRDD from CSV?
%a(href='/posts/python_pandas_read_csv')  In Python Pandas how do I read a CSV file?
%a(href='/posts/spark_filter_spy_csv')  In Spark how to filter SPY Yahoo CSV?
%a(href='/posts/rails_csv2haml2d3')  In Rails how do I use D3.js to plot CSV file?
%a(href='/posts/python_numpy_subset')  In Python NumPy, how do I get Array subset?
%a(href='/posts/python_pandas_max')  In Python how to find max of GSPC?
%a(href='/posts/numpy_where')  In Numpy how do I apply WHERE?
%a(href='/posts/python_numpy_loadtxt')  In Python NumPy, how do I load a CSV file?
%a(href='/posts/h2o_spark_dataframe_sparkfile')  In H2O Sparkling-Water how to create DataFrame from SparkFiles?
%a(href='/posts/scikit_knn_eur')  How to run scikit knn demo from forex611.com?
%a(href='/posts/python_sklearn_knn_iris')  In Python scikit-learn KNN how to understand knn.predict_proba(x_oos)?
%a(href='/posts/shell101_loop')  In Shell101 how to write Bash for-loop?
%a(href='/posts/pandas_group_by')  In Pandas how do I apply GROUP BY?
%a(href='/posts/python_numpy2csv')  In Python NumPy how do I write Array to CSV?
%a(href='/posts/python101')  In Python101 class, where is the Python we study?
%a(href='/posts/postgres_table2csv')  In Postgres, how do I copy a table to a CSV file?
%a(href='/posts/javascript_csvtojson')  In Node.js how to convert CSV to JSON?
%a(href='/posts/shell101_paste_sqlite3')  In Shell101 how to use paste and sqlite3?
%a(href='/posts/truefx_postgres')  How do I copy truefx data into Postgres?
%a(href='/posts/h2o_sparkwater_citibike_scala')  In H2O how to run citibike demo?
