%a(href='/posts/rails_csv2haml2d3')  In Rails how do I use D3.js to plot CSV file?
%a(href='/posts/truefx_postgres')  How do I copy truefx data into Postgres?
%a(href='/posts/pandas_where')  In Pandas how do I apply WHERE?
%a(href='/posts/python_pandas_max')  In Python how to find max of GSPC?
%a(href='/posts/postgres_table2csv')  In Postgres, how do I copy a table to a CSV file?
%a(href='/posts/shell101_awk')  In Shell101 how to awk Yahoo CSV?
%a(href='/posts/shell101_wget')  In Shell101 how to wget Yahoo CSV?
%a(href='/posts/scikit_knn_eur')  How to run scikit knn demo from forex611.com?
%a(href='/posts/ruby_read_csv')  In Ruby how do I read data from CSV file?
%a(href='/posts/shell101_loop')  In Shell101 how to write Bash for-loop?
%a(href='/posts/shell101_paste_sqlite3')  In Shell101 how to use paste and sqlite3?
%a(href='/posts/numpy_where')  In Numpy how do I apply WHERE?
%a(href='/posts/pandas_group_by')  In Pandas how do I apply GROUP BY?
%a(href='/posts/python_numpy_loadtxt')  In Python NumPy, how do I load a CSV file?
%a(href='/posts/python_pandas_read_csv')  In Python Pandas how do I read a CSV file?
%a(href='/posts/shell101_whileloop')  In Shell101 how to write Bash while-loop?
%a(href='/posts/python_numpy_subset')  In Python NumPy, how do I get Array subset?
%a(href='/posts/python_numpy2csv')  In Python NumPy how do I write Array to CSV?
