%a(href='/posts/code_challenge2015_0919')  What is 2015_0919 Code Challenge?
%a(href='/posts/code_challenge2015_1108')  What is 2015_1108 Code Challenge?
%a(href='/posts/code_challenge2015_1206')  What is 2015_1206 Code Challenge?
%a(href='/posts/code_challenge2015_1010')  What is 2015_1010 Code Challenge?
%a(href='/posts/code_challenge2015_1212')  What is 2015_1212 Code Challenge?
%a(href='/posts/code_challenge2015_1122')  What is 2015_1122 Code Challenge?
%a(href='/posts/code_challenge2015_0926')  What is 2015_0926 Code Challenge?
%a(href='/posts/meteor_rickshaw')  How to mix Meteor with Rickshaw?
%a(href='/posts/meteor_rickshaw2')  How to mix Rickshaw with Meteor Template?
%a(href='/posts/code_challenge2015_1101')  What is 2015_1101 Code Challenge?
%a(href='/posts/meteor_cat_jpg')  How to use Meteor to serve a cat jpg?
%a(href='/posts/code_challenge2015_1018')  What is 2015_1018 Code Challenge?
%a(href='/posts/python_fix_curl')  How to fix anaconda curl certificate bug?
%a(href='/posts/code_challenge2015_1128')  What is 2015_1128 Code Challenge?
%a(href='/posts/code_challenge2015_1024')  What is 2015_1024 Code Challenge?
