%a(href='/posts/python_pandas_sort')  In Python Pandas how do I sort?
%a(href='/posts/python_pandas_list')  In Python how do I create a list from Pandas?
%a(href='/posts/python_pandas_read_csv')  In Python Pandas how do I read a CSV file?
