%a(href='/posts/h2o_droplet')  In H2O how to breakpoint droplet in IntelliJ?
%a(href='/posts/code_challenge2015_1212')  What is 2015_1212 Code Challenge?
%a(href='/posts/code_challenge2015_1227')  What is 2015_1227 Code Challenge?
%a(href='/posts/lua_debugger')  How to attach debugger to Lua script?
%a(href='/posts/rails_debugger')  In Rails 4.x how do I step through Ruby code using a debugger?
%a(href='/posts/python_preso_questions')  What are the Python Preso Questions? 
%a(href='/posts/python_pdb')  In Python debugger, how do I step through a running script?
%a(href='/posts/code_challenge2015_1220')  What is 2015_1220 Code Challenge?
