%a(href='/posts/ruby_edit_file')  How do I use Ruby to edit several files?
%a(href='/posts/ruby_edit_file')  How do I use Ruby to edit several files?
%a(href='/posts/ruby_edit_file')  How do I use Ruby to edit several files?
