%a(href='/posts/shell101_emacs')  In Linux101 how to install and use Emacs?
%a(href='/posts/shell101_emacs')  In Linux101 how to install and use Emacs?
%a(href='/posts/shell101_emacs')  In Linux101 how to install and use Emacs?
