%a(href='/posts/lua_ternary')  In Lua how to do ternary expression?
%a(href='/posts/lua_notequal')  In Lua what is not-equal operator?
%a(href='/posts/lua_not_operator')  In Lua what is the not operator?
