%a(href='/posts/lua_find_string')  In Lua how to find string2 in string1?
%a(href='/posts/lua_find_string')  In Lua how to find string2 in string1?
%a(href='/posts/lua_find_string')  In Lua how to find string2 in string1?
