%a(href='/posts/lua_namespace')  In Lua how I namespace a function?
%a(href='/posts/lua_forward_declare')  In Lua what is a forward declared function?
%a(href='/posts/lua_default_arg')  In Lua how to default function arguments?
%a(href='/posts/python_lambda')  In Python what is lambda?
%a(href='/posts/lua_function')  In Lua how to create a function?
%a(href='/posts/lua_pass_variable_args')  In Lua how to pass variable args to function?
%a(href='/posts/lua_decorate_function')  In Lua how to decorate a function?
%a(href='/posts/lua_colon')  In Lua what does the colon do?
%a(href='/posts/lua_pass_function2function')  In Lua how to pass function to function?
%a(href='/posts/lua_data_types')  Lua has what data types?
%a(href='/posts/lua_state_machine')  In Lua how to create state machine?
%a(href='/posts/lua_upvalue')  In Lua what is an upvalue?
