%a(href='/posts/python_future')  In Python what does __future__ do?
%a(href='/posts/python_future')  In Python what does __future__ do?
%a(href='/posts/python_future')  In Python what does __future__ do?
