%a(href='/posts/h2o_howto')  How to run H2O?
%a(href='/posts/erlang_elixer_install')  On Ubuntu how to install Erlang and Elixir?
%a(href='/posts/nodejs_app_init')  How to Initialize Node.js App?
%a(href='/posts/linux101_cclud_folder')  In Linux101 how to CCLUD Linux Folders?
