%a(href='/posts/code_challenge2015_0919')  What is 2015_0919 Code Challenge?
%a(href='/posts/code_challenge2015_1010')  What is 2015_1010 Code Challenge?
%a(href='/posts/code_challenge2015_0926')  What is 2015_0926 Code Challenge?
%a(href='/posts/code_challenge2015_1101')  What is 2015_1101 Code Challenge?
%a(href='/posts/code_challenge2015_1018')  What is 2015_1018 Code Challenge?
%a(href='/posts/code_challenge2015_0912')  What is 2015_0912 Code Challenge?
%a(href='/posts/code_challenge2015_1024')  What is 2015_1024 Code Challenge?
