%a(href='/posts/lua_globalvar')  In Lua can I access non-existent global?
%a(href='/posts/lua_globalvar')  In Lua can I access non-existent global?
%a(href='/posts/lua_globalvar')  In Lua can I access non-existent global?
