%a(href='/posts/bash_loop_strings')  In Bash how do I loop through a set of strings?
%a(href='/posts/shell101_paste_sqlite3')  In Shell101 how to use paste and sqlite3?
%a(href='/posts/bash_loop_strings')  In Bash how do I loop through a set of strings?
%a(href='/posts/shell101_paste_sqlite3')  In Shell101 how to use paste and sqlite3?
