%a(href='/posts/python_import_fail')  In Python how to fix ImportError?
%a(href='/posts/h2o_howto')  How to run H2O?
%a(href='/posts/h2o_sparkwater')  In H2O How to start Sparkling Shell?
%a(href='/posts/h2o_r_howto')  How to install H2O R package?
%a(href='/posts/h2o_r_demo')  In H2O how to start R Demo?
%a(href='/posts/h2o_sparkwater_citibike_scala')  In H2O how to run citibike demo?
