%a(href='/posts/rails_csv2haml2d3')  In Rails how do I use D3.js to plot CSV file?
%a(href='/posts/haml_json')  How do I read JSON into HAML?
%a(href='/posts/shelljs_howto')  How to use ShellJS?
%a(href='/posts/ruby_gem_home_gem_path')  Ruby: GEM_HOME, GEM_PATH do what?
