%a(href='/posts/haml_json')  How do I read JSON into HAML?
%a(href='/posts/code_challenge2015_1024')  What is 2015_1024 Code Challenge?
%a(href='/posts/rails_haml2code_element')  In Rails, how to read a HAML file into an HTML-code-element?
%a(href='/posts/rails_csv2haml2d3')  In Rails how do I use D3.js to plot CSV file?
%a(href='/posts/code_challenge2015_1018')  What is 2015_1018 Code Challenge?
%a(href='/posts/code_challenge2015_1101')  What is 2015_1101 Code Challenge?
%a(href='/posts/shelljs_howto')  How to use ShellJS?
%a(href='/posts/code_challenge2015_1010')  What is 2015_1010 Code Challenge?
%a(href='/posts/code_challenge2015_1108')  What is 2015_1108 Code Challenge?
%a(href='/posts/ruby_gem_home_gem_path')  Ruby: GEM_HOME, GEM_PATH do what?
