%a(href='/posts/code_challenge2015_0912')  What is 2015_0912 Code Challenge?
%a(href='/posts/rails_heroku_sqlite')  On Heroku/Rails how do I implement sqlite3?
%a(href='/posts/code_challenge2015_0926')  What is 2015_0926 Code Challenge?
%a(href='/posts/heroku_buildpack')  On Heroku, how do I install the sqlite3 gem?
%a(href='/posts/code_challenge2015_0919')  What is 2015_0919 Code Challenge?
