%a(href='/posts/lua_pass_function2function')  In Lua how to pass function to function?
%a(href='/posts/lua_pass_function2function')  In Lua how to pass function to function?
%a(href='/posts/lua_pass_function2function')  In Lua how to pass function to function?
