%a(href='/posts/shell101')  In Linux101 how to learn shell?
%a(href='/posts/lua_control')  Lua has which control structures?
%a(href='/posts/shell101')  In Linux101 how to learn shell?
%a(href='/posts/lua_control')  Lua has which control structures?
