%a(href='/posts/python101')  In Python101 class, where is the Python we study?
%a(href='/posts/python_import_fail')  In Python how to fix ImportError?
%a(href='/posts/python_preso')  How to use Stock Market to Learn Python?
%a(href='/posts/python_preso_questions')  What are the Python Preso Questions? 
%a(href='/posts/python_pandas_read_csv')  In Python Pandas how do I read a CSV file?
%a(href='/posts/python_sklearn_knn_iris')  In Python scikit-learn KNN how to understand knn.predict_proba(x_oos)?
