%a(href='/posts/r_load_rda')  In R how to load rda file?
%a(href='/posts/erlang_elixer_install')  On Ubuntu how to install Erlang and Elixir?
%a(href='/posts/sparkpi_what_happens')  SparkPi example, what happens?
%a(href='/posts/shell101_root')  In Linux101 how to login as root?
%a(href='/posts/spark_howto_install')  Spark, how to install it?
%a(href='/posts/spark_howto_install')  Spark, how to install it?
%a(href='/posts/sparkpi_what_happens')  SparkPi example, what happens?
%a(href='/posts/erlang_elixer_install')  On Ubuntu how to install Erlang and Elixir?
%a(href='/posts/shell101_root')  In Linux101 how to login as root?
%a(href='/posts/r_load_rda')  In R how to load rda file?
