%a(href='/posts/python_sklearn_knn_iris')  In Python scikit-learn KNN how to understand knn.predict_proba(x_oos)?
%a(href='/posts/h2o_r_demo')  In H2O how to start R Demo?
%a(href='/posts/h2o_spark_dataframe_sparkfile')  In H2O Sparkling-Water how to create DataFrame from SparkFiles?
%a(href='/posts/h2o_deeplearning101')  In H2O how to start your first DeepLearning Demo?
%a(href='/posts/python_sklearn_knn_iris')  In Python scikit-learn KNN how to understand knn.predict_proba(x_oos)?
%a(href='/posts/h2o_spark_dataframe_sparkfile')  In H2O Sparkling-Water how to create DataFrame from SparkFiles?
%a(href='/posts/h2o_deeplearning101')  In H2O how to start your first DeepLearning Demo?
%a(href='/posts/h2o_r_demo')  In H2O how to start R Demo?
