%a(href='/posts/h2o_r_howto')  How to install H2O R package?
%a(href='/posts/pl_java_postgres_centos')  How to install PL/Java on Postgres 9.5 on Centos 6.5?
%a(href='/posts/h2o_howto')  How to run H2O?
