%a(href='/posts/postgres_json1')  With Postgres how do I generate JSON?
%a(href='/posts/postgres_json1')  With Postgres how do I generate JSON?
%a(href='/posts/ruby_read_csv')  In Ruby how do I read data from CSV file?
