%a(href='/posts/postgres_json1')  With Postgres how do I generate JSON?
%a(href='/posts/haml_json')  How do I read JSON into HAML?
%a(href='/posts/ruby_read_csv')  In Ruby how do I read data from CSV file?
%a(href='/posts/javascript_csvtojson')  In Node.js how to convert CSV to JSON?
