%a(href='/posts/d3csv_howto1')  In D3.js How To Build HTML Table with CSV? 
%a(href='/posts/spark_reducebykey')  In Spark what does reduceByKey() do?
%a(href='/posts/lua_val2key')  In Lua how to switch keys-values in table?
