%a(href='/posts/python_sklearn_knn_iris')  In Python scikit-learn KNN how to understand knn.predict_proba(x_oos)?
%a(href='/posts/scikit_knn_eur')  How to run scikit knn demo from forex611.com?
%a(href='/posts/python_pandas101')  How to do Pandas101 class?
