%a(href='/posts/lineman_angular_coffee')  Ubuntu How to: Lineman Angular Coffee?
%a(href='/posts/lineman_install')  On Ubuntu How to Install Lineman.js?
%a(href='/posts/shelljs_howto')  How to use ShellJS?
%a(href='/posts/lineman_angular_install')  On Ubuntu How to Install Lineman Angular Template?
