%a(href='/posts/python_numpy2list')  In Python NumPy how do I create a List from Array?
%a(href='/posts/python_lists2numpy')  In Python NumPy how do I create Array from Lists?
%a(href='/posts/python_pandas_list')  In Python how do I create a list from Pandas?
