%a(href='/posts/python_ruby_map')  In Python how do I mimic the Ruby .map method?
%a(href='/posts/python_ruby_map')  In Python how do I mimic the Ruby .map method?
%a(href='/posts/python_ruby_map')  In Python how do I mimic the Ruby .map method?
