%a(href='/posts/lua_decorate_function')  In Lua how to decorate a function?
%a(href='/posts/lua_do_end')  In Lua why use do-end?
%a(href='/posts/lua_decorate_function')  In Lua how to decorate a function?
%a(href='/posts/lua_do_end')  In Lua why use do-end?
