%a(href='/posts/code_challenge2015_1206')  What is 2015_1206 Code Challenge?
%a(href='/posts/python_preso')  How to use Stock Market to Learn Python?
%a(href='/posts/python_preso_questions')  What are the Python Preso Questions? 
%a(href='/posts/quantiacs_on_linux_lesson4')  Quantiacs On Linux Lesson 4?
