%a(href='/posts/truefx_postgres')  How do I copy truefx data into Postgres?
%a(href='/posts/bash_loop_files')  In Bash, how do I loop through a directory of files?
%a(href='/posts/lua_io_lines')  In Lua how to loop through file lines?
%a(href='/posts/python_ruby_map')  In Python how do I mimic the Ruby .map method?
%a(href='/posts/shell101_loop')  In Shell101 how to write Bash for-loop?
%a(href='/posts/spark_integer_seq')  In Spark how to foreach a sequence?
%a(href='/posts/bash_loop_strings')  In Bash how do I loop through a set of strings?
%a(href='/posts/ruby_dir_loop')  In Ruby how do I build a loop from a directory full of files?
%a(href='/posts/virtualbox_guestadditions')  How to install Guest Additions on Linux?
%a(href='/posts/lua_table_forloop')  In Lua how to drive forloop with table?
%a(href='/posts/shell101_whileloop')  In Shell101 how to write Bash while-loop?
%a(href='/posts/lua_number_operator')  In Lua how to count table elements?
