%a(href='/posts/lua_function')  In Lua how to create a function?
%a(href='/posts/lua_debugger')  How to attache debugger to Lua script?
%a(href='/posts/lua_io_read')  In Lua how to read keyboard input?
%a(href='/posts/lua_install')  How do I install Lua on Linux?
%a(href='/posts/lua_globalvar')  In Lua can I access non-existent global?
%a(href='/posts/lua_block_comments')  In Lua how to comment a block?
%a(href='/posts/lua_dofile')  Inside Lua how to load lua script?
