%a(href='/posts/lua_ternary')  In Lua how to do ternary expression?
%a(href='/posts/lua_pass_variable_args')  In Lua how to pass variable args to function?
%a(href='/posts/lua_dash_e')  From Bash how to run 1 Lua command?
%a(href='/posts/lua_upvalue')  In Lua what is an upvalue?
%a(href='/posts/lua_forward_declare')  In Lua what is a forward declared function?
%a(href='/posts/lua_packages_table')  How does Lua store packages?
%a(href='/posts/lua_slice_string')  In Lua how to slice string2 from string1?
%a(href='/posts/lua_not_operator')  In Lua what is the not operator?
%a(href='/posts/lua_state_machine')  In Lua how to create state machine?
%a(href='/posts/lua_number_operator')  In Lua how to count table elements?
%a(href='/posts/lua_table_sort')  In Lua how to sort table?
%a(href='/posts/lua_string_specials')  In Lua what about special characters in strings?
%a(href='/posts/lua_elseif')  In Lua how to case-switch?
%a(href='/posts/lua_globalvar')  In Lua can I access non-existent global?
%a(href='/posts/lua_concat')  In Lua how to concatenate?
%a(href='/posts/lua_table_initialize')  In Lua how to initialize table?
%a(href='/posts/lua_pass_function2function')  In Lua how to pass function to function?
%a(href='/posts/lua_notequal')  In Lua what is not-equal operator?
%a(href='/posts/lua_control')  Lua has which control structures?
%a(href='/posts/lua_copy_table')  In Lua how to copy table?
%a(href='/posts/lua_decorate_function')  In Lua how to decorate a function?
%a(href='/posts/lua_find_string')  In Lua how to find string2 in string1?
%a(href='/posts/lua_command_arg')  In Lua how to access command line args?
%a(href='/posts/lua_dofile')  Inside Lua how to load lua script?
%a(href='/posts/lua_default_arg')  In Lua how to default function arguments?
%a(href='/posts/lua_do_end')  In Lua why use do-end?
%a(href='/posts/lua_io_read')  In Lua how to read keyboard input?
%a(href='/posts/lua_heredoc')  Lua has heredoc?
%a(href='/posts/lua_dot_does_what')  In Lua what does dot do?
%a(href='/posts/lua_install')  How do I install Lua on Linux?
%a(href='/posts/lua_table_forloop')  In Lua how to drive forloop with table?
%a(href='/posts/lua_colon')  In Lua what does the colon do?
%a(href='/posts/lua_data_types')  Lua has what data types?
%a(href='/posts/lua_io_lines')  In Lua how to loop through file lines?
%a(href='/posts/lua_block_comments')  In Lua how to comment a block?
%a(href='/posts/lua_debugger')  How to attach debugger to Lua script?
%a(href='/posts/lua_namespace')  In Lua how I namespace a function?
%a(href='/posts/lua_val2key')  In Lua how to switch keys-values in table?
%a(href='/posts/lua_true_false')  Can Lua conditionals branch on non-booleans?
%a(href='/posts/lua_function')  In Lua how to create a function?
%a(href='/posts/lua_multi_assign')  In Lua how to multi assign?
%a(href='/posts/lua_namespace')  In Lua how I namespace a function?
%a(href='/posts/lua_packages_table')  How does Lua store packages?
%a(href='/posts/lua_data_types')  Lua has what data types?
%a(href='/posts/lua_command_arg')  In Lua how to access command line args?
%a(href='/posts/lua_pass_function2function')  In Lua how to pass function to function?
%a(href='/posts/lua_notequal')  In Lua what is not-equal operator?
%a(href='/posts/lua_block_comments')  In Lua how to comment a block?
%a(href='/posts/lua_table_initialize')  In Lua how to initialize table?
%a(href='/posts/lua_val2key')  In Lua how to switch keys-values in table?
%a(href='/posts/lua_dash_e')  From Bash how to run 1 Lua command?
%a(href='/posts/lua_colon')  In Lua what does the colon do?
%a(href='/posts/lua_elseif')  In Lua how to case-switch?
%a(href='/posts/lua_do_end')  In Lua why use do-end?
%a(href='/posts/lua_default_arg')  In Lua how to default function arguments?
%a(href='/posts/lua_forward_declare')  In Lua what is a forward declared function?
%a(href='/posts/lua_find_string')  In Lua how to find string2 in string1?
%a(href='/posts/lua_globalvar')  In Lua can I access non-existent global?
%a(href='/posts/lua_copy_table')  In Lua how to copy table?
%a(href='/posts/lua_decorate_function')  In Lua how to decorate a function?
%a(href='/posts/lua_not_operator')  In Lua what is the not operator?
%a(href='/posts/lua_dofile')  Inside Lua how to load lua script?
%a(href='/posts/lua_upvalue')  In Lua what is an upvalue?
%a(href='/posts/lua_concat')  In Lua how to concatenate?
%a(href='/posts/lua_slice_string')  In Lua how to slice string2 from string1?
%a(href='/posts/lua_state_machine')  In Lua how to create state machine?
%a(href='/posts/lua_multi_assign')  In Lua how to multi assign?
%a(href='/posts/lua_number_operator')  In Lua how to count table elements?
%a(href='/posts/lua_true_false')  Can Lua conditionals branch on non-booleans?
%a(href='/posts/lua_table_sort')  In Lua how to sort table?
%a(href='/posts/lua_function')  In Lua how to create a function?
%a(href='/posts/lua_dot_does_what')  In Lua what does dot do?
%a(href='/posts/lua_table_forloop')  In Lua how to drive forloop with table?
%a(href='/posts/lua_control')  Lua has which control structures?
%a(href='/posts/lua_install')  How do I install Lua on Linux?
%a(href='/posts/lua_io_read')  In Lua how to read keyboard input?
%a(href='/posts/lua_string_specials')  In Lua what about special characters in strings?
%a(href='/posts/lua_io_lines')  In Lua how to loop through file lines?
%a(href='/posts/lua_debugger')  How to attach debugger to Lua script?
%a(href='/posts/lua_heredoc')  Lua has heredoc?
%a(href='/posts/lua_pass_variable_args')  In Lua how to pass variable args to function?
%a(href='/posts/lua_ternary')  In Lua how to do ternary expression?
