%a(href='/posts/lua_function')  In Lua how to create a function?
%a(href='/posts/lua_debugger')  How to attache debugger to Lua script?
%a(href='/posts/lua_io_read')  In Lua how to read keyboard input?
%a(href='/posts/lua_install')  How do I install Lua on Linux?
