%a(href='/posts/python_preso')  How to use Stock Market to Learn Python?
%a(href='/posts/r_install_src')  How to install R from source?
%a(href='/posts/python_preso_questions')  What are the Python Preso Questions? 
%a(href='/posts/erlang_elixer_install')  On Ubuntu how to install Erlang and Elixir?
