%a(href='/posts/spark_max_gspc')  In Apache Spark how to find max GSPC price?
%a(href='/posts/spark_flatmap')  In Spark what does flatMap() do?
%a(href='/posts/python_ruby_map')  In Python how do I mimic the Ruby .map method?
%a(href='/posts/ruby_read_csv')  In Ruby how do I read data from CSV file?
%a(href='/posts/python_lambda')  In Python what is lambda?
