%a(href='/posts/spark_max_gspc')  In Apache Spark how to find max GSPC price?
%a(href='/posts/python_pandas_max')  In Python how to find max of GSPC?
%a(href='/posts/python_pandas_max')  In Python how to find max of GSPC?
%a(href='/posts/spark_max_gspc')  In Apache Spark how to find max GSPC price?
