%a(href='/posts/code_challenge2015_0919')  What is 2015_0919 Code Challenge?
%a(href='/posts/code_challenge2015_1108')  What is 2015_1108 Code Challenge?
%a(href='/posts/h2o_spark_schemardd_fromcsv')  In H2O Sparkling-Water how to create Spark SchemaRDD from CSV?
%a(href='/posts/code_challenge2015_1206')  What is 2015_1206 Code Challenge?
%a(href='/posts/code_challenge2015_1010')  What is 2015_1010 Code Challenge?
%a(href='/posts/code_challenge2015_1212')  What is 2015_1212 Code Challenge?
%a(href='/posts/h2o_spark_dataframe_timesplit')  In H2O Sparkling-Water how does TimeSplit work?
%a(href='/posts/code_challenge2015_1227')  What is 2015_1227 Code Challenge?
%a(href='/posts/code_challenge2015_1122')  What is 2015_1122 Code Challenge?
%a(href='/posts/code_challenge2015_0926')  What is 2015_0926 Code Challenge?
%a(href='/posts/python_pandas101')  How to do Pandas101 class?
%a(href='/posts/code_challenge2015_1101')  What is 2015_1101 Code Challenge?
%a(href='/posts/scikit_knn_eur')  How to run scikit knn demo from forex611.com?
%a(href='/posts/h2o_spark_convert_rdd2dataframe')  In H2O how to convert Spark RDD to DataFrame?
%a(href='/posts/code_challenge2016_0103')  What is 2016_0103 Code Challenge?
%a(href='/posts/python_sklearn101')  How to do sklearn101 class?
%a(href='/posts/erlang_elixer_install')  On Ubuntu how to install Erlang and Elixir?
%a(href='/posts/h2o_spark_dataframe_timetransform')  In H2O Sparkling-Water how does TimeTransform work?
%a(href='/posts/h2o_spark_dataframe_get_column')  In H2O Sparkling-Water how to get one column from DataFrame?
%a(href='/posts/h2o_spark_sql')  In Spark how to query my data with SQL?
%a(href='/posts/code_challenge2015_1018')  What is 2015_1018 Code Challenge?
%a(href='/posts/code_challenge2015_0912')  What is 2015_0912 Code Challenge?
%a(href='/posts/code_challenge2015_1128')  What is 2015_1128 Code Challenge?
%a(href='/posts/code_challenge2015_1024')  What is 2015_1024 Code Challenge?
%a(href='/posts/python_numpy_understand')  In Python how to better understand NumPy?
%a(href='/posts/python_numpy101')  In Python how to better understand NumPy?
%a(href='/posts/code_challenge2015_1220')  What is 2015_1220 Code Challenge?
%a(href='/posts/python_ml101')  How to do ml101 class?
