%a(href='/posts/meteor')  How I install Meteor?
%a(href='/posts/meteor_rickshaw')  How to mix Meteor with Rickshaw?
%a(href='/posts/meteor_rickshaw2')  How to mix Rickshaw with Meteor Template?
%a(href='/posts/node_meteor')  How to access Node.js in Meteor.js?
%a(href='/posts/meteor_cat_jpg')  How to use Meteor to serve a cat jpg?
