%a(href='/posts/meteor_rickshaw')  How to mix Meteor with Rickshaw?
%a(href='/posts/meteor_rickshaw2')  How to mix Rickshaw with Meteor Template?
%a(href='/posts/meteor_rickshaw')  How to mix Meteor with Rickshaw?
%a(href='/posts/meteor_rickshaw2')  How to mix Rickshaw with Meteor Template?
%a(href='/posts/meteor_rickshaw')  How to mix Meteor with Rickshaw?
%a(href='/posts/meteor_rickshaw2')  How to mix Rickshaw with Meteor Template?
