%a(href='/posts/lua_namespace')  In Lua how I namespace a function?
%a(href='/posts/lua_namespace')  In Lua how I namespace a function?
%a(href='/posts/lua_namespace')  In Lua how I namespace a function?
