%a(href='/posts/lua_true_false')  Can Lua conditionals branch on non-booleans?
%a(href='/posts/lua_data_types')  Lua has what data types?
%a(href='/posts/lua_globalvar')  In Lua can I access non-existent global?
%a(href='/posts/ruby_array_no_nil')  In Ruby how do I remove nils from an Array?
