%a(href='/posts/lineman_install')  On Ubuntu How to Install Lineman.js?
%a(href='/posts/javascript_csvtojson')  In Node.js how to convert CSV to JSON?
%a(href='/posts/lineman_angular_install')  On Ubuntu How to Install Lineman Angular Template?
%a(href='/posts/nodejs_install')  On Ubuntu How to Install Node.js?
