%a(href='/posts/lineman_angular_coffee')  Ubuntu How to: Lineman Angular Coffee?
%a(href='/posts/phantomjs_howto_scrape')  How to Web Scrape with PhantomJS?
%a(href='/posts/nodejs_app_init')  How to Initialize Node.js App?
%a(href='/posts/grunt_shell_quickstart')  How to Quickstart grunt-shell?
%a(href='/posts/lineman_install')  On Ubuntu How to Install Lineman.js?
%a(href='/posts/shelljs_howto')  How to use ShellJS?
%a(href='/posts/javascript_csvtojson')  In Node.js how to convert CSV to JSON?
%a(href='/posts/lineman_angular_install')  On Ubuntu How to Install Lineman Angular Template?
%a(href='/posts/nodejs_install')  On Ubuntu How to Install Node.js?
