%a(href='/posts/phantomjs_howto_scrape')  How to Web Scrape with PhantomJS?
%a(href='/posts/nodejs_app_init')  How to Initialize Node.js App?
%a(href='/posts/node_meteor')  How to access Node.js in Meteor.js?
%a(href='/posts/grunt_shell_quickstart')  How to Quickstart grunt-shell?
%a(href='/posts/shelljs_howto')  How to use ShellJS?
