%a(href='/posts/ruby_write2file')  In Ruby how do I write to a file?
%a(href='/posts/ruby_edit_file')  How do I use Ruby to edit several files?
%a(href='/posts/haml_json')  How do I read JSON into HAML?
