%a(href='/posts/pandas_where')  In Pandas how do I apply WHERE?
%a(href='/posts/python_pandas_max')  In Python how to find max of GSPC?
%a(href='/posts/python101')  In Python101 class, where is the Python we study?
%a(href='/posts/python_pandas_sort')  In Python Pandas how do I sort?
%a(href='/posts/python_pandas101')  How to do Pandas101 class?
%a(href='/posts/python_preso')  How to use Stock Market to Learn Python?
%a(href='/posts/python_pandas_list')  In Python how do I create a list from Pandas?
%a(href='/posts/pandas_group_by')  In Pandas how do I apply GROUP BY?
%a(href='/posts/python_sklearn101')  How to do sklearn101 class?
%a(href='/posts/python_pandas_read_csv')  In Python Pandas how do I read a CSV file?
%a(href='/posts/python_numpy_understand')  In Python how to better understand NumPy?
%a(href='/posts/python_numpy101')  In Python how to better understand NumPy?
%a(href='/posts/numpy_where')  In Numpy how do I apply WHERE?
%a(href='/posts/python_sklearn_knn_iris')  In Python scikit-learn KNN how to understand knn.predict_proba(x_oos)?
%a(href='/posts/python_ml101')  How to do ml101 class?
