%a(href='/posts/spark_whatis_rdd')  In Apache Spark what is RDD?
%a(href='/posts/spark_flatmap')  In Spark what does flatMap() do?
%a(href='/posts/spark_reducebykey')  In Spark what does reduceByKey() do?
