%a(href='/posts/shell101_useradd')  In Linux101 how to useradd ann?
%a(href='/posts/shell101_root')  In Linux101 how to login as root?
%a(href='/posts/shell101_root')  In Linux101 how to login as root?
%a(href='/posts/shell101_useradd')  In Linux101 how to useradd ann?
%a(href='/posts/shell101_root')  In Linux101 how to login as root?
%a(href='/posts/shell101_useradd')  In Linux101 how to useradd ann?
