%a(href='/posts/shell101')  In Linux101 how to learn shell?
%a(href='/posts/python_import_fail')  In Python how to fix ImportError?
%a(href='/posts/python_import_fail')  In Python how to fix ImportError?
%a(href='/posts/shell101')  In Linux101 how to learn shell?
%a(href='/posts/python_import_fail')  In Python how to fix ImportError?
%a(href='/posts/shell101')  In Linux101 how to learn shell?
