%a(href='/posts/python_quicksort')  In Python how to Quicksort?
%a(href='/posts/quantiacs_on_linux_lesson3')  Quantiacs On Linux Lesson 3?
%a(href='/posts/python_preso_questions')  What are the Python Preso Questions? 
%a(href='/posts/quantiacs_on_linux_lesson4')  Quantiacs On Linux Lesson 4?
%a(href='/posts/python_pdb')  In Python debugger, how do I step through a running script?
%a(href='/posts/python_numpy_understand')  In Python how to better understand NumPy?
%a(href='/posts/python_numpy101')  In Python how to better understand NumPy?
