%a(href='/posts/matplotlib_no_popup_window')  In Python Matplotlib how do I plot to image with no pop-up window?
%a(href='/posts/matplotlib_no_popup_window')  In Python Matplotlib how do I plot to image with no pop-up window?
%a(href='/posts/matplotlib_no_popup_window')  In Python Matplotlib how do I plot to image with no pop-up window?
