%a(href='/posts/postgres_unixtime')  With Postgres how do I convert a date to unixtime?
%a(href='/posts/postgres_mongo')  How to compare PostgreSQL to MongoDB?
%a(href='/posts/postgres_json1')  With Postgres how do I generate JSON?
%a(href='/posts/pl_java_postgres_centos')  How to install PL/Java on Postgres 9.5 on Centos 6.5?
%a(href='/posts/linux101_cclud_sshd')  In Linux101 how to CCLUD Services?
