%a(href='/posts/truefx_postgres')  How do I copy truefx data into Postgres?
%a(href='/posts/postgres_table2csv')  In Postgres, how do I copy a table to a CSV file?
%a(href='/posts/postgres_unixtime')  With Postgres how do I convert a date to unixtime?
%a(href='/posts/postgres_json1')  With Postgres how do I generate JSON?
