%a(href='/posts/postgres_unixtime')  With Postgres how do I convert a date to unixtime?
%a(href='/posts/linux101_cclud_sshd')  In Linux101 how to CCLUD Services?
%a(href='/posts/postgres_json1')  With Postgres how do I generate JSON?
