%a(href='/posts/postgres_unixtime')  With Postgres how do I convert a date to unixtime?
%a(href='/posts/postgres_json1')  With Postgres how do I generate JSON?
%a(href='/posts/postgres_unixtime')  With Postgres how do I convert a date to unixtime?
%a(href='/posts/postgres_json1')  With Postgres how do I generate JSON?
