%a(href='/posts/matplotlib3sets1plot')  In Python Matplotlib how do I plot 3 y-values on 1 plot?
%a(href='/posts/python_preso')  How to use Stock Market to Learn Python?
%a(href='/posts/python_preso_questions')  What are the Python Preso Questions? 
%a(href='/posts/matplotlib_no_popup_window')  In Python Matplotlib how do I plot to image with no pop-up window?
%a(href='/posts/plot_datetime')  In Python Matplotlib how do I plot a time series?
