%a(href='/posts/rails_highlight_pre_code_syntax')  How do I highlight Python syntax inside an HTML code-element served by a Rails application?
%a(href='/posts/plot_datetime')  In Python Matplotlib how do I plot a time series?
%a(href='/posts/python_pandas101')  How to do Pandas101 class?
%a(href='/posts/python_ins_zipline')  How do I install Quantopian Zipline?
%a(href='/posts/aerospike_expire_record')  In Aerospike how to create temporary data?
%a(href='/posts/matplotlib_no_popup_window')  In Python Matplotlib how do I plot to image with no pop-up window?
%a(href='/posts/lua_dash_e')  From Bash how to run 1 Lua command?
%a(href='/posts/spark_howto_install')  Spark, how to install it?
%a(href='/posts/scikit_knn_eur')  How to run scikit knn demo from forex611.com?
%a(href='/posts/python_pandas_max')  In Python how to find max of GSPC?
%a(href='/posts/python_future')  In Python what does __future__ do?
%a(href='/posts/python_numpy_loadtxt')  In Python NumPy, how do I load a CSV file?
%a(href='/posts/python_ruby_map')  In Python how do I mimic the Ruby .map method?
%a(href='/posts/python101')  In Python101 class, where is the Python we study?
%a(href='/posts/python_sklearn_knn_iris')  In Python scikit-learn KNN how to understand knn.predict_proba(x_oos)?
%a(href='/posts/python_str_interpolate')  In Python, how do I embed variables within a string?
%a(href='/posts/python_zipline_demo1')  How do I demo Quantopian Zipline?
%a(href='/posts/matplotlib3sets1plot')  In Python Matplotlib how do I plot 3 y-values on 1 plot?
%a(href='/posts/python_datetime2epoch')  In Python how do I convert a datetime to unix-time?
%a(href='/posts/python_ml101')  How to do ml101 class?
%a(href='/posts/python_wget')  In Python how do I wget a web page URL?
%a(href='/posts/python_fix_curl')  How to fix anaconda curl certificate bug?
%a(href='/posts/python_lists2numpy')  In Python NumPy how do I create Array from Lists?
%a(href='/posts/python_pandas_sort')  In Python Pandas how do I sort?
%a(href='/posts/pandas_where')  In Pandas how do I apply WHERE?
%a(href='/posts/spark_howto_txt2rdd')  In Apache Spark how to create RDD from text file?
%a(href='/posts/python_pdb')  In Python debugger, how do I step through a running script?
%a(href='/posts/python_pandas_list')  In Python how do I create a list from Pandas?
%a(href='/posts/aerospike_python_crud')  In Aerospike how I do CRUD with Python?
%a(href='/posts/python_numpy_understand')  In Python how to better understand NumPy?
%a(href='/posts/python_import_fail')  In Python how to fix ImportError?
%a(href='/posts/python_str2datetime')  In Python how do I convert a string to a datetime?
%a(href='/posts/python_numpy_subset')  In Python NumPy, how do I get Array subset?
%a(href='/posts/python_sklearn101')  How to do sklearn101 class?
%a(href='/posts/python_numpy2list')  In Python NumPy how do I create a List from Array?
%a(href='/posts/python_lambda')  In Python what is lambda?
%a(href='/posts/python_unixtime2datetime')  In Python how do I convert unix-time to datetime?
%a(href='/posts/spark_whatis_rdd')  In Apache Spark what is RDD?
%a(href='/posts/pandas_group_by')  In Pandas how do I apply GROUP BY?
%a(href='/posts/python_numpy101')  In Python how to better understand NumPy?
%a(href='/posts/numpy_where')  In Numpy how do I apply WHERE?
%a(href='/posts/spark_max_gspc')  In Apache Spark how to find max GSPC price?
%a(href='/posts/python_pandas_read_csv')  In Python Pandas how do I read a CSV file?
%a(href='/posts/python_call_shell')  How do I call Shell from Python?
%a(href='/posts/python_numpy2csv')  In Python NumPy how do I write Array to CSV?
