%a(href='/posts/rails_highlight_pre_code_syntax')  How do I highlight Python syntax inside an HTML code-element served by a Rails application?
%a(href='/posts/python_numpy_loadtxt')  In Python NumPy, how do I load a CSV file?
%a(href='/posts/python_str2datetime')  In Python how do I convert a string to a datetime?
%a(href='/posts/python_pdb')  In Python debugger, how do I step through a running script?
%a(href='/posts/python_numpy_subset')  In Python NumPy, how do I get Array subset?
%a(href='/posts/python_ruby_map')  In Python how do I mimic the Ruby .map method?
%a(href='/posts/python_str_interpolate')  In Python, how do I embed variables within a string?
%a(href='/posts/python_datetime2epoch')  In Python how do I convert a datetime to unix-time?
