%a(href='/posts/quantiacs_on_linux_lesson2')  Quantiacs On Linux Lesson 2?
%a(href='/posts/quantiacs_on_linux_lesson3')  Quantiacs On Linux Lesson 3?
%a(href='/posts/quantiacs_on_linux_lesson4')  Quantiacs On Linux Lesson 4?
%a(href='/posts/quantiacs_on_linux_lesson1')  Quantiacs On Linux Lesson 1?
