%a(href='/posts/spark_max_gspc')  In Apache Spark how to find max GSPC price?
%a(href='/posts/spark_whatis_rdd')  In Apache Spark what is RDD?
%a(href='/posts/spark_flatmap')  In Spark what does flatMap() do?
%a(href='/posts/spark_schemardd')  In Apache Spark what is SchemaRDD?
%a(href='/posts/spark_reducebykey')  In Spark what does reduceByKey() do?
%a(href='/posts/spark_howto_txt2rdd')  In Apache Spark how to create RDD from text file?
