%a(href='/posts/python_lambda')  In Python what is lambda?
%a(href='/posts/spark_whatis_rdd')  In Apache Spark what is RDD?
%a(href='/posts/spark_reducebykey')  In Spark what does reduceByKey() do?
%a(href='/posts/spark_max_gspc')  In Apache Spark how to find max GSPC price?
