%a(href='/posts/meteor_rickshaw')  How to mix Meteor with Rickshaw?
%a(href='/posts/code_challenge2015_1018')  What is 2015_1018 Code Challenge?
%a(href='/posts/meteor_rickshaw2')  How to mix Rickshaw with Meteor Template?
