%a(href='/posts/shell101_useradd')  In Linux101 how to useradd ann?
%a(href='/posts/virtualbox_why_tiny')  VirtualBox Screen is Tiny, Why?
%a(href='/posts/shell101_root')  In Linux101 how to login as root?
