%a(href='/posts/ruby_array_hashes_sort_by')  In Ruby how do I sort an array of hashes?
%a(href='/posts/rails_runner')  In Rails how do I run a Ruby script with the Rails environment loaded?
%a(href='/posts/ruby_write2file')  In Ruby how do I write to a file?
%a(href='/posts/ruby_dir_loop')  In Ruby how do I build a loop from a directory full of files?
%a(href='/posts/rails_debugger')  In Rails 4.x how do I step through Ruby code using a debugger?
%a(href='/posts/ruby_datetime_strptime')  In Ruby how do I convert string to DateTime?
%a(href='/posts/haml_json')  How do I read JSON into HAML?
%a(href='/posts/ruby_regexp_match')  In Ruby how do I match a regular expression and a string?
%a(href='/posts/heroku_buildpack')  On Heroku, how do I install the sqlite3 gem?
%a(href='/posts/python_ruby_map')  In Python how do I mimic the Ruby .map method?
%a(href='/posts/ruby_read_csv')  In Ruby how do I read data from CSV file?
%a(href='/posts/ruby_edit_file')  How do I use Ruby to edit several files?
%a(href='/posts/ruby_array_no_nil')  In Ruby how do I remove nils from an Array?
%a(href='/posts/python_str_interpolate')  In Python, how do I embed variables within a string?
%a(href='/posts/bundle_bin')  In Bundler how do I binstub a gem subset?
