%a(href='/posts/h2o_droplet')  In H2O how to breakpoint droplet in IntelliJ?
%a(href='/posts/spark_whatis_rdd')  In Apache Spark what is RDD?
%a(href='/posts/sparkpi_what_happens')  SparkPi example, what happens?
%a(href='/posts/spark_howto_install')  Spark, how to install it?
%a(href='/posts/h2o_sparkwater')  In H2O How to start Sparkling Shell?
%a(href='/posts/h2o_sparkwater_citibike_scala')  In H2O how to run citibike demo?
