%a(href='/posts/lua_upvalue')  In Lua what is an upvalue?
%a(href='/posts/lua_forward_declare')  In Lua what is a forward declared function?
%a(href='/posts/lua_namespace')  In Lua how I namespace a function?
%a(href='/posts/lua_namespace')  In Lua how I namespace a function?
%a(href='/posts/lua_forward_declare')  In Lua what is a forward declared function?
%a(href='/posts/lua_upvalue')  In Lua what is an upvalue?
