%a(href='/posts/code_challenge2015_1024')  What is 2015_1024 Code Challenge?
%a(href='/posts/d3csv_howto1')  In D3.js How To Build HTML Table with CSV? 
%a(href='/posts/code_challenge2015_1018')  What is 2015_1018 Code Challenge?
%a(href='/posts/code_challenge2015_1010')  What is 2015_1010 Code Challenge?
