%a(href='/posts/bash_date_in_filename')  In Bash how do I place date-string in filename?
%a(href='/posts/python_call_shell')  How do I call Shell from Python?
%a(href='/posts/h2o_sparkwater')  In H2O How to start Sparkling Shell?
%a(href='/posts/h2o_sparkwater_citibike_scala')  In H2O how to run citibike demo?
