%a(href='/posts/shell101_awk')  In Shell101 how to awk Yahoo CSV?
%a(href='/posts/shell101_wget')  In Shell101 how to wget Yahoo CSV?
%a(href='/posts/shell101_loop')  In Shell101 how to write Bash for-loop?
%a(href='/posts/shell101_whileloop')  In Shell101 how to write Bash while-loop?
%a(href='/posts/shell101_wget')  In Shell101 how to wget Yahoo CSV?
%a(href='/posts/shell101_whileloop')  In Shell101 how to write Bash while-loop?
%a(href='/posts/shell101_loop')  In Shell101 how to write Bash for-loop?
%a(href='/posts/shell101_awk')  In Shell101 how to awk Yahoo CSV?
