%a(href='/posts/postgres_unixtime')  With Postgres how do I convert a date to unixtime?
%a(href='/posts/spark_sql_parquet')  In Apache Spark how to SQL Parquet?
%a(href='/posts/pandas_where')  In Pandas how do I apply WHERE?
%a(href='/posts/postgres_table2csv')  In Postgres, how do I copy a table to a CSV file?
%a(href='/posts/postgres_json1')  With Postgres how do I generate JSON?
%a(href='/posts/pandas_group_by')  In Pandas how do I apply GROUP BY?
%a(href='/posts/h2o_spark_sql')  In Spark how to query my data with SQL?
%a(href='/posts/spark_schemardd')  In Apache Spark what is SchemaRDD?
%a(href='/posts/truefx_postgres')  How do I copy truefx data into Postgres?
%a(href='/posts/numpy_where')  In Numpy how do I apply WHERE?
