%a(href='/posts/rails_heroku_sqlite_readonly')  In Rails/Heroku how do I access read-only sqlite db?
%a(href='/posts/heroku_buildpack')  On Heroku, how do I install and use the sqlite3 gem in a Rails-app?
