%a(href='/posts/python_sklearn101')  How to do sklearn101 class?
%a(href='/posts/shell101_paste_sqlite3')  In Shell101 how to use paste and sqlite3?
%a(href='/posts/rails_heroku_sqlite')  On Heroku/Rails how do I implement sqlite3?
%a(href='/posts/python_ml101')  How to do ml101 class?
%a(href='/posts/python_pandas101')  How to do Pandas101 class?
%a(href='/posts/python_pandas101')  How to do Pandas101 class?
%a(href='/posts/rails_heroku_sqlite')  On Heroku/Rails how do I implement sqlite3?
%a(href='/posts/python_ml101')  How to do ml101 class?
%a(href='/posts/python_sklearn101')  How to do sklearn101 class?
%a(href='/posts/shell101_paste_sqlite3')  In Shell101 how to use paste and sqlite3?
