%a(href='/posts/linux101_cclud_sshd')  In Linux101 how to CCLUD Services?
%a(href='/posts/scikit_knn_eur')  How to run scikit knn demo from forex611.com?
%a(href='/posts/code_challenge2015_0919')  What is 2015_0919 Code Challenge?
