%a(href='/posts/code_challenge2015_0919')  What is 2015_0919 Code Challenge?
%a(href='/posts/code_challenge2015_1108')  What is 2015_1108 Code Challenge?
%a(href='/posts/code_challenge2015_1010')  What is 2015_1010 Code Challenge?
%a(href='/posts/code_challenge2015_0926')  What is 2015_0926 Code Challenge?
%a(href='/posts/code_challenge2015_1101')  What is 2015_1101 Code Challenge?
%a(href='/posts/scikit_knn_eur')  How to run scikit knn demo from forex611.com?
%a(href='/posts/code_challenge2015_1018')  What is 2015_1018 Code Challenge?
%a(href='/posts/linux101_cclud_sshd')  In Linux101 how to CCLUD Services?
%a(href='/posts/code_challenge2015_1024')  What is 2015_1024 Code Challenge?
