%a(href='/posts/ruby_datetime_strptime')  In Ruby how do I convert string to DateTime?
%a(href='/posts/lua_string_specials')  In Lua what about special characters in strings?
%a(href='/posts/python_numpy101')  In Python how to better understand NumPy?
%a(href='/posts/lua_data_types')  Lua has what data types?
%a(href='/posts/lua_concat')  In Lua how to concatenate?
%a(href='/posts/aerospike_create_index')  In Aerospike, how to create index?
%a(href='/posts/lua_find_string')  In Lua how to find string2 in string1?
%a(href='/posts/python_numpy_understand')  In Python how to better understand NumPy?
%a(href='/posts/lua_slice_string')  In Lua how to slice string2 from string1?
%a(href='/posts/python_str_interpolate')  In Python, how do I embed variables within a string?
%a(href='/posts/python_str2datetime')  In Python how do I convert a string to a datetime?
%a(href='/posts/lua_true_false')  Can Lua conditionals branch on non-booleans?
%a(href='/posts/python_numpy_understand')  In Python how to better understand NumPy?
%a(href='/posts/lua_slice_string')  In Lua how to slice string2 from string1?
%a(href='/posts/lua_string_specials')  In Lua what about special characters in strings?
%a(href='/posts/lua_concat')  In Lua how to concatenate?
%a(href='/posts/python_numpy101')  In Python how to better understand NumPy?
%a(href='/posts/python_str2datetime')  In Python how do I convert a string to a datetime?
%a(href='/posts/lua_find_string')  In Lua how to find string2 in string1?
%a(href='/posts/python_str_interpolate')  In Python, how do I embed variables within a string?
%a(href='/posts/aerospike_create_index')  In Aerospike, how to create index?
%a(href='/posts/lua_data_types')  Lua has what data types?
%a(href='/posts/ruby_datetime_strptime')  In Ruby how do I convert string to DateTime?
%a(href='/posts/lua_true_false')  Can Lua conditionals branch on non-booleans?
