%a(href='/posts/python_str2datetime')  In Python how do I convert a string to a datetime?
%a(href='/posts/lua_true_false')  Can Lua conditionals branch on non-booleans?
%a(href='/posts/lua_data_types')  Lua has what data types?
%a(href='/posts/lua_string_specials')  In Lua what about special characters in strings?
%a(href='/posts/ruby_datetime_strptime')  In Ruby how do I convert string to DateTime?
%a(href='/posts/python_str_interpolate')  In Python, how do I embed variables within a string?
