%a(href='/posts/python_call_shell')  How do I call Shell from Python?
%a(href='/posts/python_numpy_understand')  In Python how to better understand NumPy?
%a(href='/posts/python_numpy101')  In Python how to better understand NumPy?
