%a(href='/posts/python_wget')  In Python how do I wget a web page URL?
%a(href='/posts/python_call_shell')  How do I call Shell from Python?
%a(href='/posts/python_wget')  In Python how do I wget a web page URL?
%a(href='/posts/python_call_shell')  How do I call Shell from Python?
%a(href='/posts/python_wget')  In Python how do I wget a web page URL?
%a(href='/posts/python_call_shell')  How do I call Shell from Python?
