%a(href='/posts/lua_dot_does_what')  In Lua what does dot do?
%a(href='/posts/lua_data_types')  Lua has what data types?
%a(href='/posts/lua_packages_table')  How does Lua store packages?
%a(href='/posts/lua_copy_table')  In Lua how to copy table?
