%a(href='/posts/lua_dot_does_what')  In Lua what does dot do?
%a(href='/posts/lua_table_sort')  In Lua how to sort table?
%a(href='/posts/lua_data_types')  Lua has what data types?
%a(href='/posts/lua_packages_table')  How does Lua store packages?
%a(href='/posts/lua_table_forloop')  In Lua how to drive forloop with table?
%a(href='/posts/lua_table_initialize')  In Lua how to initialize table?
%a(href='/posts/lua_copy_table')  In Lua how to copy table?
