%a(href='/posts/matplotlib3sets1plot')  In Python Matplotlib how do I plot 3 y-values on 1 plot?
%a(href='/posts/angular2class2016_0214')  How to Connect Angular2 with Firebase?
%a(href='/posts/angular2class2016_0220')  How to Simply Authenticate an Angular2 User?
%a(href='/posts/angular2class2016_0207')  How to Start Learning Angular2 Tour Of Heros?
