%a(href='/posts/h2o_howto')  How to run H2O?
%a(href='/posts/nginx_simple_howto')  On Linux, Simplest NGINX How to?
%a(href='/posts/h2o_sparkwater')  In H2O How to start Sparkling Shell?
%a(href='/posts/h2o_r_howto')  How to install H2O R package?
%a(href='/posts/h2o_droplet')  In H2O how to breakpoint droplet in IntelliJ?
%a(href='/posts/python_ins_zipline')  How do I install Quantopian Zipline?
%a(href='/posts/h2o_sparkwater_citibike_scala')  In H2O how to run citibike demo?
%a(href='/posts/linux101_cclud_pkg')  In Linux101 how to CCLUD Linux Packages?
%a(href='/posts/r_install_src')  How to install R from source?
%a(href='/posts/nodejs_install')  On Ubuntu How to Install Node.js?
