%a(href='/posts/python_ins_zipline')  How do I install Quantopian Zipline?
%a(href='/posts/h2o_howto')  How to run H2O?
%a(href='/posts/h2o_r_howto')  How to install H2O R package?
%a(href='/posts/r_install_src')  How to install R from source?
