%a(href='/posts/bash_loop_files')  In Bash, how do I loop through a directory of files?
%a(href='/posts/quantiacs_on_linux_lesson2')  Quantiacs On Linux Lesson 2?
%a(href='/posts/quantiacs_on_linux_lesson4')  Quantiacs On Linux Lesson 4?
%a(href='/posts/truefx_postgres')  How do I copy truefx data into Postgres?
%a(href='/posts/quantiacs_on_linux_lesson1')  Quantiacs On Linux Lesson 1?
%a(href='/posts/quantiacs_on_linux_lesson3')  Quantiacs On Linux Lesson 3?
