%a(href='/posts/lua_val2key')  In Lua how to switch keys-values in table?
%a(href='/posts/lua_val2key')  In Lua how to switch keys-values in table?
%a(href='/posts/lua_val2key')  In Lua how to switch keys-values in table?
