%a(href='/posts/lua_pass_variable_args')  In Lua how to pass variable args to function?
%a(href='/posts/lua_upvalue')  In Lua what is an upvalue?
%a(href='/posts/lua_decorate_function')  In Lua how to decorate a function?
%a(href='/posts/shell101')  In Linux101 how to learn shell?
%a(href='/posts/lua_namespace')  In Lua how I namespace a function?
%a(href='/posts/lua_forward_declare')  In Lua what is a forward declared function?
