%a(href='/posts/shell101_vi')  In Linux101 how to use vi editor?
%a(href='/posts/shell101_vi_bashrc')  In Linux101 how to vi ~ann/.bashrc ?
%a(href='/posts/shell101_vi_bash_aliases')  In Shell101 why .bash_aliases ?
%a(href='/posts/shell101_emacs')  In Linux101 how to install and use Emacs?
