%a(href='/posts/virtualbox_guestadditions')  How to install Guest Additions on Linux?
%a(href='/posts/ann101i_network_bridge')  How to Setup ann101i Network Bridge?
%a(href='/posts/python_preso')  How to use Stock Market to Learn Python?
%a(href='/posts/virtualbox_why_tiny')  VirtualBox Screen is Tiny, Why?
%a(href='/posts/python_preso_questions')  What are the Python Preso Questions? 
%a(href='/posts/vbox_linux_python')  How to Start With VirtualBox, Linux, Python?
