%a(href='/posts/python_wget')  In Python how do I wget a web page URL?
%a(href='/posts/erlang_elixer_install')  On Ubuntu how to install Erlang and Elixir?
%a(href='/posts/shell101_wget')  In Shell101 how to wget Yahoo CSV?
%a(href='/posts/python_pandas_read_csv')  In Python Pandas how do I read a CSV file?
