%a(href='/posts/numpy_where')  In Numpy how do I apply WHERE?
%a(href='/posts/pandas_where')  In Pandas how do I apply WHERE?
%a(href='/posts/pandas_group_by')  In Pandas how do I apply GROUP BY?
%a(href='/posts/pandas_where')  In Pandas how do I apply WHERE?
%a(href='/posts/pandas_group_by')  In Pandas how do I apply GROUP BY?
%a(href='/posts/numpy_where')  In Numpy how do I apply WHERE?
