%a(href='/posts/python_pandas_max')  In Python how to find max of GSPC?
%a(href='/posts/shell101_awk')  In Shell101 how to awk Yahoo CSV?
%a(href='/posts/shell101_wget')  In Shell101 how to wget Yahoo CSV?
