%a(href='/posts/linux101_cclud_pkg')  In Linux101 how to CCLUD Linux Packages?
%a(href='/posts/nvidia_cuda75_centos')  How to install Nvidia Cuda 7.5 on CentOS 7?
%a(href='/posts/pl_java_postgres_centos')  How to install PL/Java on Postgres 9.5 on Centos 6.5?
