%hr/
%h2 Challenge 29
- cc1018 = "#{Rails.root}/app/views/code_challenge2015_1018"
Your challenge: understand what this HAML does:
%pre
  %code.haml.sbar999
    = IO.binread("#{cc1018}/demo29.haml")
The above HAML is deployed at this URL:
%br/
%a(href='https://dojo650.herokuapp.com/app/demo29.html' target='x')
  https://dojo650.herokuapp.com/app/demo29.html
%br/
%h2 Challenge 29 Questions:
%ul
  %li Do I need to place an X-Axis before I place a Y-Axis?


