%hr/
%h2 Challenge 12
- cc1018 = "#{Rails.root}/app/views/code_challenge2015_1018"
Your challenge: understand what this HAML does:
%pre
  %code.haml
    = IO.binread("#{cc1018}/demo12.haml")
The above HAML is deployed at this URL:
%br/
%a(href='https://dojo650.herokuapp.com/app/demo12.html' target='x')
  https://dojo650.herokuapp.com/app/demo12.html
%br/
%h2 Challenge 12 Questions:
%ul
  %li What is a stacked area chart?
  %li Stacked vs Un-Stacked: What is the difference?
  %li Does Rickshaw support stacked line chart?


