%hr/
%h2 Challenge 20
- cc1018 = "#{Rails.root}/app/views/code_challenge2015_1018"
Your challenge: understand what this HAML does:
%pre
  %code.haml
    = IO.binread("#{cc1018}/demo20.haml")
The above HAML is deployed at this URL:
%br/
%a(href='https://dojo650.herokuapp.com/app/demo20.html' target='x')
  https://dojo650.herokuapp.com/app/demo20.html
%br/
%h2 Challenge 20 Questions:
%ul
  %li Is HoverDetail easier to code than Legend?


