%hr/
%h2 Challenge 31
- cc1018 = "#{Rails.root}/app/views/code_challenge2015_1018"
Your challenge: understand what this HAML does:
%pre
  %code.haml.sbar999
    = IO.binread("#{cc1018}/demo31.haml")
The above HAML is deployed at this URL:
%br/
%a(href='https://dojo650.herokuapp.com/app/demo31.html' target='x')
  https://dojo650.herokuapp.com/app/demo31.html
%br/
%h2 Challenge 31 Questions:
%ul
  %li In HAML, how to make a radio button?
  %li In demo31, which values does the JS expect from radio buttons?
  %li In demo31, how does the JS get data from radio buttons?
  %li How many event listeners does demo31 have?
  %li In demo31.haml, how to move radio buttons to below legend?
  %li In demo31, do you like the look of the Y-Axis?
