%hr/
%h2 Challenge 14
- cc1018 = "#{Rails.root}/app/views/code_challenge2015_1018"
Your challenge: understand what this HAML does:
%pre
  %code.haml
    = IO.binread("#{cc1018}/demo14.haml")
The above HAML is deployed at this URL:
%br/
%a(href='https://dojo650.herokuapp.com/app/demo14.html' target='x')
  https://dojo650.herokuapp.com/app/demo14.html
%br/
%h2 Challenge 14 Questions:
%ul
  %li Where are the bugs in demo14?
  %li Does demo14 change behavior after bugs removed?

