%hr/
%h2 Challenge 19
- cc1018 = "#{Rails.root}/app/views/code_challenge2015_1018"
Your challenge: understand what this HAML does:
%pre
  %code.haml
    = IO.binread("#{cc1018}/demo19.haml")
The above HAML is deployed at this URL:
%br/
%a(href='https://dojo650.herokuapp.com/app/demo19.html' target='x')
  https://dojo650.herokuapp.com/app/demo19.html
%br/
%h2 Challenge 19 Questions:
%ul
  %li Traditionally a legend does what to a chart?
  %li In demo19 what does it additionally do?
  %li To add a legend what HAML changes do I make?
  %li To add a legend what CSS changes do I make?
  %li To add a legend what JS changes do I make?
  %li How does the legend 'know' which series has which color?
