%hr/
%h2 Challenge 17
- cc1018 = "#{Rails.root}/app/views/code_challenge2015_1018"
Your challenge: understand what this HAML does:
%pre
  %code.haml
    = IO.binread("#{cc1018}/demo17.haml")
The above HAML is deployed at this URL:
%br/
%a(href='https://dojo650.herokuapp.com/app/demo17.html' target='x')
  https://dojo650.herokuapp.com/app/demo17.html
%br/
%h2 Challenge 17 Questions:
%ul
  %li Do un-stacked bars have same problem as un-stacked areas?
  %li When might un-stacked bars be a bad idea?


