%hr/
%h2 Challenge 13
- cc1024 = "#{Rails.root}/app/views/code_challenge2015_1024"
Your challenge: understand what this HAML does:
%pre
  %code.haml
    = IO.binread("#{cc1024}/boxplots.haml")
The above HAML is deployed at this URL:
%br/
%a(href='https://sjc408.herokuapp.com/boxplots/boxplots.html' target='x')
  https://sjc408.herokuapp.com/boxplots/boxplots.html
%br/
%h2 Challenge 13 Questions:
%ul
  %li How would a Data Scientist describe a boxplot?
  %li Will a boxplot tell me if a distribution is asymmetric?
  %li Would a boxplot of a Gaussian distribution have circles?

  %li
    This syntax:
    %pre
      %code.javascript csv.forEach(something);
    expects something to be what?

  %li
    This syntax:
    %pre
      %code.javascript if (error) throw error;
    does what?

  %li Math.floor(x) does what?
  %li a1.push(x)    does what?
  %li What is opposite of a1.push(x)?
  %li In JS, do I need to add 'then' when I call 'if'?
  %li In JS, do I need to add 'else' when I call 'if'?
  %li In JS, should a Boolean expression be inside parenthesis?
  %li In HTML what is an svg-element?
  %li In D3.js what does attr() do?
  %li When I call attr(), how many arguments should I supply?
  %li What is the g-element?
  %li In SVG when I transform an element, should I use an attribute, CSS, or JS?
  %li What does Math.random() do?
  %li What is interquartile range?

