%hr/
%h2 Challenge 30
- cc1018 = "#{Rails.root}/app/views/code_challenge2015_1018"
Your challenge: understand what this HAML does:
%pre
  %code.haml.sbar950
    = IO.binread("#{cc1018}/demo30.haml")
The above HAML is deployed at this URL:
%br/
%a(href='https://dojo650.herokuapp.com/app/demo30.html' target='x')
  https://dojo650.herokuapp.com/app/demo30.html
%br/
%h2 Challenge 30 Questions:
%ul
  %li In Rickshaw, what is a color palatte?
  %li Why might I call palette.color()?
  %li Where in the JS code do I specify the color of an area, line, or bar?
  %li How is the legend in demo30 is different than the legend in demo19?
  %li The X-Axis in demo30 shows decade values and in demo 29 I see seconds, why?


