%h2 Challenge 13
- cc1018 = "#{Rails.root}/app/views/code_challenge2015_1018"
Your challenge: understand what this HAML does:
%pre
  %code.haml
    = IO.binread("#{cc1018}/demo13.haml")
The above HAML is deployed at this URL:
%br/
%a(href='https://dojo650.herokuapp.com/app/demo13.html' target='x')
  https://dojo650.herokuapp.com/app/demo13.html
%br/
%h2 Challenge 13 Questions:
%ul
  %li How to Un-Stack Area Charts?
  %li Is it a good idea to Un-Stack Area Charts?
  %li What does property, preserve:true do?
