%hr/
%h2 Challenge 22
- cc1018 = "#{Rails.root}/app/views/code_challenge2015_1018"
Your challenge: understand what this HAML does:
%pre
  %code.haml
    = IO.binread("#{cc1018}/demo22.haml")
The above HAML is deployed at this URL:
%br/
%a(href='https://dojo650.herokuapp.com/app/demo22.html' target='x')
  https://dojo650.herokuapp.com/app/demo22.html
%br/
%h2 Challenge 22 Questions:
%ul
  %li What is jQuery UI?
  %li Does Rickshaw create the slider div-element for me?
  %li In demo22, which behavior is the slider missing?


