%hr/
%h2 Challenge 14
- cc1024 = "#{Rails.root}/app/views/code_challenge2015_1024"
Your challenge: understand what this HAML does:
%pre
  %code.haml
    = IO.binread("#{cc1024}/bubbles.haml")
The above HAML is deployed at this URL:
%br/
%a(href='https://sjc408.herokuapp.com/bubbles/bubbles.html' target='x')
  https://sjc408.herokuapp.com/bubbles/bubbles.html
%br/
%h2 Challenge 14 Questions:
%ul
  %li What is the structure of the data which feeds bubbles.haml ?
  %li 

