%hr/
%h2 Challenge 21
- cc1018 = "#{Rails.root}/app/views/code_challenge2015_1018"
Your challenge: understand what this HAML does:
%pre
  %code.haml
    = IO.binread("#{cc1018}/demo21.haml")
The above HAML is deployed at this URL:
%br/
%a(href='https://dojo650.herokuapp.com/app/demo21.html' target='x')
  https://dojo650.herokuapp.com/app/demo21.html
%br/
%h2 Challenge 21 Questions:
%ul
  %li Does HoverDetail interfere with Legend?
  %li Which CSS file helps HoverDetail?
  %li Which CSS file helps Legend?


