<code class='html'><!DOCTYPE html>
<html lang="en" ng-app="">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
    <link href="/app/css/bootstrap.css" rel="stylesheet">
    <link href="/app/css/app.css" rel="stylesheet">
    <script src="/app/js/angular.js"></script>
  </head>
  <body>
    <ul>
      <li>
        <span>Nexus S</span>
        <p>
          Fast just got faster with Nexus S.
        </p>
      </li>
      <li>
        <span>Motorola XOOM™ with Wi-Fi</span>
        <p>
          The Next, Next Generation tablet.
        </p>
      </li>
    </ul>
  </body>
</html>
</code>