%hr/
%h2 Challenge 25
- cc1018 = "#{Rails.root}/app/views/code_challenge2015_1018"
Your challenge: understand what this HAML does:
%pre
  %code.haml
    = IO.binread("#{cc1018}/demo25.haml")
The above HAML is deployed at this URL:
%br/
%a(href='https://dojo650.herokuapp.com/app/demo25.html' target='x')
  https://dojo650.herokuapp.com/app/demo25.html
%br/
%h2 Challenge 25 Questions:
%ul
  %li In Rickshaw, which time format works well for the X-Axis?
  %li In Linux how to get this format from current time?
  %li In Linux how to convert Unix time to human readable time?
  %li When I create xAxis object, how does it know the time series limits?
  %li In demo25, do I need to call xAxis.render()?




