%hr/
%h2 Challenge 10
- cc1024 = "#{Rails.root}/app/views/code_challenge2015_1024"
Your challenge: understand what this HAML does:
%pre
  %code.haml
    = IO.binread("#{cc1024}/crud.haml")
The above HAML is deployed at this URL:
%br/
%a(href='https://sjc408.herokuapp.com/crud.html' target='x')
  https://sjc408.herokuapp.com/crud.html
%br/
%h2 Challenge 10 Questions:
%ul
  %li Which version of D3 is used?
  %li What does select() do?
  %li What does append() do?
  %li What does html()   do?
  %li What does text()   do?
  %li What does remove() do?
  %li Does remove() remove HTML, JS-object, or both, or neither?


