%hr/
%h2 Challenge 33
- cc1018 = "#{Rails.root}/app/views/code_challenge2015_1018"
Your challenge: understand what this HAML does:
%pre
  %code.haml
    = IO.binread("#{cc1018}/demo33.haml")
The above HAML is deployed at this URL:
%br/
%a(href='https://dojo650.herokuapp.com/app/demo33.html' target='x')
  https://dojo650.herokuapp.com/app/demo33.html
%br/
%h2 Challenge 33 Questions:
%ul
  %li How is demo33 different than demo23?

