

/ Next, we learn some Emacs:

%ul
  %li
    %pre
      %code.bash emacs ~ann/.emacs
  %li Experiment with the controls at the top of the emacs window
  
  %li
    Add this syntax to file: ~ann/.emacs
    %pre
      =render 'code_challenge2015_09191'

  %li Figure out how to save and exit
  %li
    Verify your work:
    %pre
      %code.bash cat ~ann/.emacs

  %li
    Start 'bare' emacs:
    %pre
      %code.bash emacs

  %li Start a shell in emacs with ctrl-x then letter 's'.
  %li
    I should see something like this:
    %br/
    %img(src='/images/code_challenge2015_09191.png')
  %li Rename the shell to SHELL1 with esc-key, then letter 'R'
  %li
    I should see something like this:
    %br/
    %img(src='/images/code_challenge2015_09192.png')
  %li List all buffers in my emacs with esc-key, then letter 'm'
  %li
    I should see something like this:
    %br/
    %img(src='/images/code_challenge2015_09193.png')
%br/

I see the buffer-menu as similar to the Mac-Dock, Ubuntu-Launcher or the Windows-Taskbar.

%br/
%br/

The buffer-menu is my favorite emacs feature; it allows my mind to QUICKLY switch focus among three types of objects:
%ul
  %li different shells
  %li different files
  %li different folders

%br/

The buffer-menu floats 'hot' shells, files and folders to the top.

%br/
%br/

This is useful behavior.

%br/
%br/

I mostly do 4 types of tasks on a laptop:
%ul
  %li Interact with file
  %li Interact with folder
  %li Interact with shell
  %li Interact with browser

%br
I can do the first three types inside of emacs.

%br/
%br/

When I coordinate tasks with emacs rather than a Dock, I work much faster (because of the buffer-menu).

%br/
%br/

That sequence of creating a shell, and renaming it is the most difficult task I need to know.

%br/
%br/

All other emacs tasks can be done using mouse and arrow keys.

%br/
%br/

If I am an emacs power-user, I know two ways to use emacs to interact with folders.

%br/
%br/

The GUI-way is to click on the file-cabinet at the top.

%br/
%br/

Another way, which is quicker, is to type command ctrl-x then letter 'f'.

%br/
%br/

I should see something like this:

%br/
%img(src='/images/code_challenge2015_09194.png')
