%h2 Challenge 10
- cc1018 = "#{Rails.root}/app/views/code_challenge2015_1018"
Your challenge: understand what this HAML does:
%pre
  %code.haml
    = IO.binread("#{cc1018}/demo10.haml")
The above HAML is deployed at this URL:
%br/
%a(href='https://dojo650.herokuapp.com/app/demo10.html' target='x')
  https://dojo650.herokuapp.com/app/demo10.html
%br/
%h2 Challenge 10 Questions:
%ul
  %li Which version of D3 is used?
  %li Where does the Rickshaw JS come from?
  %li What kind of element does the chart reside in?
  %li How to tell Rickshaw where to place the chart?
  %li How to change size of chart?
  %li How to change color of chart?
  %li How is area chart different than line chart?
