%hr/
%h2 Challenge 14
- cc1024 = "#{Rails.root}/app/views/code_challenge2015_1024"
Your challenge: understand what this HAML does:
%pre
  %code.haml
    = IO.binread("#{cc1024}/bubbles.haml")
The above HAML is deployed at this URL:
%br/
%a(href='https://sjc408.herokuapp.com/bubbles/bubbles.html' target='x')
  https://sjc408.herokuapp.com/bubbles/bubbles.html
%br/
%h2 Challenge 14 Questions:
%ul
  %li What is the structure of the data which feeds bubbles.haml ?
  %li
    This syntax:
    %pre
      %code.javascript color = d3.scale.category20c();
    does what?

  %li
    This syntax:
    %pre
      %code.javascript var bubble = d3.layout.pack().sort(null).size([diameter, diameter])
    does what?

  %li
    This syntax:
    %pre
      %code.javascript d3.json("flare.json", function(error, root) {});
    does what?

  %li In JavaScript, can a function call itself?
