%hr/
%h2 Challenge 15
- cc1018 = "#{Rails.root}/app/views/code_challenge2015_1018"
Your challenge: understand what this HAML does:
%pre
  %code.haml
    = IO.binread("#{cc1018}/demo15.haml")
The above HAML is deployed at this URL:
%br/
%a(href='https://dojo650.herokuapp.com/app/demo15.html' target='x')
  https://dojo650.herokuapp.com/app/demo15.html
%br/
%h2 Challenge 15 Questions:
%ul
  %li How to change a line chart into bar chart?
  %li Is it a good idea to stack a bar chart?
  %li Is it a good idea to un-stack a bar chart?

