%hr/
%h2 Challenge 32
- cc1018 = "#{Rails.root}/app/views/code_challenge2015_1018"
Your challenge: understand what this HAML does:
%pre
  %code.haml.sbar999
    = IO.binread("#{cc1018}/demo32.haml")
The above HAML is deployed at this URL:
%br/
%a(href='https://dojo650.herokuapp.com/app/demo32.html' target='x')
  https://dojo650.herokuapp.com/app/demo32.html
%br/
%h2 Challenge 32 Questions:
%ul
  %li What does this call do: Rickshaw.Fixtures.RandomData(1500000)?
  %li What does this call do: random.addData(seriesData)?
  %li What does this call do: d3.time.scale()?
  %li What does this call do: d3.scale.sqrt()?
  %li What does this call do: tickFormat: graph.x.tickFormat()?
  %li How is the demo32 slider different than the demo22 slider?
  %li Is the demo32 slider better?
  %li How to make the demo32 slider more slender?


