%hr/
%h2 Challenge 16
- cc1018 = "#{Rails.root}/app/views/code_challenge2015_1018"
Your challenge: understand what this HAML does:
%pre
  %code.haml
    = IO.binread("#{cc1018}/demo16.haml")
The above HAML is deployed at this URL:
%br/
%a(href='https://dojo650.herokuapp.com/app/demo16.html' target='x')
  https://dojo650.herokuapp.com/app/demo16.html
%br/
%h2 Challenge 16 Questions:
%ul
  %li When I render 2 series as bars, are the bars stacked by default?


