%hr/
%h2 Challenge 23
- cc1018 = "#{Rails.root}/app/views/code_challenge2015_1018"
Your challenge: understand what this HAML does:
%pre
  %code.haml
    = IO.binread("#{cc1018}/demo23.haml")
The above HAML is deployed at this URL:
%br/
%a(href='https://dojo650.herokuapp.com/app/demo23.html' target='x')
  https://dojo650.herokuapp.com/app/demo23.html
%br/
%h2 Challenge 23 Questions:
%ul
  %li Before demo23, where did  the graph object come from?
  %li In     demo23, where does the graph object come from?
  %li In demo23, what is the purpose of onComplete() method?
  %li What happens after I remove onComplete() method?
  %li The member, d[0], in onComplete() method corresponds to what?
  %li The member, d[0].data[0], in onComplete() method corresponds to what?
  %li The member, d[0].data[0].y, in onComplete() method corresponds to what?


