%a(href='/posts/ruby_edit_file') ruby_edit_file
%a(href='/posts/ruby_regexp_match') ruby_regexp_match
%a(href='/posts/rails_runner') rails_runner
%a(href='/posts/ruby_dir_loop') ruby_dir_loop
%a(href='/posts/rails_debugger') rails_debugger
%a(href='/posts/tags') tags
%a(href='/posts/rails_wildcard_routes') rails_wildcard_routes
%a(href='/posts/blog') blog
%a(href='/posts/contact') contact
%a(href='/posts/index') index
