%a(href='/posts/aerospike_python_crud') 2015-01-24 | aerospike_python_crud
%a(href='/posts/aerospike_expire_record') 2015-01-24 | aerospike_expire_record
%a(href='/posts/aerospike') 2015-01-24 | aerospike
%a(href='/posts/aerospike_aql_crud') 2015-01-24 | aerospike_aql_crud
%a(href='/posts/lua_dofile') 2015-01-24 | lua_dofile
%a(href='/posts/lua_dot_does_what') 2015-01-24 | lua_dot_does_what
%a(href='/posts/lua_dash_e') 2015-01-24 | lua_dash_e
%a(href='/posts/lua_function') 2015-01-24 | lua_function
%a(href='/posts/lua_install') 2015-01-24 | lua_install
%a(href='/posts/index') 2015-01-24 | index
%a(href='/posts/lua_not_operator') 2015-01-24 | lua_not_operator
%a(href='/posts/lua_concat') 2015-01-24 | lua_concat
%a(href='/posts/bundle_bin') 2015-01-24 | bundle_bin
%a(href='/posts/flash_linux_firefox') 2015-01-24 | flash_linux_firefox
%a(href='/posts/blog') 2015-01-24 | blog
%a(href='/posts/lua_data_types') 2015-01-24 | lua_data_types
%a(href='/posts/lua_heredoc') 2015-01-24 | lua_heredoc
%a(href='/posts/lua_block_comments') 2015-01-24 | lua_block_comments
%a(href='/posts/lua_command_arg') 2015-01-24 | lua_command_arg
%a(href='/posts/haml_json') 2015-01-24 | haml_json
%a(href='/posts/bash_loop_strings') 2015-01-24 | bash_loop_strings
%a(href='/posts/contact') 2015-01-24 | contact
%a(href='/posts/bash_date_in_filename') 2015-01-24 | bash_date_in_filename
%a(href='/posts/lua_globalvar') 2015-01-24 | lua_globalvar
%a(href='/posts/bash_loop_files') 2015-01-24 | bash_loop_files
%a(href='/posts/lua_io_read') 2015-01-24 | lua_io_read
%a(href='/posts/lua_copy_table') 2015-01-24 | lua_copy_table
%a(href='/posts/heroku_buildpack') 2015-01-24 | heroku_buildpack
%a(href='/posts/lua_packages_table') 2015-01-24 | lua_packages_table
%a(href='/posts/lua_notequal') 2015-01-24 | lua_notequal
%a(href='/posts/pandas_where') 2015-01-24 | pandas_where
%a(href='/posts/numpy_where') 2015-01-24 | numpy_where
%a(href='/posts/postgres_table2csv') 2015-01-24 | postgres_table2csv
%a(href='/posts/python_datetime2epoch') 2015-01-24 | python_datetime2epoch
%a(href='/posts/lua_ternary') 2015-01-24 | lua_ternary
%a(href='/posts/lua_table_initialize') 2015-01-24 | lua_table_initialize
%a(href='/posts/lua_string_specials') 2015-01-24 | lua_string_specials
%a(href='/posts/python_lists2numpy') 2015-01-24 | python_lists2numpy
%a(href='/posts/pandas_group_by') 2015-01-24 | pandas_group_by
%a(href='/posts/python_numpy_loadtxt') 2015-01-24 | python_numpy_loadtxt
%a(href='/posts/postgres_unixtime') 2015-01-24 | postgres_unixtime
%a(href='/posts/lua_table_forloop') 2015-01-24 | lua_table_forloop
%a(href='/posts/meteor') 2015-01-24 | meteor
%a(href='/posts/python_ins_zipline') 2015-01-24 | python_ins_zipline
%a(href='/posts/python_pandas_read_csv') 2015-01-24 | python_pandas_read_csv
%a(href='/posts/matplotlib3sets1plot') 2015-01-24 | matplotlib3sets1plot
%a(href='/posts/python_numpy_subset') 2015-01-24 | python_numpy_subset
%a(href='/posts/python_numpy2list') 2015-01-24 | python_numpy2list
%a(href='/posts/python_pandas_sort') 2015-01-24 | python_pandas_sort
%a(href='/posts/python_call_shell') 2015-01-24 | python_call_shell
%a(href='/posts/python_numpy2csv') 2015-01-24 | python_numpy2csv
%a(href='/posts/python_future') 2015-01-24 | python_future
%a(href='/posts/lua_true_false') 2015-01-24 | lua_true_false
%a(href='/posts/postgres_json1') 2015-01-24 | postgres_json1
%a(href='/posts/matplotlib_no_popup_window') 2015-01-24 | matplotlib_no_popup_window
%a(href='/posts/plot_datetime') 2015-01-24 | plot_datetime
%a(href='/posts/python_pandas_list') 2015-01-24 | python_pandas_list
%a(href='/posts/rails_highlight_pre_code_syntax') 2015-01-24 | rails_highlight_pre_code_syntax
%a(href='/posts/python_ruby_map') 2015-01-24 | python_ruby_map
%a(href='/posts/rails_heroku_sqlite') 2015-01-24 | rails_heroku_sqlite
%a(href='/posts/python_str_interpolate') 2015-01-24 | python_str_interpolate
%a(href='/posts/ruby_edit_file') 2015-01-24 | ruby_edit_file
%a(href='/posts/python_zipline_demo1') 2015-01-24 | python_zipline_demo1
%a(href='/posts/rails_csv2haml2d3') 2015-01-24 | rails_csv2haml2d3
%a(href='/posts/rails_debugger') 2015-01-24 | rails_debugger
%a(href='/posts/python_unixtime2datetime') 2015-01-24 | python_unixtime2datetime
%a(href='/posts/ruby_datetime_strptime') 2015-01-24 | ruby_datetime_strptime
%a(href='/posts/ruby_dir_loop') 2015-01-24 | ruby_dir_loop
%a(href='/posts/rails_wildcard_routes') 2015-01-24 | rails_wildcard_routes
%a(href='/posts/python_wget') 2015-01-24 | python_wget
%a(href='/posts/rails_runner') 2015-01-24 | rails_runner
%a(href='/posts/python_str2datetime') 2015-01-24 | python_str2datetime
%a(href='/posts/ruby_array_hashes_sort_by') 2015-01-24 | ruby_array_hashes_sort_by
%a(href='/posts/python_pdb') 2015-01-24 | python_pdb
%a(href='/posts/ruby_array_no_nil') 2015-01-24 | ruby_array_no_nil
%a(href='/posts/tags') 2015-01-24 | tags
%a(href='/posts/truefx_postgres') 2015-01-24 | truefx_postgres
%a(href='/posts/ruby_regexp_match') 2015-01-24 | ruby_regexp_match
%a(href='/posts/ruby_write2file') 2015-01-24 | ruby_write2file
%a(href='/posts/ruby_read_csv') 2015-01-24 | ruby_read_csv
%a(href='/posts/lua_decorate_function') 2015-01-26 | lua_decorate_function
%a(href='/posts/lua_pass_variable_args') 2015-01-26 | lua_pass_variable_args
%a(href='/posts/lua_default_arg') 2015-01-26 | lua_default_arg
%a(href='/posts/lua_do_end') 2015-01-26 | lua_do_end
%a(href='/posts/lua_namespace') 2015-01-26 | lua_namespace
%a(href='/posts/lua_upvalue') 2015-01-26 | lua_upvalue
%a(href='/posts/lua_state_machine') 2015-01-26 | lua_state_machine
%a(href='/posts/lua_multi_assign') 2015-01-26 | lua_multi_assign
%a(href='/posts/lua_pass_function2function') 2015-01-26 | lua_pass_function2function
%a(href='/posts/lua_control') 2015-01-26 | lua_control
%a(href='/posts/lua_io_lines') 2015-01-26 | lua_io_lines
%a(href='/posts/lua_forward_declare') 2015-01-26 | lua_forward_declare
%a(href='/posts/lua_table_sort') 2015-01-26 | lua_table_sort
%a(href='/posts/lua_find_string') 2015-01-28 | lua_find_string
%a(href='/posts/lua_number_operator') 2015-01-28 | lua_number_operator
%a(href='/posts/lua_slice_string') 2015-01-28 | lua_slice_string
%a(href='/posts/lua_elseif') 2015-01-28 | lua_elseif
%a(href='/posts/lua_val2key') 2015-01-28 | lua_val2key
%a(href='/posts/lua_colon') 2015-01-29 | lua_colon
%a(href='/posts/spark_howto_install') 2015-01-29 | spark_howto_install
%a(href='/posts/sparkpi_what_happens') 2015-01-29 | sparkpi_what_happens
%a(href='/posts/lua_debugger') 2015-01-30 | lua_debugger
%a(href='/posts/spark_whatis_rdd') 2015-01-30 | spark_whatis_rdd
%a(href='/posts/aerospike_create_index') 2015-01-30 | aerospike_create_index
%a(href='/posts/spark_howto_txt2rdd') 2015-01-30 | spark_howto_txt2rdd
%a(href='/posts/python_lambda') 2015-01-31 | python_lambda
%a(href='/posts/python_pandas_max') 2015-01-31 | python_pandas_max
%a(href='/posts/spark_max_gspc') 2015-01-31 | spark_max_gspc
%a(href='/posts/virtualbox_guestadditions') 2015-01-31 | virtualbox_guestadditions
%a(href='/posts/centos_change_hostname') 2015-01-31 | centos_change_hostname
%a(href='/posts/ruby_flatten') 2015-02-01 | ruby_flatten
%a(href='/posts/spark_flatmap') 2015-02-01 | spark_flatmap
%a(href='/posts/spark_reducebykey') 2015-02-01 | spark_reducebykey
%a(href='/posts/linux101_ccrud_cmi') 2015-02-04 | linux101_ccrud_cmi
%a(href='/posts/h2o_howto') 2015-02-04 | h2o_howto
%a(href='/posts/linux101_ccrud_ami') 2015-02-04 | linux101_ccrud_ami
%a(href='/posts/linux101_ccrud_iso') 2015-02-04 | linux101_ccrud_iso
%a(href='/posts/linux101_ccrud_ip') 2015-02-04 | linux101_ccrud_ip
%a(href='/posts/linux101_ccrud_instance') 2015-02-04 | linux101_ccrud_instance
%a(href='/posts/linux101_ccsud_disk') 2015-02-04 | linux101_ccsud_disk
%a(href='/posts/h2o_r_howto') 2015-02-04 | h2o_r_howto
%a(href='/posts/r_install_src') 2015-02-04 | r_install_src
%a(href='/posts/h2o_sparkwater') 2015-02-05 | h2o_sparkwater
%a(href='/posts/python_import_fail') 2015-02-06 | python_import_fail
%a(href='/posts/h2o_sparkwater_citibike_scala') 2015-02-06 | h2o_sparkwater_citibike_scala
%a(href='/posts/h2o_r_demo') 2015-02-08 | h2o_r_demo
%a(href='/posts/node_meteor') 2015-02-09 | node_meteor
%a(href='/posts/node_unixtime') 2015-02-09 | node_unixtime
%a(href='/posts/python_fix_curl') 2015-02-10 | python_fix_curl
%a(href='/posts/java_jps') 2015-02-10 | java_jps
%a(href='/posts/linux101_cclud') 2015-02-10 | linux101_cclud
