%a(href='/posts/tags') 2014-12-01 | tags
%a(href='/posts/blog') 2014-12-01 | blog
%a(href='/posts/contact') 2014-12-01 | contact
%a(href='/posts/index') 2014-12-01 | index
%a(href='/posts/heroku_buildpack') 2014-12-06 | heroku_buildpack
%a(href='/posts/rails_debugger') 2014-12-06 | rails_debugger
%a(href='/posts/rails_highlight_pre_code_syntax') 2014-12-06 | rails_highlight_pre_code_syntax
%a(href='/posts/rails_runner') 2014-12-06 | rails_runner
%a(href='/posts/rails_wildcard_routes') 2014-12-06 | rails_wildcard_routes
%a(href='/posts/ruby_dir_loop') 2014-12-06 | ruby_dir_loop
%a(href='/posts/ruby_edit_file') 2014-12-06 | ruby_edit_file
%a(href='/posts/ruby_regexp_match') 2014-12-06 | ruby_regexp_match
%a(href='/posts/rails_heroku_sqlite') 2014-12-07 | rails_heroku_sqlite
