%a(href='/posts/blog') 2014-12-01 | blog
%a(href='/posts/index') 2014-12-01 | index
%a(href='/posts/heroku_buildpack') 2014-12-06 | heroku_buildpack
%a(href='/posts/rails_debugger') 2014-12-06 | rails_debugger
%a(href='/posts/rails_highlight_pre_code_syntax') 2014-12-06 | rails_highlight_pre_code_syntax
%a(href='/posts/rails_runner') 2014-12-06 | rails_runner
%a(href='/posts/rails_wildcard_routes') 2014-12-06 | rails_wildcard_routes
%a(href='/posts/ruby_dir_loop') 2014-12-06 | ruby_dir_loop
%a(href='/posts/ruby_regexp_match') 2014-12-06 | ruby_regexp_match
%a(href='/posts/rails_heroku_sqlite') 2014-12-07 | rails_heroku_sqlite
%a(href='/posts/bash_loop_files') 2014-12-08 | bash_loop_files
%a(href='/posts/truefx_postgres') 2014-12-08 | truefx_postgres
%a(href='/posts/python_numpy_subset') 2014-12-09 | python_numpy_subset
%a(href='/posts/python_pdb') 2014-12-09 | python_pdb
%a(href='/posts/python_str2datetime') 2014-12-09 | python_str2datetime
%a(href='/posts/python_ruby_map') 2014-12-10 | python_ruby_map
%a(href='/posts/python_str_interpolate') 2014-12-11 | python_str_interpolate
%a(href='/posts/bundle_bin') 2014-12-11 | bundle_bin
%a(href='/posts/python_datetime2epoch') 2014-12-11 | python_datetime2epoch
%a(href='/posts/flash_linux_firefox') 2014-12-12 | flash_linux_firefox
%a(href='/posts/python_numpy2list') 2014-12-12 | python_numpy2list
%a(href='/posts/python_lists2numpy') 2014-12-12 | python_lists2numpy
%a(href='/posts/python_numpy2csv') 2014-12-12 | python_numpy2csv
%a(href='/posts/python_numpy_loadtxt') 2014-12-12 | python_numpy_loadtxt
%a(href='/posts/ruby_read_csv') 2014-12-12 | ruby_read_csv
%a(href='/posts/rails_csv2haml2d3') 2014-12-14 | rails_csv2haml2d3
%a(href='/posts/ruby_write2file') 2014-12-14 | ruby_write2file
%a(href='/posts/ruby_edit_file') 2014-12-14 | ruby_edit_file
%a(href='/posts/python_ins_zipline') 2014-12-14 | python_ins_zipline
%a(href='/posts/python_zipline_demo1') 2014-12-14 | python_zipline_demo1
%a(href='/posts/python_unixtime2datetime') 2014-12-15 | python_unixtime2datetime
%a(href='/posts/plot_datetime') 2014-12-16 | plot_datetime
%a(href='/posts/python_wget') 2014-12-17 | python_wget
%a(href='/posts/bash_loop_strings') 2014-12-18 | bash_loop_strings
%a(href='/posts/matplotlib3sets1plot') 2014-12-27 | matplotlib3sets1plot
%a(href='/posts/matplotlib_no_popup_window') 2014-12-27 | matplotlib_no_popup_window
%a(href='/posts/python_pandas_sort') 2015-01-01 | python_pandas_sort
%a(href='/posts/python_pandas_read_csv') 2015-01-01 | python_pandas_read_csv
%a(href='/posts/ruby_array_hashes_sort_by') 2015-01-01 | ruby_array_hashes_sort_by
%a(href='/posts/ruby_datetime_strptime') 2015-01-01 | ruby_datetime_strptime
%a(href='/posts/haml_json') 2015-01-01 | haml_json
%a(href='/posts/postgres_json1') 2015-01-01 | postgres_json1
%a(href='/posts/postgres_unixtime') 2015-01-01 | postgres_unixtime
%a(href='/posts/bash_date_in_filename') 2015-01-01 | bash_date_in_filename
%a(href='/posts/python_pandas_list') 2015-01-01 | python_pandas_list
%a(href='/posts/ruby_array_no_nil') 2015-01-02 | ruby_array_no_nil
%a(href='/posts/pandas_where') 2015-01-03 | pandas_where
%a(href='/posts/numpy_where') 2015-01-03 | numpy_where
%a(href='/posts/pandas_group_by') 2015-01-04 | pandas_group_by
%a(href='/posts/python_call_shell') 2015-01-05 | python_call_shell
%a(href='/posts/postgres_table2csv') 2015-01-06 | postgres_table2csv
%a(href='/posts/tags') 2015-01-10 | tags
%a(href='/posts/contact') 2015-01-10 | contact
%a(href='/posts/meteor') 2015-01-16 | meteor
%a(href='/posts/aerospike') 2015-01-19 | aerospike
%a(href='/posts/python_future') 2015-01-19 | python_future
%a(href='/posts/aerospike_aql_crud') 2015-01-20 | aerospike_aql_crud
%a(href='/posts/aerospike_expire_record') 2015-01-21 | aerospike_expire_record
%a(href='/posts/aerospike_python_crud') 2015-01-21 | aerospike_python_crud
%a(href='/posts/lua_install') 2015-01-23 | lua_install
%a(href='/posts/lua_function') 2015-01-23 | lua_function
%a(href='/posts/lua_debugger') 2015-01-23 | lua_debugger
%a(href='/posts/lua_dofile') 2015-01-23 | lua_dofile
%a(href='/posts/lua_globalvar') 2015-01-23 | lua_globalvar
%a(href='/posts/lua_block_comments') 2015-01-23 | lua_block_comments
%a(href='/posts/lua_dash_e') 2015-01-23 | lua_dash_e
%a(href='/posts/lua_command_arg') 2015-01-23 | lua_command_arg
%a(href='/posts/lua_data_types') 2015-01-23 | lua_data_types
%a(href='/posts/lua_true_false') 2015-01-23 | lua_true_false
%a(href='/posts/lua_string_specials') 2015-01-23 | lua_string_specials
%a(href='/posts/lua_heredoc') 2015-01-23 | lua_heredoc
%a(href='/posts/lua_packages_table') 2015-01-23 | lua_packages_table
%a(href='/posts/lua_copy_table') 2015-01-23 | lua_copy_table
%a(href='/posts/lua_io_read') 2015-01-23 | lua_io_read
%a(href='/posts/lua_dot_does_what') 2015-01-23 | lua_dot_does_what
%a(href='/posts/lua_table_forloop') 2015-01-23 | lua_table_forloop
%a(href='/posts/lua_notequal') 2015-01-24 | lua_notequal
%a(href='/posts/lua_not_operator') 2015-01-24 | lua_not_operator
%a(href='/posts/lua_ternary') 2015-01-24 | lua_ternary
%a(href='/posts/lua_concat') 2015-01-24 | lua_concat
%a(href='/posts/lua_table_initialize') 2015-01-24 | lua_table_initialize
%a(href='/posts/lua_multi_assign') 2015-01-25 | lua_multi_assign
%a(href='/posts/lua_do_end') 2015-01-25 | lua_do_end
