%a(href='/posts/tags') 2014-12-01 | tags
%a(href='/posts/blog') 2014-12-01 | blog
%a(href='/posts/contact') 2014-12-01 | contact
%a(href='/posts/index') 2014-12-01 | index
%a(href='/posts/heroku_buildpack') 2014-12-06 | heroku_buildpack
%a(href='/posts/rails_debugger') 2014-12-06 | rails_debugger
%a(href='/posts/rails_highlight_pre_code_syntax') 2014-12-06 | rails_highlight_pre_code_syntax
%a(href='/posts/rails_runner') 2014-12-06 | rails_runner
%a(href='/posts/rails_wildcard_routes') 2014-12-06 | rails_wildcard_routes
%a(href='/posts/ruby_dir_loop') 2014-12-06 | ruby_dir_loop
%a(href='/posts/ruby_regexp_match') 2014-12-06 | ruby_regexp_match
%a(href='/posts/rails_heroku_sqlite') 2014-12-07 | rails_heroku_sqlite
%a(href='/posts/postgres_table2csv') 2014-12-08 | postgres_table2csv
%a(href='/posts/bash_loop_files') 2014-12-08 | bash_loop_files
%a(href='/posts/truefx_postgres') 2014-12-08 | truefx_postgres
%a(href='/posts/python_numpy_subset') 2014-12-09 | python_numpy_subset
%a(href='/posts/python_pdb') 2014-12-09 | python_pdb
%a(href='/posts/python_str2datetime') 2014-12-09 | python_str2datetime
%a(href='/posts/python_ruby_map') 2014-12-10 | python_ruby_map
%a(href='/posts/python_str_interpolate') 2014-12-11 | python_str_interpolate
%a(href='/posts/bundle_bin') 2014-12-11 | bundle_bin
%a(href='/posts/python_datetime2epoch') 2014-12-11 | python_datetime2epoch
%a(href='/posts/flash_linux_firefox') 2014-12-12 | flash_linux_firefox
%a(href='/posts/python_numpy2list') 2014-12-12 | python_numpy2list
%a(href='/posts/python_lists2numpy') 2014-12-12 | python_lists2numpy
%a(href='/posts/python_numpy2csv') 2014-12-12 | python_numpy2csv
%a(href='/posts/python_numpy_loadtxt') 2014-12-12 | python_numpy_loadtxt
%a(href='/posts/ruby_read_csv') 2014-12-12 | ruby_read_csv
%a(href='/posts/rails_csv2haml2d3') 2014-12-14 | rails_csv2haml2d3
%a(href='/posts/ruby_write2file') 2014-12-14 | ruby_write2file
%a(href='/posts/ruby_edit_file') 2014-12-14 | ruby_edit_file
%a(href='/posts/python_ins_zipline') 2014-12-14 | python_ins_zipline
%a(href='/posts/python_zipline_demo1') 2014-12-14 | python_zipline_demo1
%a(href='/posts/matplotlib3sets1plot') 2014-12-14 | matplotlib3sets1plot
%a(href='/posts/python_unixtime2datetime') 2014-12-15 | python_unixtime2datetime
%a(href='/posts/plot_datetime') 2014-12-16 | plot_datetime
%a(href='/posts/python_wget') 2014-12-17 | python_wget
