
<table>
<tbody><tr><td><code>\a</code></td><td>bell</td></tr>
<tr><td><code>\b</code></td><td>back space</td></tr>
<tr><td><code>\f</code></td><td>form feed</td></tr>
<tr><td><code>\n</code></td><td>newline</td></tr>
<tr><td><code>\r</code></td><td>carriage return</td></tr>
<tr><td><code>\t</code></td><td>horizontal tab</td></tr>
<tr><td><code>\v</code></td><td>vertical tab</td></tr>
<tr><td><code>\\</code></td><td>backslash</td></tr>
<tr><td><code>\"</code></td><td>double quote</td></tr>
<tr><td><code>\'</code></td><td>single quote</td></tr>
<tr><td><code>\[</code></td><td>left square bracket</td></tr>
<tr><td><code>\]</code></td><td>right square bracket</td></tr>
</tbody>
</table>
