%a(href='/tags/active_record') active_record
%a(href='/tags/adobe') adobe
%a(href='/tags/array') array
%a(href='/tags/bash') bash
%a(href='/tags/binstubs') binstubs
%a(href='/tags/buildpack') buildpack
%a(href='/tags/bundle') bundle
%a(href='/tags/bundler') bundler
%a(href='/tags/byebug') byebug
%a(href='/tags/comprehension') comprehension
%a(href='/tags/concatenate') concatenate
%a(href='/tags/copy') copy
%a(href='/tags/csv') csv
%a(href='/tags/d3') d3
%a(href='/tags/datetime') datetime
%a(href='/tags/debugger') debugger
%a(href='/tags/dir') dir
%a(href='/tags/directory') directory
%a(href='/tags/dtype') dtype
%a(href='/tags/edit_file') edit_file
%a(href='/tags/embed') embed
%a(href='/tags/epoch') epoch
%a(href='/tags/epoch_time') epoch_time
%a(href='/tags/export') export
%a(href='/tags/files') files
%a(href='/tags/firefox') firefox
%a(href='/tags/flash') flash
%a(href='/tags/fmt') fmt
%a(href='/tags/format') format
%a(href='/tags/gem') gem
%a(href='/tags/gemfile') gemfile
%a(href='/tags/haml') haml
%a(href='/tags/heroku') heroku
%a(href='/tags/highlight') highlight
%a(href='/tags/interpolate') interpolate
%a(href='/tags/javascript') javascript
%a(href='/tags/json') json
%a(href='/tags/linux') linux
%a(href='/tags/list') list
%a(href='/tags/list_comprehension') list_comprehension
%a(href='/tags/loadtxt') loadtxt
%a(href='/tags/loop') loop
%a(href='/tags/loopin_brackets') loopin_brackets
%a(href='/tags/map') map
%a(href='/tags/numpy') numpy
%a(href='/tags/pdb') pdb
%a(href='/tags/plot') plot
%a(href='/tags/plugin') plugin
%a(href='/tags/postgres') postgres
%a(href='/tags/pre_code') pre_code
%a(href='/tags/python') python
%a(href='/tags/rails') rails
%a(href='/tags/read') read
%a(href='/tags/read_only') read_only
%a(href='/tags/regexp') regexp
%a(href='/tags/regular_expression') regular_expression
%a(href='/tags/routing') routing
%a(href='/tags/ruby') ruby
%a(href='/tags/rubygems') rubygems
%a(href='/tags/runner') runner
%a(href='/tags/savetxt') savetxt
%a(href='/tags/sed') sed
%a(href='/tags/set_trace') set_trace
%a(href='/tags/sql') sql
%a(href='/tags/sqlite') sqlite
%a(href='/tags/sqlite3') sqlite3
%a(href='/tags/step') step
%a(href='/tags/strftime') strftime
%a(href='/tags/string') string
%a(href='/tags/strptime') strptime
%a(href='/tags/subset') subset
%a(href='/tags/thin') thin
%a(href='/tags/to_json') to_json
%a(href='/tags/truefx') truefx
%a(href='/tags/tuple') tuple
%a(href='/tags/unix_time') unix_time
%a(href='/tags/unzip') unzip
%a(href='/tags/wildcard') wildcard
%a(href='/tags/zeros') zeros
