%a(href='/tags/active_record') active_record
%a(href='/tags/adobe') adobe
%a(href='/tags/aerospike') aerospike
%a(href='/tags/anaconda') anaconda
%a(href='/tags/aql') aql
%a(href='/tags/arange') arange
%a(href='/tags/arg') arg
%a(href='/tags/args') args
%a(href='/tags/array') array
%a(href='/tags/array_agg') array_agg
%a(href='/tags/array_to_json') array_to_json
%a(href='/tags/assignment') assignment
%a(href='/tags/back_quote') back_quote
%a(href='/tags/backslash') backslash
%a(href='/tags/backtester') backtester
%a(href='/tags/bash') bash
%a(href='/tags/binstubs') binstubs
%a(href='/tags/block') block
%a(href='/tags/boolean') boolean
%a(href='/tags/buildpack') buildpack
%a(href='/tags/bundle') bundle
%a(href='/tags/bundler') bundler
%a(href='/tags/byebug') byebug
%a(href='/tags/call') call
%a(href='/tags/chunk') chunk
%a(href='/tags/command') command
%a(href='/tags/comment') comment
%a(href='/tags/compact') compact
%a(href='/tags/comprehension') comprehension
%a(href='/tags/concatenate') concatenate
%a(href='/tags/conditional') conditional
%a(href='/tags/constructor') constructor
%a(href='/tags/copy') copy
%a(href='/tags/create') create
%a(href='/tags/crud') crud
%a(href='/tags/csv') csv
%a(href='/tags/cut') cut
%a(href='/tags/d3') d3
%a(href='/tags/dataframe') dataframe
%a(href='/tags/datatype') datatype
%a(href='/tags/date') date
%a(href='/tags/datetime') datetime
%a(href='/tags/debugger') debugger
%a(href='/tags/delete') delete
%a(href='/tags/dir') dir
%a(href='/tags/directory') directory
%a(href='/tags/do') do
%a(href='/tags/dofile') dofile
%a(href='/tags/dot') dot
%a(href='/tags/dtype') dtype
%a(href='/tags/dynamic') dynamic
%a(href='/tags/echo') echo
%a(href='/tags/edit_file') edit_file
%a(href='/tags/embed') embed
%a(href='/tags/end') end
%a(href='/tags/enumerable') enumerable
%a(href='/tags/epoch') epoch
%a(href='/tags/epoch_time') epoch_time
%a(href='/tags/equal') equal
%a(href='/tags/eur_usd') eur_usd
%a(href='/tags/export') export
%a(href='/tags/extract') extract
%a(href='/tags/file') file
%a(href='/tags/filename') filename
%a(href='/tags/files') files
%a(href='/tags/firefox') firefox
%a(href='/tags/flash') flash
%a(href='/tags/float') float
%a(href='/tags/fmt') fmt
%a(href='/tags/for') for
%a(href='/tags/forex') forex
%a(href='/tags/forloop') forloop
%a(href='/tags/format') format
%a(href='/tags/function') function
%a(href='/tags/future') future
%a(href='/tags/fxpair') fxpair
%a(href='/tags/gem') gem
%a(href='/tags/gemfile') gemfile
%a(href='/tags/global') global
%a(href='/tags/grep') grep
%a(href='/tags/haml') haml
%a(href='/tags/hash') hash
%a(href='/tags/head') head
%a(href='/tags/heredoc') heredoc
%a(href='/tags/heroku') heroku
%a(href='/tags/highlight') highlight
%a(href='/tags/if') if
%a(href='/tags/import') import
%a(href='/tags/index') index
%a(href='/tags/initialize') initialize
%a(href='/tags/insert') insert
%a(href='/tags/int') int
%a(href='/tags/interpolate') interpolate
%a(href='/tags/ipairs') ipairs
%a(href='/tags/javascript') javascript
%a(href='/tags/json') json
%a(href='/tags/linux') linux
%a(href='/tags/list') list
%a(href='/tags/list_comprehension') list_comprehension
%a(href='/tags/load') load
%a(href='/tags/loadtxt') loadtxt
%a(href='/tags/local') local
%a(href='/tags/loop') loop
%a(href='/tags/loopin_brackets') loopin_brackets
%a(href='/tags/lua') lua
%a(href='/tags/map') map
%a(href='/tags/matplotlib') matplotlib
%a(href='/tags/meta') meta
%a(href='/tags/meteor') meteor
%a(href='/tags/multiple') multiple
%a(href='/tags/newline') newline
%a(href='/tags/nil') nil
%a(href='/tags/not') not
%a(href='/tags/notequal') notequal
%a(href='/tags/number') number
%a(href='/tags/numpy') numpy
%a(href='/tags/open') open
%a(href='/tags/pandas') pandas
%a(href='/tags/pdb') pdb
%a(href='/tags/plot') plot
%a(href='/tags/plugin') plugin
%a(href='/tags/popup') popup
%a(href='/tags/postgres') postgres
%a(href='/tags/postgresql') postgresql
%a(href='/tags/pre_code') pre_code
%a(href='/tags/predicate') predicate
%a(href='/tags/psql') psql
%a(href='/tags/puts') puts
%a(href='/tags/pyplot') pyplot
%a(href='/tags/python') python
%a(href='/tags/quantopian') quantopian
%a(href='/tags/r') r
%a(href='/tags/rails') rails
%a(href='/tags/read') read
%a(href='/tags/read_csv') read_csv
%a(href='/tags/read_only') read_only
%a(href='/tags/reference') reference
%a(href='/tags/regexp') regexp
%a(href='/tags/regular_expression') regular_expression
%a(href='/tags/repeat') repeat
%a(href='/tags/require') require
%a(href='/tags/retrieve') retrieve
%a(href='/tags/routing') routing
%a(href='/tags/row_to_json') row_to_json
%a(href='/tags/ruby') ruby
%a(href='/tags/rubygems') rubygems
%a(href='/tags/runner') runner
%a(href='/tags/savetxt') savetxt
%a(href='/tags/sed') sed
%a(href='/tags/select') select
%a(href='/tags/set_trace') set_trace
%a(href='/tags/shell') shell
%a(href='/tags/sort') sort
%a(href='/tags/sort_by') sort_by
%a(href='/tags/sql') sql
%a(href='/tags/sqlite') sqlite
%a(href='/tags/sqlite3') sqlite3
%a(href='/tags/step') step
%a(href='/tags/strftime') strftime
%a(href='/tags/string') string
%a(href='/tags/strptime') strptime
%a(href='/tags/subprocess') subprocess
%a(href='/tags/subset') subset
%a(href='/tags/system') system
%a(href='/tags/table') table
%a(href='/tags/tail') tail
%a(href='/tags/tempfile') tempfile
%a(href='/tags/ternary') ternary
%a(href='/tags/thin') thin
%a(href='/tags/thread') thread
%a(href='/tags/timedelta') timedelta
%a(href='/tags/to_json') to_json
%a(href='/tags/trading') trading
%a(href='/tags/truefx') truefx
%a(href='/tags/ttl') ttl
%a(href='/tags/tuple') tuple
%a(href='/tags/tutorial') tutorial
%a(href='/tags/type') type
%a(href='/tags/ubuntu') ubuntu
%a(href='/tags/unix_time') unix_time
%a(href='/tags/unixtime') unixtime
%a(href='/tags/unzip') unzip
%a(href='/tags/update') update
%a(href='/tags/url') url
%a(href='/tags/userdata') userdata
%a(href='/tags/wget') wget
%a(href='/tags/where') where
%a(href='/tags/while') while
%a(href='/tags/wildcard') wildcard
%a(href='/tags/write') write
%a(href='/tags/zeros') zeros
%a(href='/tags/zipline') zipline
