%a(href='/tags/active_record') active_record
%a(href='/tags/buildpack') buildpack
%a(href='/tags/byebug') byebug
%a(href='/tags/debugger') debugger
%a(href='/tags/dir') dir
%a(href='/tags/edit_file') edit_file
%a(href='/tags/files') files
%a(href='/tags/heroku') heroku
%a(href='/tags/highlight') highlight
%a(href='/tags/javascript') javascript
%a(href='/tags/loop') loop
%a(href='/tags/pre_code') pre_code
%a(href='/tags/python') python
%a(href='/tags/rails') rails
%a(href='/tags/regexp') regexp
%a(href='/tags/regular_expression') regular_expression
%a(href='/tags/routing') routing
%a(href='/tags/ruby') ruby
%a(href='/tags/rubygems') rubygems
%a(href='/tags/runner') runner
%a(href='/tags/sed') sed
%a(href='/tags/sqlite') sqlite
%a(href='/tags/sqlite3') sqlite3
%a(href='/tags/wildcard') wildcard
