%a(href='/tags/byebug') byebug
%a(href='/tags/debugger') debugger
%a(href='/tags/dir') dir
%a(href='/tags/files') files
%a(href='/tags/highlight') highlight
%a(href='/tags/javascript') javascript
%a(href='/tags/loop') loop
%a(href='/tags/pre_code') pre_code
%a(href='/tags/python') python
%a(href='/tags/rails') rails
%a(href='/tags/regexp') regexp
%a(href='/tags/regular_expression') regular_expression
%a(href='/tags/routing') routing
%a(href='/tags/ruby') ruby
%a(href='/tags/rubygems') rubygems
%a(href='/tags/runner') runner
%a(href='/tags/wildcard') wildcard
