.q1 Question:
.q2 In Aerospike how to create temporary data?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/aerospike') aerospike
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/meta') meta
  %a.xtag(href='/tags/ttl') ttl


Aerospike offers the useful feature of allowing me to create temporary records in a set:

%pre
  %code.python
    import aerospike
    config = {'hosts': [('127.0.0.1',3000)]}
    client = aerospike.client(config).connect()
    
    mynamspace  = 'test'
    myset       = 'secrets'
    myrecname   = 'msg100'
    myrecpk     = 100
    foodbin     = 'Lasagna is for dinner'
    
    myrecord    = {'myrecname': myrecname, 'foodbin': foodbin}
    
    keytuple    = (mynamspace,myset,myrecpk)
    
    exp_in_meta = {'ttl': 60*60} # seconds
    
    client.put(keytuple, myrecord, exp_in_meta)

After 60*60 seconds, record msg100 should disappear from test.secrets.

%br/
