.q1 Question:
.q2 In Aerospike, how to create index?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/aerospike') aerospike
  %a.xtag(href='/tags/secondary') secondary
  %a.xtag(href='/tags/index') index
  %a.xtag(href='/tags/numeric') numeric
  %a.xtag(href='/tags/string') string
%br/
Aerospike just gave me an error when I tried to query test.cats:
%pre
  %code.sql
    aql> SELECT * FROM test.cats WHERE age BETWEEN 1 AND 10
    Error: (201) AEROSPIKE_ERR_INDEX_NOT_FOUND
%br/
%br/
I needed to create a secondary index on age:

%pre
  =render 'aerospike_create_index'

%br/

