.q1 Question:
.q2 How I install Aerospike?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/aerospike') aerospike
  %a.xtag(href='/tags/linux') linux
%br/
On my Linux laptop, Aerospike installation was easy.
%br/
%br/
Here is a screen-dump:
%pre
  =render 'aerospike1'
