.q1 Question:
.q2 How to Simply Authenticate an Angular2 User?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/angular2') angular2
  %a.xtag(href='/tags/javascript') javascript
  %a.xtag(href='/tags/meetup') meetup
  %a.xtag(href='/tags/hackerdojo') hackerdojo
  %a.xtag(href='/tags/git') git
  %a.xtag(href='/tags/npm') npm
  %a.xtag(href='/tags/typescript') typescript
  %a.xtag(href='/tags/tutorial') tutorial

This page corresponds to a Meetup and a git-repo:

%ul
  %li
    %a(href='http://www.meetup.com/Dans-Linux-JavaScript-Class/events/228980307/' target='x')
      http://www.meetup.com/Dans-Linux-JavaScript-Class/events/228980307/
  %li
    %a(href='https://github.com/danbikle/ang2auth0' target='x')
      https://github.com/danbikle/ang2auth0

The purpose of this Meetup is to introduce you to the idea of authenticating a user who wants to use your Angular2 app.



%br/
%br/

The git-repo is a teaching aid for the Meetup but should be good enough to point you down the path of independent learning.

%br/
%br/

We start the class by assuming you have Ubuntu installed on your laptop.

%br/
%br/

If you want to try doing this class with MacOS/X instead of Ubuntu, that should be do-able.

%br/
%br/

I start by installing Ubuntu 14.04 on my laptop.
%br/
%br/


The most recent version of Ubuntu which I like is at this URL:
%br/
%br/


%a(href='http://releases.ubuntu.com/14.04.3/ubuntu-14.04.3-desktop-amd64.iso' target='x')
  http://releases.ubuntu.com/14.04.3/ubuntu-14.04.3-desktop-amd64.iso
%br/
%br/


The three general paths to install Ubuntu on a laptop are listed below:
%ul
  %li Remove Windows and install Ubuntu
  %li Ignore Windows and install Ubuntu on USB drive
  %li Install VirtualBox on Mac or Windows, Install Ubuntu inside VirtualBox

My favorite path is path2: Ignore Windows and install Ubuntu on USB drive.
%br/
%br/

Path2 works well with a new laptop should I want to maintain the warranty.
%br/
%br/

If you are new to the world of Ubuntu laptops I suggest you buy a cheap windows laptop from Walmart and run some experiments.
%br/
%br/

E-me if you need help: bikle101@gmail.com
%br/
%br/

So, after I installed Ubuntu on my laptop, I ran some shell commands:
%pre
  %code.bash
    sudo apt-get update
    sudo apt-get upgrade
    
    sudo apt-get install autoconf bison build-essential libssl-dev libyaml-dev \
    libreadline6-dev zlib1g-dev libncurses5-dev libffi-dev libgdbm3 sqlite3    \
    libgdbm-dev libsqlite3-dev gitk emacs wget curl openssh-server aptitude
    
    sudo apt-get update
    sudo apt-get upgrade

Next, I downloaded and installed Node.js:
%pre
  %code.bash
    cd ~
    wget https://nodejs.org/dist/v5.6.0/node-v5.6.0-linux-x64.tar.gz
    rm -rf  node
    tar zxf node-v5.6.0-linux-x64.tar.gz
    mv      node-v5.6.0-linux-x64 node

Then I ran some shell commands:
%pre
  %code.bash
    cd ~
    git clone https://github.com/danbikle/ang2auth0
    cd ~/ang2auth0/
    ls -l
    cd ~/ang2auth0/nodejs-jwt-authentication-sample/
    npm set progress=false
    npm install -s
    PORT=3001 node server.js

Those shell commands worked well on my laptop so I opened another shell and ran these shell commands:
%pre
  %code.bash
    cd ~/ang2auth0/angular2-authentication-sample/
    npm install -s
    npm start

That also worked well for me so I opened another shell command and ran this shell command:
%pre
  %code.bash curl localhost:3000

I saw this:
%pre
  =render 'angular2class2016_0220a'

Next, I used my browser to GET localhost:3000.

%br/
%br/
I saw this:
%br/
%img(src='/images/angular2class2016_0220/a1.png')
%br/
%br/
I saw this:
%br/
%img(src='/images/angular2class2016_0220/a2.png')
%br/
%br/
I saw this:
%br/
%img(src='/images/angular2class2016_0220/a3.png')
%br/
%br/
I saw this:
%br/
%img(src='/images/angular2class2016_0220/a4.png')

%br/
%br/

In class we will explore ways to enhance this demo.

%br/
%br/

That should be enough to keep us busy for 2 hours.

%br/
%br/


E-me if you need help: bikle101@gmail.com
%br/
%br/