.q1 Question:
.q2 How to Start Learning Angular2?
.tags
  %span.tagtag Tags:
  .tag angular2
  .tag javascript
  .tag meetup
  .tag hackerdojo
  .tag heroku
  .tag git


%br/



%br/
%br/



%br/
%br/



%br/
%br/



%br/
%br/



%br/ 
%br/ 

%pre
  %code.bash


Next I created a script named demoISLR.r with a few lines of R syntax:

%pre
  =render 'angular2class2016_0131a'

%br/
%br/


