.q1 Question:
.q2 How to Start Learning Angular2?
.tags
  %span.tagtag Tags:
  .tag angular2
  .tag javascript
  .tag meetup
  .tag hackerdojo
  .tag heroku
  .tag git

%br/

This page corresponds to a Meetup and a git-repo:

%ul
  %li
    %a(href='http://www.meetup.com/Dans-Linux-JavaScript-Class/events/228359487' target='x')
      http://www.meetup.com/Dans-Linux-JavaScript-Class/events/228359487
  %li
    %a(href='https://github.com/danbikle/ang2tut201602' target='x')
      https://github.com/danbikle/ang2tut201602

The purpose of the Meetup is to help you start learning Angular2.

%br/
%br/

The git-repo is a teaching aid for the Meetup but should be good enough to point you down the path of learning Angular2.


%br/
%br/



%br/
%br/



%br/
%br/



%br/ 
%br/ 

%pre
  %code.bash



%pre
  =render 'angular2class2016_0131a'

%br/
%br/


