.q1 Question:
.q2 How to Simply Authenticate an Angular2 User?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/angular2') angular2
  %a.xtag(href='/tags/javascript') javascript
  %a.xtag(href='/tags/meetup') meetup
  %a.xtag(href='/tags/hackerdojo') hackerdojo
  %a.xtag(href='/tags/git') git
  %a.xtag(href='/tags/npm') npm
  %a.xtag(href='/tags/typescript') typescript
  %a.xtag(href='/tags/tutorial') tutorial

This page corresponds to a Meetup and a git-repo:

%ul
  %li
    %a(href='http://www.meetup.com/Dans-Linux-JavaScript-Class/events/228980307/' target='x')
      http://www.meetup.com/Dans-Linux-JavaScript-Class/events/228980307/
  %li
    %a(href='https://github.com/danbikle/ang2auth0' target='x')
      https://github.com/danbikle/ang2auth0

The purpose of this Meetup is to introduce you to the idea of authenticating a user who wants to use your Angular2 app.



%br/
%br/

The git-repo is a teaching aid for the Meetup but should be good enough to point you down the path of independent learning.

%br/
%br/

We start the class by assuming you have Ubuntu installed on your laptop.

%br/
%br/

If you want to try doing this class with MacOS/X instead of Ubuntu, that should be do-able.

%br/
%br/

I start by installing Ubuntu 14.04 on my laptop.
%br/
%br/


The most recent version of Ubuntu which I like is at this URL:
%br/
%br/


%a(href='http://releases.ubuntu.com/14.04.3/ubuntu-14.04.3-desktop-amd64.iso' target='x')
  http://releases.ubuntu.com/14.04.3/ubuntu-14.04.3-desktop-amd64.iso
%br/
%br/


The three general paths to install Ubuntu on a laptop are listed below:
%ul
  %li Remove Windows and install Ubuntu
  %li Ignore Windows and install Ubuntu on USB drive
  %li Install VirtualBox on Mac or Windows, Install Ubuntu inside VirtualBox

My favorite path is path2: Ignore Windows and install Ubuntu on USB drive.
%br/
%br/

Path2 works well with a new laptop should I want to maintain the warranty.
%br/
%br/

If you are new to the world of Ubuntu laptops I suggest you buy a cheap windows laptop from Walmart and run some experiments.
%br/
%br/

E-me if you need help: bikle101@gmail.com
%br/
%br/
