%h1 Blog
This site is a knowledge base of software components.  The structure of this site is simple.
When I add content to the site I start with a simple question which I had recently encountered.
%br/
%br/

Often I encounter simple questions during my day-to-day efforts to build software applications.
%br/
%br/

For example, here is a simple question,
%br/

"How do I highlight Python syntax inside an HTML code-element served by a Rails application?"
%br/
%br/

Once I find the answer to a question, I author a "post" which is just an HTML page full of 
simple English explaining syntax which answers the question.
%br/
%br/

Once the post is done I ensure that it contains the original question near the top.
%br/
%br/

Also I add "tags" which add descriptive context to the post.
%br/
%br/

Usually tags are nouns or verbs commonly used by software developers.
%br/
%br/

For example, here are some tags,
%br/

Python, JavaScript, Algorithm, Debug, Deploy
%br/
%br/

After a question is embedded within a post and that post is tagged, I start work on another post after I encounter an interesting question during my efforts.
%br/
%br/

So, that is it; this site contains posts, questions and tags related to software components.

