.q1 Question:
.q2 What is 2015_1128 Code Challenge?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/npm') npm
  %a.xtag(href='/tags/nodejs') nodejs
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/ubuntu') ubuntu
  %a.xtag(href='/tags/heroku') heroku
  %a.xtag(href='/tags/javascript') javascript
  %a.xtag(href='/tags/useradd') useradd
  %a.xtag(href='/tags/passwd') passwd
  %a.xtag(href='/tags/git') git
  %a.xtag(href='/tags/procfile') procfile
  %a.xtag(href='/tags/node') node
  %a.xtag(href='/tags/gitignore') gitignore
  %a.xtag(href='/tags/toolbelt') toolbelt
  %a.xtag(href='/tags/code_challenge') code_challenge
  %a.xtag(href='/tags/bikle101') bikle101
  %a.xtag(href='/tags/ssh') ssh
  %a.xtag(href='/tags/meetup') meetup
  %a.xtag(href='/tags/id_rsa') id_rsa
  %a.xtag(href='/tags/alert') alert
  %a.xtag(href='/tags/herokuapp') herokuapp
  %a.xtag(href='/tags/curl') curl
  %a.xtag(href='/tags/heroku_client') heroku_client
  %a.xtag(href='/tags/wget') wget
  %a.xtag(href='/tags/console_log') console_log
  %a.xtag(href='/tags/d3') d3
  %a.xtag(href='/tags/select') select
  .tag app29

%br/

The 2015_1128 Code Challenge is a learning exercise for students attending Dan's Linux JavaScript Class at 3pm on 2015-11-28 at Hacker Dojo:

%br/
%br/


%a(href='http://www.meetup.com/Dans-Linux-JavaScript-Class/' target='x')
  http://www.meetup.com/Dans-Linux-JavaScript-Class/

%br/
%br/

We start with three tasks: Install Ubuntu, enhance it, and create account named ann:

%ul
  %li Install Ubuntu 14.04.3 on your laptop
  %li
    Useful:
    %a(href='http://releases.ubuntu.com/14.04/ubuntu-14.04.3-desktop-amd64.iso' target='w')
      http://releases.ubuntu.com/14.04/ubuntu-14.04.3-desktop-amd64.iso

  %li
    Useful:
    %a(href='https://www.virtualbox.org/wiki/Downloads' target='w')
      https://www.virtualbox.org/wiki/Downloads
    %br/
    %a(href='http://www.google.com/search?q=How+to+install+virtualbox' target='w')
      http://www.google.com/search?q=How+to+install+virtualbox    
    %br/
    %a(href='http://www.google.com/search?q=How+to+install+virtualbox+additions' target='w')
      How to install virtualbox guest additions
    %br/
    %a(href='/posts/virtualbox_why_tiny') virtualbox_why_tiny

  %li
    Enhance Ubuntu:
    %pre
      =render 'code_challenge2015_09121'

  %li
    Create account named ann:
    %pre
      %code.bash
        useradd ann -m -s /bin/bash
        passwd ann
        ssh -YA ann@localhost

/ Install node.js
=render 'code_challenge2015_0919n'

%ul
  %li
    Start work on an app:
    %pre
      %code.bash
        cd ~ann
        rm -rf app29
        git clone https://github.com/danbikle/app29.git
        cd ~ann/app29
        \.  ~ann/app29/app29env.bash

%br/
%br/

If you want to deploy this repository to Heroku, follow this recipe:
%ul
  %li Create an account at heroku.com website

  %li
    Download/Install Heroku client
    %pre
      %code.bash
        cd ~ann
        wget https://s3.amazonaws.com/assets.heroku.com/heroku-client/heroku-client.tgz
        tar zxf heroku-client.tgz
        echo 'export PATH=/home/ann/heroku-client/bin:${PATH}' >> ~ann/.bashrc
        echo  export PATH=/home/ann/heroku-client/bin:${PATH}

  %li
    I created ssh-key for ann account (assuming ann has none yet):
    %pre
      =render 'code_challenge2015_0919s'

  %li
    I used heroku-client to "login" my shell.
    I gave a copy of ann public ssh-key to heroku:
    %pre
      %code.bash
        heroku status
        heroku auth:login
        heroku auth:whoami
        heroku keys:add

  %li
    I used heroku-client to create a blank app named app29 at herokuapp.com
    %pre
      %code.bash
        cd ~ann/app29
        \~ann/heroku-client/bin/heroku create app29

  %li
    git-push ~ann/app29 to heroku
    %pre
      %code.bash
        cd ~ann/app29
        git add .
        git commit -am hello
        git push heroku master
    
  %li
    I saw ~ann/app29 deployed at 
    %a(href='https://app29.herokuapp.com' target='w')
      https://app29.herokuapp.com

%hr/
%h1 Questions

%ul
  %li How to get started with ConvNet.js?
  %li What Python based Deep Learning technology can I run on my laptop?
  %li Can I compare how I learn to how Deep Learning Learns?

%hr/

That could be considered an adequate code challenge for a two hour Meetup.
%br/
%br/
If you have questions, e-me:
%br/
%br/
bikle101@gmail.com
%br/
%br/

