.q1 Question:
.q2 What is 2015_0912 Code Challenge?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/npm') npm
  %a.xtag(href='/tags/nodejs') nodejs
  .tag linux
  .tag ubuntu

%br/

The 2015_0912 Code Challenge is learning exercise for students attending this Meetup:

%br/
%br/

%a(href='http://www.meetup.com/Dans-Linux-JavaScript-Class/events/225223500/' target='x')
  http://www.meetup.com/Dans-Linux-JavaScript-Class/events/225223500/


%br/
%br/

%ul
  %li Install Ubuntu 14.04.3 on your laptop
  %li
    Useful:
    %a(href='http://releases.ubuntu.com/14.04/ubuntu-14.04.3-desktop-amd64.iso' target='x')
      http://releases.ubuntu.com/14.04/ubuntu-14.04.3-desktop-amd64.iso

  %li
    Useful:
    %a(href='https://www.virtualbox.org/wiki/Downloads' target='x')
      https://www.virtualbox.org/wiki/Downloads

  %li
    Enhance Ubuntu:
    %pre
      =render 'code_challenge2015_09121'

%br/
%br/


%br/
%br/


%br/
%br/
