.q1 Question:
.q2 What is 2016_0117 Code Challenge?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/meetup') meetup
  .tag jquery
  .tag javascript


%br/

The 2016_0117 Code Challenge is a learning exercise for students attending this Meetup:

%br/
%br/

%a(href='http://www.meetup.com/Dans-Linux-JavaScript-Class/events/228067791' target='x')
  http://www.meetup.com/Dans-Linux-JavaScript-Class/events/228067791

%br/
%br/

We start with two lines of syntax:

%pre
  =render 'code_challenge2016_0117a'

