.q1 Question:
.q2 What is 2015_1010 Code Challenge?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/npm') npm
  %a.xtag(href='/tags/nodejs') nodejs
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/ubuntu') ubuntu
  %a.xtag(href='/tags/heroku') heroku
  %a.xtag(href='/tags/package_json') package_json
  %a.xtag(href='/tags/javascript') javascript
  %a.xtag(href='/tags/coffeescript') coffeescript
  %a.xtag(href='/tags/meetup') meetup
  %a.xtag(href='/tags/useradd') useradd
  %a.xtag(href='/tags/passwd') passwd
  %a.xtag(href='/tags/git') git
  %a.xtag(href='/tags/procfile') procfile
  %a.xtag(href='/tags/node') node
  %a.xtag(href='/tags/node_modules') node_modules
  %a.xtag(href='/tags/gitignore') gitignore
  %a.xtag(href='/tags/engines') engines
  %a.xtag(href='/tags/http_server') http_server
  %a.xtag(href='/tags/toolbelt') toolbelt
  %a.xtag(href='/tags/code_challenge') code_challenge
  %a.xtag(href='/tags/bikle101') bikle101
  %a.xtag(href='/tags/emacs') emacs
  %a.xtag(href='/tags/buffer_menu') buffer_menu
  %a.xtag(href='/tags/ssh') ssh
  %a.xtag(href='/tags/meetup') meetup
  %a.xtag(href='/tags/id_rsa') id_rsa
  %a.xtag(href='/tags/alert') alert
  %a.xtag(href='/tags/herokuapp') herokuapp
  %a.xtag(href='/tags/cedar') cedar
  %a.xtag(href='/tags/curl') curl
  %a.xtag(href='/tags/heroku_client') heroku_client
  %a.xtag(href='/tags/wget') wget
  %a.xtag(href='/tags/coffee') coffee
  %a.xtag(href='/tags/console_log') console_log
  %a.xtag(href='/tags/dired') dired
  %a.xtag(href='/tags/global_set_key') global_set_key
  %a.xtag(href='/tags/lisp') lisp

%br/

The 2015_1010 Code Challenge is a learning exercise for students attending Dan's Linux JavaScript Class at 3pm on 2015-10-10 at Hacker Dojo:

%br/
%br/

%a(href='http://www.meetup.com/Dans-Linux-JavaScript-Class/events/225843604/' target='x')
  http://www.meetup.com/Dans-Linux-JavaScript-Class/events/225843604/

%br/
%br/

We start with three tasks: Install Ubuntu, enhance it, and create account named ann:

%ul
  %li Install Ubuntu 14.04.3 on your laptop
  %li
    Useful:
    %a(href='http://releases.ubuntu.com/14.04/ubuntu-14.04.3-desktop-amd64.iso' target='x')
      http://releases.ubuntu.com/14.04/ubuntu-14.04.3-desktop-amd64.iso

  %li
    Useful:
    %a(href='https://www.virtualbox.org/wiki/Downloads' target='x')
      https://www.virtualbox.org/wiki/Downloads
    %br/
    %a(href='http://www.google.com/search?q=How+to+install+virtualbox' target='x')
      http://www.google.com/search?q=How+to+install+virtualbox    
    %br/
    %a(href='http://www.google.com/search?q=How+to+install+virtualbox+additions' target='x')
      How to install virtualbox guest additions
    %br/
    %a(href='/posts/virtualbox_why_tiny') virtualbox_why_tiny

  %li
    Enhance Ubuntu:
    %pre
      =render 'code_challenge2015_09121'

  %li
    Create account named ann:
    %pre
      %code.bash
        useradd ann -m -s /bin/bash
        passwd ann
        ssh -YA ann@localhost

Next, we learn some Emacs:

=render 'code_challenge2015_0919e'

%br/
%br/

/ Install node.js
=render 'code_challenge2015_0919n'

%ul
  %li
    Start work on an app:
    %pre
      %code.bash
        cd ~ann
        mkdir app20
        cd    ~ann/app20
        mkdir fee haml app

I did the above steps on my laptop.

%br/
%br/

Next, I used emacs to create a file named ~ann/app20/package.json

%pre
  =render 'code_challenge2015_1010a'

Then, I ran a simple shell command:

%pre
  %code.bash
    cd ~ann/app20
    npm install

That shell command created a folder named node_modules:

%pre
  %code.bash
    ann@red1:~/app20$ 
    ann@red1:~/app20$ ll node_modules/
    total 16
    drwxrwxr-x 4 ann ann 4096 Oct  8 23:58 ./
    drwxrwxr-x 6 ann ann 4096 Oct  8 23:58 ../
    drwxrwxr-x 2 ann ann 4096 Oct  8 23:58 .bin/
    drwxrwxr-x 8 ann ann 4096 Oct  8 23:58 http-server/
    ann@red1:~/app20$ 
    ann@red1:~/app20$ 
    ann@red1:~/app20$ 

I wanted git to ignore node_modules:

%pre
  %code.bash echo node_modules > ~ann/app20/.gitignore

Next, I created a git repository for the app20 folder:

%pre
  %code
    cd ~ann/app20
    git config --global user.email "ann@ann.edu"
    git config --global user.name ann
    git init
    git add .
    git commit -am app20IsHereNow
    git status
    git log -1

Then, I created ~ann/app20/app20env.bash

%pre
  =render 'code_challenge2015_1010b'

Next, I created a script to start http-server.

%pre
  =render 'code_challenge2015_1010c'

I started a shell in emacs and ran the above script.

%pre
  =render 'code_challenge2015_1010d'

That shell was locked; I renamed it so I could start another shell.

%br/
%br/

Next, I installed a Linux utility called HAML.

%pre
  =render 'code_challenge2015_1010e'

Then, I got a copy of d3.v3.min.js

%pre
  %code.bash
    cd ~ann/app20/app/
    curl https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js > d3.v3.min.js
