.q1 Question:
.q2 In D3.js How To Drive Document with CSV? 
.tags
  %span.tagtag Tags:
  .tag d3_js
  .tag d3
  .tag csv
  .tag table
  .tag html
  .tag foreach


%br/

I can use D3.js and a CSV file to drive creation of an HTML table.

%br/
%br/

This is a common scenario.

%br/
%br/

In plain English the JS code I write should generate a D3 object from each row in the CSV file.

%br/
%br/

Then I should join a row of data with that object.

%br/
%br/

Next I should I should call object.append('tr') to create a row of HTML.

%br/
%br/

Then I should use a nested loop to populate td-elements within that row.

%br/
%br/

The code I wrote to do this is displayed below:

%br/
%br/
