.q1 Question:
.q2 In D3.js How To Drive Document with CSV? 
.tags
  %span.tagtag Tags:
  .tag d3_js
  .tag d3
  .tag csv
  .tag table
  .tag html
  .tag foreach


%br/

I can use D3.js and a CSV file to drive creation of an HTML table.

%br/
%br/

This is a common scenario.

%br/
%br/

The list below describes some JavaScript-D3 steps I could follow to create an HTML table.

%ul
  %li Call d3.csv("/iris.csv") to create an array of objects named csv_a
  %li Study the parent page and decide on a location for the table
  %li Create a D3 object for the parent
  %li Example: var d3table_parent = d3.select('#tr2td1');
  %li Create the table from the parent
  %li Example: var d3table        = d3table_parent.append('table');
  %li Ask csv_a to drive a forEach-loop
  %li Example: csv_a.forEach(function(row) { something; });
  %li Inside the loop, build an array from the row-object
  %li Example: var row_a = [row.sepal_len,row.sepal_wid];
  %li Inside the loop, append a tr-element to the table
  %li Example: var d3row = d3table.append('tr');
  %li Inside the loop, append td-elements to the row
  %li Example: row_a.forEach(function(el) {d3row.append('td');});
  %li Join the td-elements with their data
  %li Example: var d3td_hd = d3row.selectAll('td').data(row_a);
  %li Fill the td-elements with their data
  %li Example: d3td_hd.text(function(d) {return d;});

An example CSV file is at this URL:
%a(href='/iris.csv') /iris.csv

%br/
%br/
:javascript
  var d3table_parent = d3.select('#tr2td1');
  var d3table        = d3table_parent.append('table');
  d3.csv("/iris.csv", function(error, csv_a) {
    if (error) throw error;
    csv_a.forEach(function(row) {
      row;
    });
