
.q1 Question:
.q2 On Ubuntu how to install Erlang and Elixir?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/wget') wget
  %a.xtag(href='/tags/erlang') erlang
  %a.xtag(href='/tags/elixir') elixir
  %a.xtag(href='/tags/meetup') meetup
  %a.xtag(href='/tags/otp') otp
  %a.xtag(href='/tags/erl') erl
  %a.xtag(href='/tags/erl_top') erl_top
  %a.xtag(href='/tags/configure') configure
  %a.xtag(href='/tags/prefix') prefix
  %a.xtag(href='/tags/make') make
  %a.xtag(href='/tags/release_tests') release_tests
  %a.xtag(href='/tags/test_server') test_server
  %a.xtag(href='/tags/install') install
  %a.xtag(href='/tags/bashrc') bashrc
  %a.xtag(href='/tags/elixir_lang') elixir_lang
  %a.xtag(href='/tags/github') github
  %a.xtag(href='/tags/git') git
  %a.xtag(href='/tags/clone') clone
  %a.xtag(href='/tags/clean') clean
  %a.xtag(href='/tags/simonstl') simonstl
  %a.xtag(href='/tags/introducing_elixir') introducing_elixir
  %a.xtag(href='/tags/sccl') sccl
  %a.xtag(href='/tags/sccl_org') sccl_org
  %a.xtag(href='/tags/iex') iex


%br/

I went to the Elixir/Erlang Meetup at Hacker Dojo on 2015-02-19.

%br/
%br/

I web-searched for 'Install Erlang'.

%br/
%br/

I typed some shell commands at my Ubuntu box:

%pre
  %code.bash
    ssh -YA ann@localhost
    wget http://www.erlang.org/download/otp_src_17.4.tar.gz
    tar zxf otp_src_17.4.tar.gz
    cd otp_src_17.4/
    export ERL_TOP=`pwd`
    \./configure --prefix=/home/ann/erl
    make
    make release_tests
    cd release/tests/test_server
    $ERL_TOP/bin/erl -s ts install -s ts smoke_test batch -s init stop

I visited the html report:
%br/
%br/

$ERL_TOP/release/tests/test_server/index.html

%br/
%br/

I saw three failures in the tests.emulator_test.time_SUITE which I ignored since this is just a training installation.

%br/
%br/

Next, I tried installing Elixir from github and it failed.

%br/
%br/

Here is a screen dump:

%pre
  =render 'erlang_elixer_install'

%br/


