.q1 Question:
.q2 How to get started with Github API?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/github') github
  %a.xtag(href='/tags/rest') rest
  %a.xtag(href='/tags/api') api
  %a.xtag(href='/tags/rest_client') rest_client
%br/

I use this post to get students started with the Github REST API.


%br/
%br/
under construction
