.q1 Question:
.q2 How to install H2O R package?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/ubuntu') ubuntu
  %a.xtag(href='/tags/h2o') h2o
  %a.xtag(href='/tags/0xdata') 0xdata
  %a.xtag(href='/tags/jar') jar
  %a.xtag(href='/tags/h2oai') h2oai
  %a.xtag(href='/tags/libcurl4') libcurl4
  %a.xtag(href='/tags/openssl') openssl
  %a.xtag(href='/tags/rcurl') rcurl
  %a.xtag(href='/tags/rjson') rjson
  %a.xtag(href='/tags/statmod') statmod

%br/
The H2O R package comes with the H2O software when I download it.
%br/
%br/
The software has a folder named 'R' and the package is inside that folder:
%pre
  =render 'h2o_r_howto'
%br/

