.q1 Question:
.q2 In H2O Sparkling-Water how to get one column from DataFrame?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/h2o') h2o
  %a.xtag(href='/tags/0xdata') 0xdata
  %a.xtag(href='/tags/sparkling') sparkling
  %a.xtag(href='/tags/apache') apache
  %a.xtag(href='/tags/spark') spark
  %a.xtag(href='/tags/scala') scala
  .tag dkv
  .tag bikesdf
  .tag github
  .tag droplet
  .tag citibike
  .tag update
  .tag replace
  .tag sc
  .tag get
  .tag starttime
  .tag meetup
  .tag startTimeF
  .tag map
  .tag dataframe
  .tag names
  .tag colnames

%br/

I got this question answered at a Meetup:

%pre
  %code.scala
    \// It is just one line of syntax:
    val startTimeF = bikesDF('starttime)
    \// The datatype of startTimeF should be DataFrame

The above syntax is also on github:

%br/
%br/

%a(href='https://github.com/h2oai/sparkling-water/blob/master/examples/scripts/Meetup20150226.script.scala' target='x')
  https://github.com/h2oai/sparkling-water/blob/master/examples/scripts/Meetup20150226.script.scala

%br/


