.q1 Question:
.q2 In H2O Sparkling-Water how to change names of DataFrame columns?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/h2o') h2o
  %a.xtag(href='/tags/oxdata') oxdata
  %a.xtag(href='/tags/sparkling') sparkling
  %a.xtag(href='/tags/apache') apache
  %a.xtag(href='/tags/spark') spark
  %a.xtag(href='/tags/scala') scala
  %a.xtag(href='/tags/dkv') dkv
  %a.xtag(href='/tags/bikesdf') bikesdf
  %a.xtag(href='/tags/github') github
  %a.xtag(href='/tags/droplet') droplet
  %a.xtag(href='/tags/citibike') citibike
  %a.xtag(href='/tags/update') update
  %a.xtag(href='/tags/replace') replace
  %a.xtag(href='/tags/sc') sc
  %a.xtag(href='/tags/map') map
  %a.xtag(href='/tags/dataframe') dataframe
  %a.xtag(href='/tags/names') names
  %a.xtag(href='/tags/colnames') colnames

%br/

I got this question answered at a Meetup:

%pre
  =render 'h2o_spark_dataframe_column'  

The above syntax is also on github:

%br/
%br/

%a(href='https://github.com/h2oai/sparkling-water/blob/master/examples/scripts/Meetup20150226.script.scala' target='x')
  https://github.com/h2oai/sparkling-water/blob/master/examples/scripts/Meetup20150226.script.scala



%br/


