.q1 Question:
.q2 In H2O how to start R Demo?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/h2o') h2o
  %a.xtag(href='/tags/0xdata') 0xdata
  %a.xtag(href='/tags/r') r
  %a.xtag(href='/tags/demo') demo
  %a.xtag(href='/tags/remove_packages') remove_packages
  %a.xtag(href='/tags/install_packages') install_packages
  %a.xtag(href='/tags/library') library
  %a.xtag(href='/tags/statmod') statmod
  %a.xtag(href='/tags/survival') survival
  %a.xtag(href='/tags/splines') splines
  %a.xtag(href='/tags/h2o_init') h2o_init
  %a.xtag(href='/tags/localh2o') localh2o
  %a.xtag(href='/tags/extdata') extdata
  %a.xtag(href='/tags/iris') iris
  %a.xtag(href='/tags/class') class
  %a.xtag(href='/tags/head') head
  %a.xtag(href='/tags/tail') tail
  %a.xtag(href='/tags/anyfactor') anyfactor
  %a.xtag(href='/tags/system_file') system_file
  %a.xtag(href='/tags/package') package
  %a.xtag(href='/tags/prostate') prostate
  %a.xtag(href='/tags/summary') summary
  %a.xtag(href='/tags/data_frame') data_frame
  %a.xtag(href='/tags/as_h2o') as_h2o
  %a.xtag(href='/tags/quantile') quantile
  %a.xtag(href='/tags/predicate') predicate
  %a.xtag(href='/tags/nrow') nrow
  %a.xtag(href='/tags/h2o_assign') h2o_assign
  %a.xtag(href='/tags/h2oparseddata') h2oparseddata
  %a.xtag(href='/tags/parsed_data') parsed_data
  %a.xtag(href='/tags/clusterinfo') clusterinfo
  %a.xtag(href='/tags/h2o_clusterinfo') h2o_clusterinfo
  %a.xtag(href='/tags/h2o_table') h2o_table
  %a.xtag(href='/tags/random') random
  %a.xtag(href='/tags/runif') runif
  %a.xtag(href='/tags/split_frame') split_frame
  %a.xtag(href='/tags/split') split

%br/
I took some notes while walking through the H2O R Tutorial:
%br/
%br/
%a(href='http://docs.h2o.ai/Ruser/rtutorial.html' target='x')
  http://docs.h2o.ai/Ruser/rtutorial.html

%pre
  =render 'h2o_r_demo'
%br/

