
.q1 Question:
.q2 In H2O Sparkling Water how to convert RDD to DataFrame?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/spark') spark
  %a.xtag(href='/tags/sc') sc
  %a.xtag(href='/tags/rdd') rdd
  %a.xtag(href='/tags/dataframe') dataframe
  %a.xtag(href='/tags/h2o') h2o
  %a.xtag(href='/tags/map') map
  %a.xtag(href='/tags/github') github
  %a.xtag(href='/tags/makerdd') makerdd
  %a.xtag(href='/tags/intholder') intholder
  %a.xtag(href='/tags/doubleholder') doubleholder
  %a.xtag(href='/tags/stringholder') stringholder
  %a.xtag(href='/tags/h2ocontext') h2ocontext
  %a.xtag(href='/tags/createdataframe') createdataframe
  %a.xtag(href='/tags/ringo') ringo
  %a.xtag(href='/tags/myband') myband
  %a.xtag(href='/tags/delete') delete
  %a.xtag(href='/tags/unpersist') unpersist

%br/

An H2O DataFrame can be built from a plain RDD with the help of a call to .map().

%br/
%br/

Here are short demos which are similar to tests on github:

%br/
%br/

%a(href='https://github.com/h2oai/sparkling-water/blob/master/core/src/test/scala/org/apache/spark/rdd/H2ORDDTest.scala' target='x')
  https://github.com/h2oai/sparkling-water/blob/master/core/src/test/scala/org/apache/spark/rdd/H2ORDDTest.scala

%pre
  =render 'h2o_spark_rdd2dataframe'


%br/
