
.q1 Question:
.q2 In H2O Sparkling Water how to convert RDD to DataFrame?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/spark') spark
  %a.xtag(href='/tags/sc') sc
  %a.xtag(href='/tags/rdd') rdd
  %a.xtag(href='/tags/dataframe') dataframe
  %a.xtag(href='/tags/h2o') h2o
  .tag map
  .tag github
  .tag makerdd
  .tag intholder
  .tag doubleholder
  .tag stringholder
  .tag h2ocontext
  .tag createdataframe
  .tag ringo
  .tag myband
  .tag delete
  .tag unpersist

%br/

An H2O DataFrame can be built from a plain RDD with the help of a call to .map().

%br/
%br/

Here are short demos which are similar to tests on github:

%br/
%br/

%a(href='https://github.com/h2oai/sparkling-water/blob/master/core/src/test/scala/org/apache/spark/rdd/H2ORDDTest.scala' target='x')
  https://github.com/h2oai/sparkling-water/blob/master/core/src/test/scala/org/apache/spark/rdd/H2ORDDTest.scala

%pre
  =render 'h2o_spark_rdd2dataframe'


%br/
