
.q1 Question:
.q2 In H2O Sparkling Water how to navigate RDD?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/spark') spark
  %a.xtag(href='/tags/sc') sc
  %a.xtag(href='/tags/rdd') rdd
  %a.xtag(href='/tags/h2o') h2o
  %a.xtag(href='/tags/map') map
  %a.xtag(href='/tags/github') github
  %a.xtag(href='/tags/makerdd') makerdd
  %a.xtag(href='/tags/stringholder') stringholder
  %a.xtag(href='/tags/h2ocontext') h2ocontext
  %a.xtag(href='/tags/zip') zip
  %a.xtag(href='/tags/result') result
  %a.xtag(href='/tags/underscore1') underscore1
  %a.xtag(href='/tags/zipped') zipped
  %a.xtag(href='/tags/pizza') pizza
  %a.xtag(href='/tags/navigate') navigate
  %a.xtag(href='/tags/match') match
  %a.xtag(href='/tags/collect') collect
  .tag intholder

%br/

H2O uses an enhanced type of RDD in Sparkling Water.

%br/
%br/

I can see it in action at the URL below:

%br/
%br/

%a(href='https://github.com/h2oai/sparkling-water/blob/master/core/src/test/scala/org/apache/spark/rdd/H2ORDDTest.scala' target='x')
  https://github.com/h2oai/sparkling-water/blob/master/core/src/test/scala/org/apache/spark/rdd/H2ORDDTest.scala


%br/
%br/

This RDD does not support take() and drop(), how do I navigate it?

%br/
%br/

Here is a simple demo:

%pre
  =render 'h2o_spark_rdd_navigate'

%br/
