.q1 Question:
.q2 In H2O how to start R Demo?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/h2o') h2o
  %a.xtag(href='/tags/0xdata') 0xdata
  .tag r
  .tag demo
  .tag r
  .tag remove_packages
  .tag install_packages
  .tag library
  .tag statmod
  .tag survival
  .tag splines
  .tag h2o_init
  .tag localH2O
  .tag extdata
  .tag iris
  .tag class
  .tag head
  .tag tail
  .tag anyFactor
  .tag system_file
  .tag package
  .tag prostate
  .tag summary
  .tag data_frame
  .tag as_h2o
  .tag quantile
  .tag predicate
  .tag nrow
  .tag h2o_assign
  .tag h2oparseddata
  .tag parsed_data
  .tag clusterInfo
  .tag h2o_clusterInfo
  .tag h2o_table
  .tag r
  .tag r
  .tag r
  .tag r
  .tag r
  .tag r

%br/
I took some notes while walking through the H2O R Tutorial:
%pre
  =render 'h2o_r_demo'
%br/

