.q1 Question:
.q2 In H2O Sparkling-Water how to create Spark SchemaRDD from CSV?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/h2o') h2o
  %a.xtag(href='/tags/0xdata') 0xdata
  %a.xtag(href='/tags/sparkling') sparkling
  %a.xtag(href='/tags/apache') apache
  %a.xtag(href='/tags/spark') spark
  %a.xtag(href='/tags/scala') scala
  %a.xtag(href='/tags/bikesdf') bikesdf
  %a.xtag(href='/tags/github') github
  %a.xtag(href='/tags/droplet') droplet
  %a.xtag(href='/tags/citibike') citibike
  %a.xtag(href='/tags/update') update
  %a.xtag(href='/tags/replace') replace
  %a.xtag(href='/tags/sc') sc
  %a.xtag(href='/tags/map') map
  %a.xtag(href='/tags/dataframe') dataframe
  %a.xtag(href='/tags/names') names
  %a.xtag(href='/tags/schemardd') schemardd
  %a.xtag(href='/tags/asschemardd') asschemardd
  %a.xtag(href='/tags/rdd') rdd
  %a.xtag(href='/tags/transform') transform
  %a.xtag(href='/tags/epoch') epoch
  %a.xtag(href='/tags/milliseconds') milliseconds
  %a.xtag(href='/tags/unixtime') unixtime
  %a.xtag(href='/tags/meetup') meetup
  %a.xtag(href='/tags/bikesrdd') bikesrdd
  %a.xtag(href='/tags/colnames') colnames

%br/

I got this question answered at a Meetup:

%br/
%br/

First I create a DataFrame from files.

%br/
%br/

Then I create a Spark SchemaRDD from DataFrame.

%br/
%br/

Here is some syntax:

%pre
  =render 'h2o_spark_schemardd_fromcsv1'

The above syntax is also on github:

%br/
%br/

%a(href='https://github.com/h2oai/sparkling-water/blob/master/examples/scripts/Meetup20150226.script.scala' target='x')
  https://github.com/h2oai/sparkling-water/blob/master/examples/scripts/Meetup20150226.script.scala


%br/


