.q1 Question:
.q2 In H2O Sparkling-Water how to create Spark SchemaRDD from CSV?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/h2o') h2o
  %a.xtag(href='/tags/0xdata') 0xdata
  %a.xtag(href='/tags/sparkling') sparkling
  %a.xtag(href='/tags/apache') apache
  %a.xtag(href='/tags/spark') spark
  %a.xtag(href='/tags/scala') scala
  .tag bikesdf
  .tag github
  .tag droplet
  .tag citibike
  .tag update
  .tag replace
  .tag sc
  .tag map
  .tag dataframe
  .tag names
  .tag schemardd
  .tag asSchemardd
  .tag rdd
  .tag transform
  .tag epoch
  .tag milliseconds
  .tag unixtime
  .tag meetup
  .tag bikesrdd
  .tag colnames

%br/

I got this question answered at a Meetup:

%br/
%br/

First I create a DataFrame from files.

%br/
%br/

Then I create a Spark SchemaRDD from DataFrame.

%br/
%br/

Here is some syntax:

%pre
  =render 'h2o_spark_schemardd_fromcsv1'

The above syntax is also on github:

%br/
%br/

%a(href='https://github.com/h2oai/sparkling-water/blob/master/examples/scripts/Meetup20150226.script.scala' target='x')
  https://github.com/h2oai/sparkling-water/blob/master/examples/scripts/Meetup20150226.script.scala


%br/


