.q1 Question:
.q2 How to install H2O R package?
.tags
  %span.tagtag Tags:
  .tag linux
  .tag ubuntu
  .tag h2o
  .tag 0xdata
  .tag jar
  .tag h2oai
  .tag libcurl4
  .tag openssl
  .tag RCurl
  .tag rjson
  .tag statmod

%br/
The H2O R package comes with the H2O software when I download it.
%br/
%br/
The software has a folder named 'R' and the package is inside that folder:
%pre
  =render 'h2o_r_howto'
%br/

