.q1 Question:
.q2 In H2O How to start Sparkling Shell?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/ubuntu') ubuntu
  %a.xtag(href='/tags/h2o') h2o
  %a.xtag(href='/tags/0xdata') 0xdata
  .tag sparkling
  .tag shell
  .tag apache
  .tag spark
  .tag scala
  .tag spark_home
  .tag master
  .tag localhost
  .tag h2oContext
  .tag flow
  .tag coffeewindow
%br/
Sparkling water allows me to connect Spark and h2o.
%pre
  =render 'h2o_sparkwater'
%br/

