.q1 Question:
.q2 In H2O Sparkling-Water how to create DataFrame from SparkFiles?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/h2o') h2o
  %a.xtag(href='/tags/0xdata') 0xdata
  %a.xtag(href='/tags/sparkling') sparkling
  %a.xtag(href='/tags/apache') apache
  %a.xtag(href='/tags/spark') spark
  %a.xtag(href='/tags/scala') scala
  %a.xtag(href='/tags/sparkfiles') sparkfiles
  %a.xtag(href='/tags/iris') iris
  %a.xtag(href='/tags/github') github
  %a.xtag(href='/tags/droplet') droplet
  %a.xtag(href='/tags/register') register
  %a.xtag(href='/tags/node') node
  %a.xtag(href='/tags/addfile') addfile
  %a.xtag(href='/tags/sc') sc
  %a.xtag(href='/tags/parse') parse
  %a.xtag(href='/tags/dataframe') dataframe
  %a.xtag(href='/tags/java_io_file') java_io_file
  %a.xtag(href='/tags/dir_prefix') dir_prefix
  %a.xtag(href='/tags/iris_csv') iris_csv
  %a.xtag(href='/tags/csv') csv

%br/

I pulled this syntax off of github:

%pre
  %code.scala
    // Load data and parse it via h2o parser
    val irisTable = new DataFrame(new File(SparkFiles.get("iris.csv")))

The github URL is/was:

%br/
%br/

%a(href='https://github.com/h2oai/h2o-droplets/blob/master/sparkling-water-droplet/src/main/scala/water/droplets/SparklingWaterDroplet.scala' target='x')
  https://github.com/h2oai/h2o-droplets/blob/master/sparkling-water-droplet/src/main/scala/water/droplets/SparklingWaterDroplet.scala

%br/
%br/

Note that iris.csv was 'registered' in an earlier step.

%br/
%br/

The syntax to register iris.csv is this:

%pre
  %code.scala
    // Register file to be available on all nodes
    sc.addFile("data/iris.csv")

Note that I can also create a DataFrame from a file using H2O-only syntax.

%br/
%br/

Here is a demo of that technique I saw at a Meetup:

%pre
  =render 'h2o_spark_dataframe_sparkfile1'

I also found the above syntax on github:

%br/
%br/

%a(href='https://github.com/h2oai/sparkling-water/blob/master/examples/scripts/Meetup20150226.script.scala' target='x')
  https://github.com/h2oai/sparkling-water/blob/master/examples/scripts/Meetup20150226.script.scala



%br/

