.q1 Question:
.q2 In H2O how to run citibike demo?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/ubuntu') ubuntu
  %a.xtag(href='/tags/h2o') h2o
  %a.xtag(href='/tags/oxdata') oxdata
  %a.xtag(href='/tags/sparkling') sparkling
  %a.xtag(href='/tags/shell') shell
  %a.xtag(href='/tags/apache') apache
  %a.xtag(href='/tags/spark') spark
  %a.xtag(href='/tags/scala') scala
  %a.xtag(href='/tags/spark_home') spark_home
  %a.xtag(href='/tags/master') master
  %a.xtag(href='/tags/localhost') localhost
  %a.xtag(href='/tags/h2ocontext') h2ocontext
  %a.xtag(href='/tags/flow') flow
  %a.xtag(href='/tags/coffeewindow') coffeewindow
  %a.xtag(href='/tags/csv') csv
%br/
Sparkling water allows me to connect Spark and h2o.
%pre
  =render 'h2o_citibike_scala1'
%br/

