.q1 Question:
.q2 How do I read JSON into HAML?
.tags
  %a.xtag(href='/tags/json') json
  %a.xtag(href='/tags/haml') haml
  %a.xtag(href='/tags/ruby') ruby
  %a.xtag(href='/tags/rails') rails
  %a.xtag(href='/tags/file') file
  %a.xtag(href='/tags/open') open
%br/
Let HAML do the talking:
%pre
  =render 'haml_json'
%br/
Here is the resulting HTML:
%pre
  =render 'haml_json2'
%br/

