When I deploy a Rails-app on Heroku, they run it in a Linux environment.
%br/
%br/

The Heroku Linux environment contains most of the Linux libraries I need.
%br/
%br/

On rare occasions, I need to enhance the Linux libraries in my Heroku Linux environments.
%br/
%br/

Since Heroku does not offer a Linux environment which has Sqlite3 installed,
I can use Sqlite3 as an example of how to enhance Heroku Linux environments.
%br/
%br/

So, here is the question.
%br/
%br/

.q1 Question:
.q2 On Heroku, how do I install the sqlite3 gem?
.tags
  %span.tagtag Tags:
  %a(href='/tags/heroku') heroku
  %a(href='/tags/rails') rails
  %a(href='/tags/sqlite') sqlite
  %a(href='/tags/ruby') ruby
  %a(href='/tags/buildpack') buildpack
%br/

To me, Heroku offers three general ways to interact with its Linux environments.
%br/
%br/

First, is a CLI called the Heroku Toolbelt:
%br/
%br/

%a(href='http://www.google.com/search?q=Heroku+Toolbelt' target='x')
  http://www.google.com/search?q=Heroku+Toolbelt
%br/
%br/

