When I deploy a Rails-app on Heroku, they run it in a Linux environment.
%br/
%br/

The Heroku Linux environment contains most of the Linux libraries I need.
%br/
%br/

On rare occasions, I need to enhance the Linux libraries in my Heroku Linux environments.
%br/
%br/

Since Heroku does not offer a Linux environment which has Sqlite3 installed,
I can use Sqlite3 as an example of how to enhance Heroku Linux environments.
%br/
%br/

So, here is the question.
%br/
%br/

.q1 Question:
.q2 On Heroku, how do I install the sqlite3 gem?
.tags
  %span.tagtag Tags:
  %a(href='/tags/heroku') heroku
  %a(href='/tags/rails') rails
  %a(href='/tags/sqlite') sqlite
  %a(href='/tags/ruby') ruby
  %a(href='/tags/buildpack') buildpack
%br/

To me, Heroku offers three general ways to interact with its Linux environments.
%br/
%br/

First, is a CLI called the Heroku Toolbelt:
%br/
%br/

%a(href='http://www.google.com/search?q=Heroku+Toolbelt' target='x')
  http://www.google.com/search?q=Heroku+Toolbelt
%br/
%br/


Second, is an API:
%br/
%br/

%a(href='https://devcenter.heroku.com/categories/platform-api' target='x')
  https://devcenter.heroku.com/categories/platform-api
%br/
%br/


Third is the Heroku Ruby Buildpack for Cedar:
%br/
%br/

%a(href='https://github.com/heroku/heroku-buildpack-ruby' target='x')
  https://github.com/heroku/heroku-buildpack-ruby
%br/
%br/


I call it 'buildpack' and that is is the main topic of this post.
%br/
%br/

If I want to install the sqlite3 gem on my Linux laptop, 
I need to first install Sqlite3 which is easy to do if I have the root password.
%br/
%br/

Since I do not have root access on Heroku Linux,
how can I install Sqlite3 on Heroku Linux?
%br/
%br/

The answer is I use buildpack to do it.
%br/
%br/

First, I login to my github.com account and visit this page:
%br/
%br/

%a(href='https://github.com/heroku/heroku-buildpack-ruby' target='x')
  https://github.com/heroku/heroku-buildpack-ruby
%br/
%br/

Then, I press the fork-button at the top-right.
%br/
%br/

Next, I clone my fork of the repo to my Linux laptop.
%br/
%br/

If I don't have a Linux laptop handy I use a copy of Linux running in a
VirtualBox or on a provider like Amazon or DigitalOcean.
%br/
%br/

From my clone of my forked repo, I load this file in my editor:
%br/
%br/

lib/language_pack/ruby.rb
%br/
%br/

You can refer to the original file here:
%br/
%br/

%a(href='https://github.com/heroku/heroku-buildpack-ruby/blob/master/lib/language_pack/ruby.rb' target='x')
  https://github.com/heroku/heroku-buildpack-ruby/blob/master/lib/language_pack/ruby.rb

%br/
%br/


Next I search for the string:
%br/
%br

Running
%br/
%br

As I write this post, that string is on line 516, but that will change as Heroku enhances the file in the future months/years.
%br/
%br

Anyway, I add a few lines of code to the file:
%br/
%br

%pre
  =render 'heroku_buildpack10'

