This site is a collection of computer language syntax examples.  I organize the examples using both tags and questions.

Generally when I start learning a language I use tags to search for information I need about the language.

As I gain experience with a language I usually transition into using questions to search for the examples I want to see.
