.q1 Question:
.q2 In Java what is jps?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/java') java
  %a.xtag(href='/tags/jps') jps
  %a.xtag(href='/tags/ps') ps

%br/
For some Java programs I can use jps to see if they are running on my Linx laptop.
%br/
%br/
Here is a demo:

%pre
  =render 'java_jps'

%br/





