.q1 Question:
.q2 In Node.js how to convert CSV to JSON?
.tags
  %span.tagtag Tags:
  .tag nodejs
  .tag javascript
  .tag csv
  .tag json
  .tag csvtojson
  .tag jsonfile
  .tag fs

%br/

While working on a Node.js app I encountered a use-case asking me to convert a CSV
file from Yahoo Finance into a JSON file.

%br/
%br/

First, I wrote a simple bash script to GET the CSV file:

%pre
  =render 'javascript_csvtojson1'

Then, I installed some Node.js packages:

%pre
  %code.bash
    npm install -g csvtojson
    npm install -g jsonfile

Next, I wrote a simple Node.js script:

%pre
  =render 'javascript_csvtojson2'

Then, I ran the Node.js script and it worked well:

%pre
  %code.bash node bin/gspcCSV2json.js

%br/
%br/
