.q1 Question:
.q2 On Ubuntu How to Install Lineman Angular Template?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/lineman') lineman
  %a.xtag(href='/tags/lineman_js') lineman_js
  %a.xtag(href='/tags/ubuntu') ubuntu
  %a.xtag(href='/tags/node') node
  %a.xtag(href='/tags/nodejs') nodejs
  .tag angular
  .tag angularjs
%br/

While working on an AngularJS project,
I encountered a framework named: 'Lineman.js'

%br/
%br/

I prefer to call it Lineman.

%br/
%br/

Lineman is easy to install:

%br/
%br/

%a(href='/posts/lineman_install') lineman_install

%br/
%br/

After I install Lineman I study a useful template on Github:

%br/
%br/

%a(href='https://github.com/linemanjs/lineman-angular-template' target='x')
  https://github.com/linemanjs/lineman-angular-template

%br/
%br/

Next, I git clone: lineman-angular-template:

%pre
  %code
    cd /tmp/
    git clone https://github.com/linemanjs/lineman-angular-template.git latapp
    cd latapp
    npm install
    lineman run
%br/
%br/

Then, I visit this URL: http://localhost:8000/

%br/
%br/

I should see something like this:

%br/
%br/
%img(src='/images/lineman_angular_install1.png')
%br/

Once I see that page, I am confident that I have installed a Lineman Angular Template on my Ubuntu host.

%br/
%br/

Often the next step for me is to mix this template with coffeescript.

%br/
%br/


%br/
%br/

%br/
%br/
