
You are here:
%a(href='/posts/linux101_cclud') Linux101
> linux101_cclud_pkg
%hr/

.q1 Question:
.q2 In Linux101 how to CCLUD Linux Packages?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/package') package
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/create') create
  %a.xtag(href='/tags/copy') copy
  %a.xtag(href='/tags/list') list
  %a.xtag(href='/tags/update') update
  %a.xtag(href='/tags/delete') delete
  %a.xtag(href='/tags/nano') nano
  %a.xtag(href='/tags/yum') yum
  %a.xtag(href='/tags/apt_get') apt_get
  %a.xtag(href='/tags/aptitude') aptitude
  %a.xtag(href='/tags/upgrade') upgrade
  %a.xtag(href='/tags/dpkg') dpkg
  %a.xtag(href='/tags/rpm') rpm
  %a.xtag(href='/tags/ubuntu') ubuntu
  %a.xtag(href='/tags/centos') centos

%br/

To do Machine Learning on Linux I need to be skilled at CCLUD of Packages.

%br/
%br/

Actually I only need to know the last three verbs: list, update, and delete.

%br/
%br/

The two varieties of Linux which interest me are Centos 6 and Ubuntu 14.

%br/
%br/

On Centos the shell command I use LUD packages is: yum

%br/
%br/

To list packages with yum, I run the command: yum list

%pre
  =render 'linux101_cclud_pkg1'

One problem with yum list is it returns several thousand lines of text.

%br/
%br/

I can use yum to ask if I have a specific package installed in my Linux instance:

%pre
  =render 'linux101_cclud_pkg2'

After I list my packages, I can update them with the 'yum update' command:

%pre
  =render 'linux101_cclud_pkg3'

I delete unwanted packages with the yum remove command:

%pre
  =render 'linux101_cclud_pkg4'

If I want rythmbox back, I can easily install it:

%pre
  =render 'linux101_cclud_pkg4a'

That concludes my discussion of yum which is the package utility for Centos.

%br/
%br/

Ubunutu has a package utility named apt-get.

%br/
%br/

I prefer to use a similar utility named aptitude.

%br/
%br/

If I encounter an Ubuntu instance which has aptitude not installed, I install it with this command:

%pre
  %code.bash apt-get install aptitude

%br/
%br/

How to list packages with aptitude?

%pre
  =render 'linux101_cclud_pkg5'

In the above demo I show that aptitude has no 'list' option.
It does, however, have a 'show' option.

%br/
%br/

So I use the show option to see if I have rythmbox installed.
%br/
%br/

Maybe I should have searched for rhythmbox.

%br/
%br/

Next, I look for a package called pico.

I see no pico so I look for nano and I do find that.

%br/
%br/

That concludes the list-part of LUD aptitude.
%br/
%br/

Q: How to use aptitude to update a package named nano?
%br/
A: I use the shell command: aptitude upgrade nano

%pre
  =render 'linux101_cclud_pkg6'

The above demo, which is kind of lame, shows how to update an editor named nano.

%br/
%br/

It turns out that nano is the most recent version so it needs no update.

%br/
%br/

On Ubuntu, aptitude and apt-get have a subtle difference compared to yum on Centos. 

%br/
%br/

The above demo shows this difference.

%br/
%br/

The aptitude utility depends on information about all the packages on the net.

%br/
%br/

This information is updated with the 'aptitude update' command.

%br/
%br/

Then to actually update a package I issue a command like this: 

%pre
  %code.bash aptitude upgrade nano


Here is what I memorize:

%br/
%br/

aptitude update is not like yum update

%br/
%br/

aptitude upgrade is like yum update

%br/
%br/

yum upgrade is like yum update

%br/
%br/

Now that I know how to use aptitude to update nano, how do I delete the nano package?

%br/
%br/

Demo:

%pre
  =render 'linux101_cclud_pkg7'

Now that I have deleted the nano package, how do I install it?

%pre
  =render 'linux101_cclud_pkg8'

%br/
%br/

CCLUD of Services is the next topic of Linux101:
%br/
%a(href='/posts/linux101_cclud_service') linux101_cclud_service

%br/
%br/
%hr/
You are here:
%a(href='/posts/linux101_cclud') Linux101
> linux101_cclud_pkg
