%a(href='/posts/linux101_ccrud') Top of Linux101
.q1 Question:
.q2 In Linux101 how to CCRUD Linux AMI?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/crud') crud
  %a.xtag(href='/tags/ccrud') ccrud
  %a.xtag(href='/tags/create') create
  %a.xtag(href='/tags/copy') copy
  %a.xtag(href='/tags/clone') clone
  %a.xtag(href='/tags/retrieve') retrieve
  %a.xtag(href='/tags/update') update
  %a.xtag(href='/tags/delete') delete

%br/
Q: What is AMI?
A: AMI is an acronym for Amazon Machine Image.

%br/

Q: How to Create an AMI?
A: First, I login to my EC2 account.  Then I ask Google:
%br/

%a(href='http://www.google.com/search?q=On+Amazon+AWS+EC2+how+to+create+AMI' target='x')
  http://www.google.com/search?q=On+Amazon+AWS+EC2+how+to+create+AMI

%br/
%br/

Q: How to Copy a Linux AMI?
%br/

A: First, I login to my EC2 account.  Then I ask Google:
%br/

%a(href='http://www.google.com/search?q=On+Amazon+AWS+EC2+how+to+create+AMI' target='x')
  http://www.google.com/search?q=On+Amazon+AWS+EC2+how+to+create+AMI


%br/
%br/

Q: How to Update a Linux AMI?

Q: How to delete a Linux ISO?
%br/
A: That is easy; just find the delete button.

%br/
