%a(href='/posts/linux101_ccrud') Top of Linux101
.q1 Question:
.q2 In Linux101 how to CCRUD Linux Instance?
.tags
  %span.tagtag Tags:
  .tag linux
  .tag crud
  .tag ccrud
  .tag create
  .tag copy
  .tag clone
  .tag retrieve
  .tag update
  .tag delete

%br/

Q: What is a Linux Instance?
%br/
A: A Linux instance is a running copy of Linux.

%br/
%br/

Q: How to Create a Linux instance?

%br/

A1: Install or restore are the two general choices, I prefer restore.

%br/

A2: Install off a DVD or USB stick onto my laptop.

%br/

A3: Install off a DVD, ISO, or USB stick into a VirtualBox running on my laptop.

%br/

A4: Inside cloud provider, Install off CMI.

%br/

A5: Inside cloud provider, restore from Copy of other Linux instance.

%br/

A4: This is my favorite, inside VirtualBox, restore from Copy of other Linux instance.


%br/
%br/

Q: How to Copy a Linux instance?

%br/

Usually the answer to this question is, 'That depends', but one certainty is that I need to 
shut it down before I copy it (login as root and type: shutdown -h now).

%br/

A1: If the instance is the host-OS on my laptop, I don't know how to copy it.
Obviously I know how to copy files in it to something like a USB-stick or blank DVD.

%br/
%br/

This means that I keep my laptop-Linux as simple as possible.  
%br/
%br/

A2: If the instance is inside VirtualBox, 
I can easily copy it to a large file.
Then I can copy that large file to DVD(s), USB-stick, or other laptop.

%br/
%br/
The copy-feature is available from both the GUI or I can issue a command like this on the host-os:

%pre
  %code.bash /usr/bin/vboxmanage export my_ubuntu_virtualbox -o ~/Documents/my_ubuntu_virtualbox.ova


A3: If the instance is inside a cloud provider they always offer a way to copy your Linux-instances.

%br/
%br/

Q: How to Retrieve (List) a Linux instance?

%br/

A1: If the instance is in VirtualBox, I just look at the GUI.
%br/
A2: If the VirtualBox GUI is unavailable, I can issue a shell command:

%pre
  %code.bash
    dan@tiny ~ $ 
    dan@tiny ~ $ /usr/bin/vboxmanage list vms
    "cen115_2015_02" {3f36383a-0483-45d0-9ff8-67ebf5e4b17e}
    "ub14dan117_0126" {3f9d613c-5775-4f6e-9d1f-51ba4e09ea73}
    "cen114_2015_0201" {558f1a89-0f23-4858-ba07-9395bf54386b}
    dan@tiny ~ $ 
    dan@tiny ~ $ 

%br/

A1: If the instance is in the cloud, the provider will have a list of instances in the web-UI
somewhere.  Also, you will see instances listed in your bill.  Note that Amazon has different
geographic regions.  You need to check each region to see all your instances.

%br/
%br/

Q: How to update a Linux instance?

%br/
This is actually a vague question because a Linux instance is a system of many objects.
%br/
Here is a better question:
%br/
Q: How to update objects which are loosely coupled with the Linux instance?
%br/

Here is a short list of loosely coupled objects:
%ul
  %li hostname
  %li Available CPU, RAM



%br/
%br/


%br/
%br/
%br/
%br/



