
You are here:
%a(href='/posts/linux101_ccrud') Linux101
> linux101_ccrud_disk
%hr/

.q1 Question:
.q2 In Linux101 how to CCRUD Disk space?
.tags
  %span.tagtag Tags:
  .tag linux
  .tag crud
  .tag ccrud
  .tag create
  .tag copy
  .tag clone
  .tag retrieve
  .tag update
  .tag delete

%br/
Disk space depends on a concept called 'File System'.

%br/
%br/

A file system is an upside down tree.
%br/
%br/

The tree contains directories.
%br/
%br/

A directory is the same as a folder in Windows-speak.

%br/
%br/

A directory contains files and other directories.

%br/
%br/

A directory might look like this:

%pre
  %code.bash /home/dan

A file might look like this:

%pre
  %code.bash /home/dan/hello.txt

At the very top of the file system is a single directory called:

%pre
  %code.bash /

This is different than Windows.

%br/
%br/

If I go to the very top of a Windows I will find a collection of folders with names like C: and D:.

%br/
%br/

This is a user friendly feature of Windows.
It is giving me information about the physical storage devices and how they relate to the Windows file system.


%br/
%br/
Now I return to the original question:
%br/
Q: In Linux101 how to CCRUD Disk space?

%br/
%br/
That question is too large for a Linux101 class.
%br/
%br/
I will scope it down to this question:
%br/
%br/
Q: In Linux101 on Ubuntu running in VirtualBox, how to CCRUD Disk space?
%br/
%br/


%br/
%br/
%hr/
You are here:
%a(href='/posts/linux101_ccrud') Linux101
> linux101_ccrud_disk
