.q1 Question:
.q2 In Linux101 what is C.C.R.U.D. ?
.tags
  %span.tagtag Tags:
  .tag linux
  .tag crud
  .tag ccrud
  .tag create
  .tag copy
  .tag clone
  .tag retrieve
  .tag update
  .tag delete

%br/
C.C.R.U.D. is an acronym for verbs: Create, Copy, Retrieve, Update, and Delete.

%br/
%br/

I might prefer that Retrieve be called either List or See.

%br/
%br/

Then we would have:

%br/
%br/

CCLUD or CCSUD

%br/
%br/

But CCRUD is easier to remember.

%br/
%br/

I think of CCRUD as a verb.

%br/
%br/

Today we CCRUD Linux.

%br/
%br/

To CCRUD Linux you need to CCRUD these Linux related nouns:
%ul
  %li 
    %a(href='/posts/linux101_ccrud_iso') Linux ISO
  %li Linux CMI
  %li Linux Instance
  %li IP address (a scarce resource)
  %li Disk space
  %li Account (example: root, dan)
  %li Password
  %li Package
  %li File
  %li Directory (AKA Folder)
  %li Service (example: sshd)

%br/

