
You are here:
%a(href='/posts/linux101_ccrud') Linux101
> linux101_ccrud_ip
%hr/

.q1 Question:
.q2 In Linux101 how to CCRUD Linux IP address?
.tags
  %span.tagtag Tags:
  .tag linux
  .tag crud
  .tag ccrud
  .tag create
  .tag copy
  .tag clone
  .tag retrieve
  .tag update
  .tag delete

%br/

Q: How to Create a Linux IP address?
%br/
A1: I have asked the question too soon.
Before I discuss IP addresses, I should talk about 'interfaces'.

%br/
%br/
A Linux instance is like a building with several mailboxes.
%br/
A Linux interface is like a mailbox.
%br/
We have differences though.
%br/
Usually I can see a mailbox.
%br/
I can see some Linux interfaces on the side of my laptop.
%br/
Some Linux interfaces (WIFI for example) are invisible.
%br/
%br/
So obviously a Linux instance can have several interfaces like a building can have several mailboxes.
%br/
Both a mailbox and interface become useful after I write an address on them.
%br/
An interface needs an IP address.
%br/
Based on this analogy it is now easy to understand some simple mistakes:

%ul
  %li Interface with no IP address
  %li One IP address written on more than one interface
  %li Sending packet to IP address with no interface
  %li Assign wrong IP address to wrong interface
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/

CCRUD of Linux Disk Space is the next topic of Linux101:
%br/
%a(href='/posts/linux101_ccrud_disk') linux101_ccrud_disk

%br/
%br/
%hr/
You are here:
%a(href='/posts/linux101_ccrud') Linux101
> linux101_ccrud_ip
