.q1 Question:
.q2 In Linux101 what is C.C.R.U.D. ?
.tags
  %span.tagtag Tags:
  .tag linux
  .tag crud
  .tag ccrud
  .tag create
  .tag copy
  .tag clone
  .tag retrieve
  .tag update
  .tag delete

%br/
C.C.R.U.D. is an acronym for verbs: Create, Copy, Retrieve, Update, and Delete.

%br/
%br/

I might prefer that Retrieve be called either List or See.

%br/
%br/

Then we would have:

%br/
%br/

CCLUD or CCSUD

%br/
%br/

But CCRUD is easier to remember.

%br/
%br/

The CCRUD concept is useful for learning how to operate IT technology.

%br/
%br/

To start with Linux you want to know how to CCRUD these nouns:
%ul
  %li 
    %a(href='/posts/linux101_ccrud_iso') Linux ISO (Like a seed)
  %li Linux AMI (Like a seed)
  %li Linux Instance
  %li IP address (a scarce resource)
  %li Disk space
  %li Account (example: root, dan)
  %li Password
  %li Package
  %li File
  %li Directory (AKA Folder)
  %li Service (example: sshd)

%br/

