.q1 Question:
.q2 In Linux101 what is C.C.R.U.D. ?
.tags
  %span.tagtag Tags:
  .tag linux
  .tag crud
  .tag ccrud
  .tag create
  .tag copy
  .tag clone
  .tag retrieve
  .tag update
  .tag delete

%br/
Before I discuss CCRUD I should say that I use Linux in 3 contexts:
%ul
  %li On my laptop
  %li Inside VirtualBox
  %li On the Cloud at NephoScale, Amazon, Google, or Digital Ocean
%br/

C.C.R.U.D. is an acronym for verbs: Create, Copy, Retrieve, Update, and Delete.

%br/
%br/
I think of CCRUD as a verb.

%br/
%br/

To CCRUD Linux I need to CCRUD these Linux related nouns:
%ul
  %li 
    %a(href='/posts/linux101_ccrud_iso') Linux ISO
  %li
    %a(href='/posts/linux101_ccrud_cmi') Linux CMI
  %li
    %a(href='/posts/linux101_ccrud_instance') Linux Instance
  %li
    %a(href='/posts/linux101_ccrud_ip') IP address
  %li
    %a(href='/posts/linux101_ccsud_disk') Disk space
  %li Account (example: root, dan, postgres, and ... nobody)
  %li Password
  %li Package
  %li File
  %li Directory (AKA Folder)
  %li Service (example: sshd)

%br/

