%a(href='/posts/linux101_ccrud') Top of Linux101
.q1 Question:
.q2 In Linux101 how to CCRUD Linux ISO?
.tags
  %span.tagtag Tags:
  .tag linux
  .tag crud
  .tag ccrud
  .tag create
  .tag copy
  .tag clone
  .tag retrieve
  .tag update
  .tag delete

%br/

Q: How to Create a Linux ISO?
%br/
A: That is uninteresting; we don't care.

%br/
%br/

Q: How to Copy a Linux ISO?
%br/
A1: Just download a copy:
%br/

%a(href='http://www.google.com/search?q=Linux+ISO+Download' target='x')
  http://www.google.com/search?q=Linux+ISO+Download
%br/

%a(href='http://www.google.com/search?q=Ubuntu+Linux+ISO+Download' target='x')
  http://www.google.com/search?q=Ubuntu+Linux+ISO+Download
%br/

%a(href='http://www.google.com/search?q=Centos+Linux+ISO+Download' target='x')
  http://www.google.com/search?q=Centos+Linux+ISO+Download


%br/
%br/
A2: If it is on disk already, just copy it.
%br/
A3: If it is on disk already, just burn it to DVD.
%br/
A4: If it is on Linux disk already, use:
%br/
%a(href='http://www.google.com/search?q=Linux+Startup+Creator' target='x')
  %img(src='/images/startup_disk_creator.jpeg')
%br/
%a(href='http://www.google.com/search?q=Linux+Startup+Creator' target='x')
  http://www.google.com/search?q=Linux+Startup+Creator
%br/
A4: If it is on Windows disk maybe try:
%br/
%a(href='http://www.google.com/search?q=Linux+Startup+Creator+For+Windows' target='x')
  http://www.google.com/search?q=Linux+Startup+Creator+For+Windows

%br/
%a(href='http://www.google.com/search?q=Linux+Startup+Creator+For+Windows' target='x')
  %img(src='/images/unetbootin.jpg')

%br/
%br/

Q: How to Update a Linux ISO?

%br/
A: That is an interesting question but I don't know the answer.
%br/
%br/
Q: How to delete a Linux ISO?
%br/
A: That is easy; just drag/drop it into trash.
%br/
%br/
