%a(href='/posts/linux101_ccrud') Top of Linux101
.q1 Question:
.q2 In Linux101 how to CCRUD Linux Instance?
.tags
  %span.tagtag Tags:
  .tag linux
  .tag crud
  .tag ccrud
  .tag create
  .tag copy
  .tag clone
  .tag retrieve
  .tag update
  .tag delete

%br/

Q: What is a Linux Instance?
%br/
A: A simple example is the Linux sitting inside my laptop after I install it off Linux ISO.

%br/
%br/

Q: How to Create a Linux instance?
%br/
A1: Install off a DVD onto my laptop.

%br/
%br/


%br/
%br/


%br/
%br/


%br/
%br/

%br/
%br/


%br/
%br/



%br/
%br/


%br/
%br/


%br/



