
You are here:
%a(href='/posts/linux101_cclud') Linux101
> linux101_cclud_disk
%hr/

.q1 Question:
.q2 In Linux101 how to CCLUD Disk space?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/clud') clud
  %a.xtag(href='/tags/cclud') cclud
  %a.xtag(href='/tags/create') create
  %a.xtag(href='/tags/copy') copy
  %a.xtag(href='/tags/clone') clone
  %a.xtag(href='/tags/retrieve') retrieve
  %a.xtag(href='/tags/update') update
  %a.xtag(href='/tags/delete') delete

%br/
Disk space depends on a concept called 'File System'.

%br/
%br/

A file system is an upside down tree.
%br/
%br/

The tree contains directories.
%br/
%br/

A directory is the same as a folder in Windows-speak.

%br/
%br/

A directory contains files and other directories.

%br/
%br/

A directory might look like this:

%pre
  %code.bash /home/dan

A file might look like this:

%pre
  %code.bash /home/dan/hello.txt

At the very top of the file system is a single directory called:

%pre
  %code.bash /

This is different than Windows.

%br/
%br/

If I go to the very top of a Windows I will find a collection of folders with names like C: and D:.

%br/
%br/

This is a user friendly feature of Windows.
It is giving me information about the physical storage devices and how they relate to the Windows file system.


%br/
%br/
Now I return to the original question:
%br/
Q: In Linux101 how to CCLUD Disk space?

%br/
%br/
That question is too large for a Linux101 class.
%br/
%br/
I will scope it down to this question:
%br/
%br/
Q: In Linux101 on Ubuntu running in VirtualBox, how to CCLUD Disk space?
%br/
A: I add space using the VirtualBox Gui then I use the disk wizard inside the guest.
%br/
%br/

When I start, the inside of the guest Linux looks like this:

%pre
  =render 'linux101_cclud_disk1'

I captured images from the host:
%br/

%img(src='/images/cclud_disk1.png')
%br/
%img(src='/images/cclud_disk2.png')
%br/
%img(src='/images/cclud_disk3.png')
%br/
%img(src='/images/cclud_disk5.png')
%br/
%img(src='/images/cclud_disk6.png')
%br/
%img(src='/images/cclud_disk7.png')
%br/
%img(src='/images/cclud_disk8.png')
%br/
%img(src='/images/cclud_disk90.png')
%br/
%img(src='/images/cclud_disk91.png')
%br/
%img(src='/images/cclud_disk92.png')
%br/
I boot the guest and I notice the diskspace is not visible yet.
%br/
%pre
  =render 'linux101_cclud_disk11'

%br/
%br/
I use a utility inside the guest named disks to finish the steps:
%br/
%img(src='/images/cclud_disk93.png')
%br/
%img(src='/images/cclud_disk94.png')
%br/
%img(src='/images/cclud_disk96.png')
%br/
%img(src='/images/cclud_disk97.png')
%br/
%img(src='/images/cclud_disk98.png')
%br/
%img(src='/images/cclud_disk99.png')
%br/
%img(src='/images/cclud_disk991.png')
%br/
%img(src='/images/cclud_disk992.png')


The inside of the guest Linux now looks like this:

%pre
  =render 'linux101_cclud_disk2'





%br/
%br/
%hr/
You are here:
%a(href='/posts/linux101_cclud') Linux101
> linux101_cclud_disk
