
You are here:
%a(href='/posts/linux101_cclud') Linux101
> linux101_cclud_pkg
%hr/

.q1 Question:
.q2 In Linux101 how to CCLUD Linux Packages?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/create') create
  %a.xtag(href='/tags/copy') copy
  %a.xtag(href='/tags/list') list
  %a.xtag(href='/tags/update') update
  %a.xtag(href='/tags/delete') delete

%br/

To do Machine Learning on Linux I need to be skilled at CCLUD of Packages.

%br/
%br/

Actually I only need to know the last three verbs: list, update, and delete.

%br/
%br/

The two varieties of Linux which interest me are Centos 6 and Ubuntu 14.

%br/
%br/

On Centos the shell command I use LUD packages is: yum

%br/
%br/

To list packages with yum, I run the command: yum list

%pre
  =render 'linux101_cclud_pkg1'

One problem with yum list is it returns several thousand lines of text.

%br/
%br/

I can use yum to ask if I have a specific package installed in my Linux instance:

%pre
  =render 'linux101_cclud_pkg2'




%br/
%br/

%br/
%br/

%br/
%br/

CCLUD of Services is the next topic of Linux101:
%br/
%a(href='/posts/linux101_cclud_service') linux101_cclud_service

%br/
%br/
%hr/
You are here:
%a(href='/posts/linux101_cclud') Linux101
> linux101_cclud_pkg
