
You are here:
%a(href='/posts/linux101_cclud') Linux101
> linux101_cclud_instance
%hr/

.q1 Question:
.q2 In Linux101 how to CCLUD Linux Instance?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/clud') clud
  %a.xtag(href='/tags/cclud') cclud
  %a.xtag(href='/tags/create') create
  %a.xtag(href='/tags/copy') copy
  %a.xtag(href='/tags/clone') clone
  %a.xtag(href='/tags/list') list
  %a.xtag(href='/tags/update') update
  %a.xtag(href='/tags/delete') delete

%br/

Q: What is a Linux Instance?
%br/
A: A Linux instance is a running copy of Linux.

%br/
%br/

Q: How to Create a Linux instance?

%br/

A1: Install or restore are the two general choices, I prefer restore.

%br/

A2: Install off a DVD or USB stick onto my laptop.

%br/

A3: Install off a DVD, ISO, or USB stick into a VirtualBox running on my laptop.

%br/

A4: Inside cloud provider, Install off CMI.

%br/

A5: Inside cloud provider, restore from Copy of other Linux instance.

%br/

A4: This is my favorite, inside VirtualBox, restore from Copy of other Linux instance.

%br/
I offer a screen dump of restoring (importing might be a better verb) a VirtualBox OVA file:

%pre
  =render 'linux101_cclud_instance1'
So that is an example of using the VirtualBox command line.  Usually I use the VirtualBox GUI and 
click the file link and then the import link.

%br/
%br/

Q: How to Copy a Linux instance?

%br/

Usually the answer to this question is, 'That depends', but one certainty is that I need to 
shut it down before I copy it (login as root and type: shutdown -h now).

%br/

A1: If the instance is the host-OS on my laptop, I don't know how to copy it.
Obviously I know how to copy files in it to something like a USB-stick or blank DVD.

%br/
%br/

This means that I keep my laptop-Linux as simple as possible.  
%br/
%br/

A2: If the instance is inside VirtualBox, 
I can easily copy it to a large file.
Then I can copy that large file to DVD(s), USB-stick, or other laptop.

%br/
%br/
The copy-feature is available from both the GUI or I can issue a command like this on the host-os:

%pre
  %code.bash /usr/bin/vboxmanage export my_ubuntu_virtualbox -o ~/Documents/my_ubuntu_virtualbox.ova


A3: If the instance is inside a cloud provider they always offer a way to copy your Linux-instances.

%br/
%br/

Q: How to List a Linux instance?

%br/

A1: If the instance is in VirtualBox, I just look at the GUI.
%br/
A2: If the VirtualBox GUI is unavailable, I can issue a shell command:

%pre
  %code.bash
    dan@tiny ~ $ 
    dan@tiny ~ $ /usr/bin/vboxmanage list vms
    "cen115_2015_02" {3f36383a-0483-45d0-9ff8-67ebf5e4b17e}
    "ub14dan117_0126" {3f9d613c-5775-4f6e-9d1f-51ba4e09ea73}
    "cen114_2015_0201" {558f1a89-0f23-4858-ba07-9395bf54386b}
    dan@tiny ~ $ 
    dan@tiny ~ $ 

%br/

A1: If the instance is in the cloud, the provider will have a list of instances in the web-UI
somewhere.  Also, I will see instances listed in my bill.  Note that Amazon has different
geographic regions.  I need to check each region to see all instances.

%br/
%br/

Q: How to update a Linux instance?

%br/
This is actually a vague question because a Linux instance is a system of many objects.
%br/
Here is a better question:
%br/
Q: How to update objects which are loosely coupled with the Linux instance?
%br/

Here is a short list of loosely coupled objects:
%ul
  %li hostname
  %li Available CPU, RAM

Other objects like IP-address, diskspace, and software packages are important
enough in their own right to deserve separate CCLUD discussion.  I discuss them later.

%br/
%br/
Q: How to CCLUD hostname?

%br/
A: On Linux it only makes sense to either list or update hostname.
%br/
On Centos I either inspect or edit this file to list or update hostname:
%pre
  %code.bash /etc/sysconfig/network

On Ubuntu I either inspect or edit this file to list or update hostname:
%pre
  %code.bash /etc/hostname

If I update the hostname, I should reboot the Linux instance:

%pre
  %code.bash shutdown -r now
%br/

Q: How to CCLUD available CPU, RAM?

%br/
A1: If I talk about the host-Linux running on my laptop, the only CCLUD verb available is List.
A nice GUI tool to List CPU and RAM is 'System Monitor':

%br/
%a(target='g' href='http://www.google.com/search?q=ubuntu+system+monitor')
  %img(src='/images/system_monitor.jpeg') 


%br/
A2: If I talk about a Linux-instance inside VirtualBox on my laptop, I can use all CCLUD verbs on CPU and RAM.
%br/
If I have access to the GUI I just pick an instance which has CPU and/or RAM I want to CCLUD.
%br/
Then I click the yellow gear in upper left:
%br/
%a(href='http://www.google.com/search?q=virtualbox+settings' target='x')
  %img(src='/images/vbox_settings.jpeg')
%br/
A3: If I talk about a Linux-instance inside a cloud provider, I can use all CCLUD verbs on CPU and RAM.
%br/
Although it is vendor specific it is usually easily done via their web-UI.


%br/
%br/
CCLUD of Linux IP address is the next topic of Linux101:
%br/
%a(href='/posts/linux101_cclud_ip') linux101_cclud_ip

%br/
%br/
%hr/
You are here:
%a(href='/posts/linux101_cclud') Linux101
> linux101_cclud_instance

