
You are here:
%a(href='/posts/linux101_cclud') Linux101
> linux101_cclud_cmi
%hr/

.q1 Question:
.q2 In Linux101 how to CCLUD Linux CMI?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/clud') clud
  %a.xtag(href='/tags/cclud') cclud
  %a.xtag(href='/tags/create') create
  %a.xtag(href='/tags/copy') copy
  %a.xtag(href='/tags/clone') clone
  %a.xtag(href='/tags/retrieve') retrieve
  %a.xtag(href='/tags/update') update
  %a.xtag(href='/tags/delete') delete

%br/

Q: What is Linux CMI?
%br/
A: CMI is acronym for Cloud Machine Image.

%br/
%br/

Q: How to CCLUD a Linux CMI?
%br/
A: That is vendor specific.

%br/
%br/

The L in CCLUD is probably the most important verb for Linux CMI.

%br/
%br/

A typical use-case is to look at a list of CMIs and then pick one I like.

%br/
%br/

Next, I use it to create a Linux instance.

%br/
%br/

Another useful feature is to create a Linux CMI from a Linux instance with the intent
of creating more Linux instances which are similar but might have different
attributes like hostname and IP-address.

%br/
%br/

This is a bit different than shutting down the instance and then backing it up.

%br/
%br/

I typically do that if I want to retain an exact copy of the instance for disaster recovery
or saving the cost of running the instance but not using it.

%br/
%br/

CCLUD of Linux instance is the next topic of Linux101:
%br/
%a(href='/posts/linux101_cclud_instance') linux101_cclud_instance


%br/
%br/
%hr/
You are here:
%a(href='/posts/linux101_cclud') Linux101
> linux101_cclud_cmi
