.q1 Question:
.q2 In Linux101 what is C.C.L.U.D. ?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/clud') clud
  %a.xtag(href='/tags/cclud') cclud
  %a.xtag(href='/tags/create') create
  %a.xtag(href='/tags/copy') copy
  %a.xtag(href='/tags/clone') clone
  %a.xtag(href='/tags/list') list
  %a.xtag(href='/tags/update') update
  %a.xtag(href='/tags/delete') delete

%br/
Before I discuss CCLUD I should say that I use Linux in 3 contexts:
%ul
  %li On my laptop
  %li Inside VirtualBox
  %li On the Cloud at NephoScale, Amazon, Google, or Digital Ocean
%br/

C.C.L.U.D. is an acronym for verbs: Create, Copy, List, Update, and Delete.

%br/
%br/
I think of CCLUD as a verb.

%br/
%br/

To CCLUD Linux I need to CCLUD these Linux related nouns:
%ul
  %li 
    %a(href='/posts/linux101_cclud_iso') Linux ISO
  %li
    %a(href='/posts/linux101_cclud_cmi') Linux CMI
  %li
    %a(href='/posts/linux101_cclud_instance') Linux Instance
  %li
    %a(href='/posts/linux101_cclud_ip') IP address
  %li
    %a(href='/posts/linux101_cclud_disk') Disk space
  %li Account (example: root, dan, postgres, and ... nobody)
  %li Password
  %li Package
  %li File
  %li Directory (AKA Folder)
  %li Service (example: sshd)

%br/

