
You are here:
%a(href='/posts/linux101_cclud') Linux101
> linux101_cclud_sshd
%hr/

.q1 Question:
.q2 In Linux101 how to CCLUD Services?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/sshd') sshd
  %a.xtag(href='/tags/service') service
  %a.xtag(href='/tags/init_d') init_d
  %a.xtag(href='/tags/reboot') reboot
  %a.xtag(href='/tags/shutdown') shutdown
  %a.xtag(href='/tags/openssh') openssh
  %a.xtag(href='/tags/apache') apache
  %a.xtag(href='/tags/webserver') webserver
  %a.xtag(href='/tags/postgresql') postgresql
  %a.xtag(href='/tags/database') database
  %a.xtag(href='/tags/aptitude') aptitude
  %a.xtag(href='/tags/ssh') ssh
%br/

To do Machine Learning on Linux, the first Service I should learn about is openssh.

%br/
%br/

Once openssh is installed and running, then I will be able to 'ssh-in' to the machine.

%br/
%br/

Openssh is running software which waits for work to do.

%br/
%br/

This behavior defines what a service is.

%br/
%br/

Other examples of services are the Apache webserver and the PostgreSQL database server.

%br/
%br/

On Ubuntu, I setup these services using the aptitude utility.

%br/
%br/

Here is a demo of me installing and then starting the openssh server:

%pre
  =render 'linux101_cclud_sshd1'

%br/
%br/

For some services the final installation step is to reboot the machine.

%br/
%br/

A good way to reboot a machine is to issue this shell command as root:

%pre
  %code.bash shutdown -r now

%br/
%br/
%hr/
You are here:
%a(href='/posts/linux101_cclud') Linux101
> linux101_cclud_sshd
