
You are here:
%a(href='/posts/linux101_cclud') Linux101
> linux101_cclud_folder
%hr/

.q1 Question:
.q2 In Linux101 how to CCLUD Linux Folders?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/folder') folder
  %a.xtag(href='/tags/directory') directory
  %a.xtag(href='/tags/mkdir') mkdir
  %a.xtag(href='/tags/cp') cp
  %a.xtag(href='/tags/chmod') chmod
  %a.xtag(href='/tags/chown') chown
  %a.xtag(href='/tags/rmdir') rmdir
  %a.xtag(href='/tags/rm') rm
  %a.xtag(href='/tags/rsync') rsync
  %a.xtag(href='/tags/tar') tar
  %a.xtag(href='/tags/git') git
  %a.xtag(href='/tags/ls') ls
  %a.xtag(href='/tags/cclud') cclud
  %a.xtag(href='/tags/create') create
  %a.xtag(href='/tags/copy') copy
  %a.xtag(href='/tags/list') list
  %a.xtag(href='/tags/update') update
  %a.xtag(href='/tags/delete') delete

%br/

To do Machine Learning on Linux I need to be skilled at CCLUD of folders.

%br/
%br/

To create a folder I use the mkdir command.

%pre
  =render 'linux101_cclud_folder1'

In the above demo I use ls to confirm the folder exists.
So the ls command is useful; I use it to list both folders and files.

Now we know how to create and list a folder which are two verbs out of five.

%br/
%br/

Three commands are available to copy a folder: cp, rsync, and tar

%pre
  =render 'linux101_cclud_folder2'

%br/

Now we know how to create, copy, and list a folder.

%br/
%br/

Linux gives me several commands to update a folder: chown, chgrp, and chmod

%pre
  =render 'linux101_cclud_folder3'

Now we are at the end of the CCLUD verbs for a folder.
How do I delete a folder?

%pre
  =render 'linux101_cclud_folder4'


%br/
%br/
CCLUD of Directories (Folders) is the next topic of Linux101:
%br/
%a(href='/posts/linux101_cclud_folder') linux101_cclud_folder

%br/
%br/
%hr/
You are here:
%a(href='/posts/linux101_cclud') Linux101
> linux101_cclud_folder
