%a(href='/posts/linux101_ccrud') Top of Linux101
.q1 Question:
.q2 In Linux101 how to CCRUD Linux Instance?
.tags
  %span.tagtag Tags:
  .tag linux
  .tag crud
  .tag ccrud
  .tag create
  .tag copy
  .tag clone
  .tag retrieve
  .tag update
  .tag delete

%br/

Q: What is a Linux Instance?
%br/
A: A Linux instance is a running copy of Linux.

%br/
%br/

Q: How to Create a Linux instance?
%br/
A1: Install off a DVD or USB stick onto my laptop.

%br/
A2: Install off a DVD, ISO, or USB stick into a VirtualBox running on my laptop.
%br/



%br/
%br/


%br/
%br/


%br/
%br/

%br/
%br/


%br/
%br/



%br/
%br/


%br/
%br/


%br/



