
You are here:
%a(href='/posts/linux101_cclud') Linux101
> linux101_cclud_account
%hr/

.q1 Question:
.q2 In Linux101 how to CCLUD Linux Accounts?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  .tag account
  .tag user
  .tag useradd
  %a.xtag(href='/tags/clud') clud
  %a.xtag(href='/tags/cclud') cclud
  %a.xtag(href='/tags/create') create
  %a.xtag(href='/tags/copy') copy
  %a.xtag(href='/tags/list') list
  %a.xtag(href='/tags/update') update
  %a.xtag(href='/tags/delete') delete

%br/

When I create a new Linux instance from an installation ISO, the installer will ask me my name.

%br/
%br/

It will then create an account called 'dan'.

%br/
%br/

After the installation is done I often create an account called 'fox'.

%br/
%br/

I use the fox account to surf the web using Firefox.

%br/
%br/

How do I create an account named 'fox' on Linux?

%br/
%br/

The easy way is to use the GUI so that is your homework.

%br/
%br/

I can also create a fox account using shell commands:

%pre
  =render 'linux101_cclud_account1'

%br/
%br/

%br/
%br/

%br/
%br/

%br/
%br/

%br/
%br/
%hr/
You are here:
%a(href='/posts/linux101_cclud') Linux101
> linux101_cclud_account
