
You are here:
%a(href='/posts/linux101_cclud') Linux101
> linux101_cclud_file
%hr/

.q1 Question:
.q2 In Linux101 how to CCLUD Linux Files?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/carrot') carrot
  %a.xtag(href='/tags/caret') caret
  %a.xtag(href='/tags/ls') ls
  %a.xtag(href='/tags/cat') cat
  %a.xtag(href='/tags/echo') echo
  %a.xtag(href='/tags/file') file
  %a.xtag(href='/tags/clud') clud
  %a.xtag(href='/tags/cclud') cclud
  %a.xtag(href='/tags/create') create
  %a.xtag(href='/tags/copy') copy
  %a.xtag(href='/tags/list') list
  %a.xtag(href='/tags/update') update
  %a.xtag(href='/tags/delete') delete

%br/
To do Machine Learning on Linux I need to be skilled at CCLUD of files.


%br/
%br/
To create a single file I can use a carrot.
%br/
%br/
Actually it is a caret not a carrot.

%br/
%br/
Below is a demo of using caret to create a file.
Also I show the ls command to list the outside of the file and cat to list the inside of the file:

%pre
  =render 'linux101_cclud_file1'

%br/
%br/

So now we know how to create and list a file which two verbs out of five.

%br/
%br/

I use the cp command to copy a file:

%pre
  =render 'linux101_cclud_file2'

%br/

Now we know how to do create, copy, and list a file.

%br/
%br/

I skip update for now and demo delete.  Linux has no command named delete.  Instead it has a command
named rm which is short for remove:

%pre
  =render 'linux101_cclud_file3'

%br/
%br/

Of the five cclud operations I can do on a file, update is the most complex.
I have many ways to update file.  The demo below shows some common ways to update a file:

%pre
  =render 'linux101_cclud_file4'

%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
CCLUD of Directories (Folders) is the next topic of Linux101:
%br/
%a(href='/posts/linux101_cclud_folder') linux101_cclud_folder

%br/
%br/
%hr/
You are here:
%a(href='/posts/linux101_cclud') Linux101
> linux101_cclud_file
