.q1 Question:
.q2 In Lua what is not-equal operator?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/lua') lua
  %a.xtag(href='/tags/equal') equal
  %a.xtag(href='/tags/notequal') notequal
  %a.xtag(href='/tags/conditional') conditional
%br/
In Lua the not-equal operator is ~= which I do not like.
%br/
%br/
I would prefer that it is != but it is ~=
%pre
  %code.lua
    dan@hp ~/ks/b/lua $ 
    dan@hp ~/ks/b/lua $ 
    dan@hp ~/ks/b/lua $ lua
    Lua 5.3.0  Copyright (C) 1994-2015 Lua.org, PUC-Rio
    > 
    > 1 ~= 2
    true
    > 
    > os.exit()
    dan@hp ~/ks/b/lua $ 
    dan@hp ~/ks/b/lua $ 

%br/
