.q1 Question:
.q2 Lua has heredoc?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/lua') lua
  %a.xtag(href='/tags/heredoc') heredoc

%br/
The Lua syntax below reminds me of heredoc:
%pre
  =render 'lua_heredoc1'

%br/
