.q1 Question:
.q2 In Lua how to find string2 in string1?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/lua') lua
  %a.xtag(href='/tags/find') find
  %a.xtag(href='/tags/string') string


%br/
A common task when I work with interpreted languages is to find string2 in string1:

%pre
  =render 'lua_find_string1'

%br/


