.q1 Question:
.q2 Lua has heredoc?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/lua') lua
  %a.xtag(href='/tags/heredoc') heredoc

%br/
The idea of heredoc is useful for dealing with some large strings.
%br/
%br/
The Lua syntax below reminds me of heredoc:
%pre
  =render 'lua_heredoc1'


%a(href='http://en.wikipedia.org/wiki/Here_document' target='x')
  http://en.wikipedia.org/wiki/Here_document
%br/
%br/
