.q1 Question:
.q2 In Lua how to concatenate?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/lua') lua
  %a.xtag(href='/tags/concatenate') concatenate
  %a.xtag(href='/tags/string') string
%br/
Let Lua concatenate the strings:
%pre
  %code.lua
    dan@hp ~/ks/b/lua $ 
    dan@hp ~/ks/b/lua $ lua
    Lua 5.3.0  Copyright (C) 1994-2015 Lua.org, PUC-Rio
    > 
    > 'hello '..'world'
    hello world
    > 
    > 
    dan@hp ~/ks/b/lua $ 
    dan@hp ~/ks/b/lua $ 

I would have guessed that the concatenation operator is the plus-sign.

%br/
%br/
But, it is two dots.
%br/
%br/
That would be hard to guess.
%br/
