.q1 Question:
.q2 In Lua how to switch keys-values in table?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/lua') lua
  %a.xtag(href='/tags/switch') switch
  %a.xtag(href='/tags/key') key
  %a.xtag(href='/tags/value') value
  %a.xtag(href='/tags/table') table

%br/
Some use-cases require that I transform a table so that its keys and values are switched:

%pre
  =render 'lua_val2key'


%br/


