.q1 Question:
.q2 In Lua how to loop through file lines?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/lua') lua
  %a.xtag(href='/tags/loop') loop
  %a.xtag(href='/tags/file') file
  %a.xtag(href='/tags/io') io
  %a.xtag(href='/tags/lines') lines


%br/
In Lua it is easy to loop through the lines in a text file:
%pre
  =render 'lua_io_lines1'

%br/
