.q1 Question:
.q2 Inside Lua how to load lua script?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/lua') lua
  %a.xtag(href='/tags/dofile') dofile
  %a.xtag(href='/tags/load') load
  %a.xtag(href='/tags/require') require
%br/

All interpreted languages allow me load a script from the shell or from
inside the session.
%br/
%br/
In Lua how to load lua script from inside Lua?
%br/
%br/
I use the dofile() function.
%br/
%br/
Screendump demo:

%pre
  =render 'lua_dofile1'
