.q1 Question:
.q2 In Lua how to slice string2 from string1?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/lua') lua
  %a.xtag(href='/tags/string') string
  %a.xtag(href='/tags/slice') slice

%br/
A common task when I work with interpreted languages is to copy string2 out of string1.
%br/
%br/
In the demo below I just slice-out the characters from position 2 to 10:

%pre
  =render 'slice_string1'

%br/


