.q1 Question:
.q2 In Lua how to pass function to function?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/lua') lua
  %a.xtag(href='/tags/highorder') highorder
  %a.xtag(href='/tags/function') function
  %a.xtag(href='/tags/argument') argument

%br/
In Lua I can pass function1 to function2 as an argument.

%br/
%br/
I found that function1 needs to be an anonymous function:

%pre
  =render 'lua_pass_function2function1'

%br/
