.q1 Question:
.q2 In Lua how to create state machine?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/lua') lua
  %a.xtag(href='/tags/state') state
  %a.xtag(href='/tags/machine') machine
  %a.xtag(href='/tags/tail') tail
  %a.xtag(href='/tags/call') call
  %a.xtag(href='/tags/function') function

%br/
In Lua I can create a state machine using an idea called 'tail call'.
%br/
%br/
I make a tail call by returning function2 at the end of function1:

%pre
  =render 'lua_state_machine'
%br/


