.q1 Question:
.q2 In Lua how I namespace a function?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/lua') lua
  %a.xtag(href='/tags/function') function
  %a.xtag(href='/tags/variable') variable
  %a.xtag(href='/tags/scope') scope
  %a.xtag(href='/tags/namespace') namespace
  %a.xtag(href='/tags/table') table
  %a.xtag(href='/tags/unpack') unpack
  %a.xtag(href='/tags/chunk') chunk
%br/
Every interpreted language allows me to namespace a new function.
%br/
%br/
This allows me to use common verbs as function names:
%br/
my.create(somthing)
%br/
that.vote(candidate)
%br/
housecat.find({name = '007', tag = 4324})
%pre
  =render 'lua_namespace1'
%br/


