.q1 Question:
.q2 Lua has what data types?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/lua') lua
  %a.xtag(href='/tags/type') type
  %a.xtag(href='/tags/datatype') datatype
  %a.xtag(href='/tags/number') number
  %a.xtag(href='/tags/string') string
  %a.xtag(href='/tags/nil') nil
  %a.xtag(href='/tags/boolean') boolean
  %a.xtag(href='/tags/function') function
  %a.xtag(href='/tags/table') table
  %a.xtag(href='/tags/thread') thread
  %a.xtag(href='/tags/userdata') userdata
  %a.xtag(href='/tags/dynamic') dynamic

%br/
The types are listed at this URL:
%br/
%br/
%a(href='http://www.lua.org/pil/2.html' target='x')
  http://www.lua.org/pil/2.html

%br/
%br/
We have these:
%br/
%br/
%ul
  %li number
  %li string
  %li nil
  %li boolean
  %li function
  %li table
  %li thread
  %li userdata
%br/
In Lua what is the thread type?
%br/
%br/
In Lua what is the userdata type?
%br/

