.q1 Question:
.q2 In Lua how to create a function?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/lua') lua
  .tag function
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/aerospike') aerospike
%br/
The main thing to remember is to supply the keyword: "return"
%pre
  %code.lua
    function ima_function(x)
      return "Ignore x, ima_function."
    end
