.q1 Question:
.q2 In Lua how to default function arguments?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/lua') lua
  %a.xtag(href='/tags/default') default
  %a.xtag(href='/tags/function') function
  %a.xtag(href='/tags/arguments') arguments


%br/
In Lua the syntax to default function arguments is different than what I see in Ruby and Python.
%br/
%br/
In Lua the feature happens below the parenthesis, not inside the parenthesis (like we have in Ruby and Python):
%pre
  =render 'lua_default_arg1'

%br/
