.q1 Question:
.q2 Lua has which control structures?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/lua') lua
  .tag if
  .tag while
  .tag repeat
  .tag for

%br/
Lua has these control structures:
%br/
%ul
  %li if
  %li repeat
  %li while
  %li for

%pre
  =render 'lua_control1'

%br/
