.q1 Question:
.q2 In Lua can I access non-existent global?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/lua') lua
  %a.xtag(href='/tags/global') global
  %a.xtag(href='/tags/nil') nil
%br/
In Lua if I access non-existent global variable,
Lua will not give me an error.
%br/
%br/
Lua will give me a nil.
%br/

