.q1 Question:
.q2 Lua has which control structures?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/lua') lua
  %a.xtag(href='/tags/if') if
  %a.xtag(href='/tags/while') while
  %a.xtag(href='/tags/repeat') repeat
  %a.xtag(href='/tags/for') for

%br/
Lua has these control structures:
%br/
%ul
  %li if
  %li repeat
  %li while
  %li for

%pre
  =render 'lua_control1'

%br/
