.q1 Question:
.q2 In Lua what about special characters in strings?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/lua') lua
  %a.xtag(href='/tags/backslash') backslash
  %a.xtag(href='/tags/newline') newline
  %a.xtag(href='/tags/') 
  %a.xtag(href='/tags/string') string

%br/
I often need to handle special characters in strings.
%br/
%br/
These characters need a back-slash operator:
%br/
%br/
%a(href='http://www.lua.org/pil/2.4.html' target='x')
  http://www.lua.org/pil/2.4.html

%br/
%br/
=render 'lua_string_specials1'
