.q1 Question:
.q2 In Lua how to drive forloop with table?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/lua') lua
  %a.xtag(href='/tags/table') table
  %a.xtag(href='/tags/forloop') forloop
  %a.xtag(href='/tags/for') for
  %a.xtag(href='/tags/loop') loop
  %a.xtag(href='/tags/ipairs') ipairs
%br/
In Lua it is easy to drive a for-loop with a table:
%pre
  =render 'lua_table_forloop1'

%br/
