.q1 Question:
.q2 Lua has what data types?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/lua') lua
  %a.xtag(href='/tags/type') type
  %a.xtag(href='/tags/datatype') datatype
  %a.xtag(href='/tags/number') number
  %a.xtag(href='/tags/string') string
  %a.xtag(href='/tags/nil') nil
  %a.xtag(href='/tags/boolean') boolean
  %a.xtag(href='/tags/function') function
  %a.xtag(href='/tags/table') table
  %a.xtag(href='/tags/thread') thread
  %a.xtag(href='/tags/userdata') userdata
  %a.xtag(href='/tags/dynamic') dynamic

%br/
The types are listed at this URL:
%br/
%br/
%a(href='http://www.lua.org/pil/2.html' target='x')
  http://www.lua.org/pil/2.html

%br/
%br/
We have these:
%br/
%br/
%ul
  %li number
  %li string
  %li nil
  %li boolean
  %li function
  %li table
  %li thread
  %li userdata
%br/
In Lua what is the thread type?
%br/
%br/
In Lua what is the userdata type?
%br/
%br/
Since we have a type named function, it seems natural to set a variable to the
name of a function and then see if that variable can then act as a function:
%pre
  %code.lua
    dan@hp ~/ks/b/lua $ 
    dan@hp ~/ks/b/lua $ 
    dan@hp ~/ks/b/lua $ lua
    Lua 5.3.0  Copyright (C) 1994-2015 Lua.org, PUC-Rio
    > myprint = print
    > type(myprint)
    function
    > myprint(44)
    44
    > 
    dan@hp ~/ks/b/lua $ 
    dan@hp ~/ks/b/lua $ 
    dan@hp ~/ks/b/lua $ 

Yay! it looks like that idea works well.

%br/
%br/
This ability to have a variable act as a function leads to meta-programming
opportunities.

%br/

