.q1 Question:
.q2 In Lua how to comment a block?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/lua') lua
  %a.xtag(href='/tags/comment') comment
  .block
%br/
If I want to comment out a block of code, I use dashes and brackets.
%br/
%br/
Demo:
%pre
  =render 'lua_block_comments1'
%br/

