.q1 Question:
.q2 In Lua how to case-switch?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/lua') lua
  %a.xtag(href='/tags/case') case
  %a.xtag(href='/tags/switch') switch
  %a.xtag(href='/tags/elseif') elseif



%br/
In Ruby I can use case-switch-end to walk down a conditional tree to a single branch.
%br/
%br/
Once I find the first 'true-branch', I follow the branch to its end and then I exit the tree.

%br/
%br/
Lua offers this feature using 'elseif' inside of if-then-else-end:
%pre
  =render 'lua_elseif'


%br/


