.q1 Question:
.q2 In Python Matplotlib how do I plot to image with no pop-up window?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/matplotlib') matplotlib
  %a.xtag(href='/tags/plot') plot
  %a.xtag(href='/tags/pyplot') pyplot
  %a.xtag(href='/tags/popup') popup
%br/
I recently encountered a use-case asking me to plot data to several images from a script.
%br/
%br/
The default behavior of Matplotlib is to display a pop-up window when ask the API for a plot.
