.q1 Question:
.q2 In Python Matplotlib how do I plot to image with no pop-up window?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/matplotlib') matplotlib
  %a.xtag(href='/tags/plot') plot
  %a.xtag(href='/tags/pyplot') pyplot
  %a.xtag(href='/tags/popup') popup
%br/
I recently encountered a use-case asking me to plot data to several images from a script.
%br/
%br/
The default behavior of Matplotlib is to display a pop-up window when ask the API for a plot.
%br/
%br/
Then the script stops.
%br/
%br/
This behavior is inconvenient if I want to plot data to several images from a single script.

%br/
%br/

The line of syntax I use to work-around this behavior usually resides early in the script:

%pre
  =render 'matplotlib_no_popup_window1'

%br/
%br/

