.q1 Question:
.q2 In Python Matplotlib how do I plot 3 y-values on 1 plot?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/matplotlib') matplotlib
  %a.xtag(href='/tags/plot') plot
  %a.xtag(href='/tags/pyplot') pyplot
  %a.xtag(href='/tags/arange') arange
  %a.xtag(href='/tags/tutorial') tutorial
  %a.xtag(href='/tags/numpy') numpy

%br/
Let the syntax do the plotting:
%pre
  =render 'matplotlib3sets1plot'
%br/
Gives me:
%br/
%img(src='/myassets/matplotlib3sets1plot.png')
%br/
