.q1 Question:
.q2 In Python matplotlib how do I plot 3 y-values on 1 plot?
.tags
  %span.tagtag Tags:
  .tag python
  .tag matplotlib
  .tag plot
  .tag pyplot
  .tag arange
  .tag tutorial
  .tag numpy

%br/
Let the syntax do the plotting:
%pre
  =render 'matplotlib3sets1plot'
%br/
Gives me:
%br/
%img(src='/myassets/matplotlib3sets1plot.png')
%br/
