.q1 Question:
.q2 How to mix Rickshaw with Meteor Template?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/meteor') meteor
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/cat') cat
  %a.xtag(href='/tags/cats') cats
  %a.xtag(href='/tags/jpg') jpg
  %a.xtag(href='/tags/jpeg') jpeg
  %a.xtag(href='/tags/public') public
  %a.xtag(href='/tags/static') static
  %a.xtag(href='/tags/curl') curl
  %a.xtag(href='/tags/img') img
  %a.xtag(href='/tags/catjpg1') catjpg1
  %a.xtag(href='/tags/deploy') deploy
  %a.xtag(href='/tags/rickshaw') rickshaw
  %a.xtag(href='/tags/minify') minify
  %a.xtag(href='/tags/fcallem') fcallem
  %a.xtag(href='/tags/debug') debug


%br/

This topic caught my eye while I was reading the Meteor forum.

%br/
%br/

Then I created a Meteor application:

%pre
  =render 'meteor_rickshaw22'


Then I added some syntax to 

%pre
  %code.bash ~ann/rickshaw2/rickshaw2.html


I added just one line of syntax so my html file looks like this:

%pre
  =render 'meteor_rickshaw23'

The main thing to note about my placement is that I put the div-element in the hello-template
rather than the body-element.

%br/
%br/

This allows me to call Rickshaw syntax after the template is loaded into the DOM.

%br/
%br/

Next, I added some JS to the rickshaw2.js file:

%pre
  =render 'meteor_rickshaw24'

The main point to remember about the above syntax is that I need to place my
Rickshaw syntax inside an anonymous function.
%br/
%br/

Then that function needs to be an argument to this function:

%pre
  %code.javascript Template.hello.onRendered()

%br/
%br/

After I wrote that syntax, I started the application:

%pre
  =render 'meteor_rickshaw25'

The application behaved well on my laptop so I deployed it:

%pre
  =render 'meteor_rickshaw26'

Notice that I used the --debug option.

%br/
%br/

This option works-around a minification bug in my mixture of Rickshaw and Meteor.

%br/
%br/

The price I pay is the site serves bloated JS rather than minified JS.

%br/
%br/

So, the site would load slowly on my phone.

%br/
%br/

Also the site would perform poorly if it got more than 1 hit per second.

%br/
%br/

Fortunately this site gets little traffic:

%br/
%br/

%a(href='http://rickshaw2.meteor.com' target='x')
  http://rickshaw2.meteor.com

%br/


