.q1 Question:
.q2 How I install Meteor?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/meteor') meteor
  %a.xtag(href='/tags/linux') linux
%br/
Google sent me to an old webpage:
%br/
%br/
%a(href='https://www.meteor.com/blog/2012/03/06/full-linux-support' target='x')
  https://www.meteor.com/blog/2012/03/06/full-linux-support

%br/
%br/
I used wget to inspect the shell script at install.meteor.com
%br/
%br/
The script looks like this:
%pre
  =render 'meteor1'
