.q1 Question:
.q2 How to mix Meteor with Rickshaw?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/meteor') meteor
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/cat') cat
  %a.xtag(href='/tags/cats') cats
  %a.xtag(href='/tags/jpg') jpg
  %a.xtag(href='/tags/jpeg') jpeg
  %a.xtag(href='/tags/public') public
  %a.xtag(href='/tags/static') static
  %a.xtag(href='/tags/curl') curl
  %a.xtag(href='/tags/img') img
  %a.xtag(href='/tags/catjpg1') catjpg1
  %a.xtag(href='/tags/deploy') deploy
  %a.xtag(href='/tags/rickshaw') rickshaw
  %a.xtag(href='/tags/minify') minify
  %a.xtag(href='/tags/fcallem') fcallem
  %a.xtag(href='/tags/debug') debug


%br/

I used view-source in my browser to study the syntax served by this URL:

%br/
%br/

%a(href='http://code.shutterstock.com/rickshaw/examples/start.html' target='x')
  http://code.shutterstock.com/rickshaw/examples/start.html

%br/
%br/

I saw this syntax:

%pre
  =render 'meteor_rickshaw1'

Then I created a Meteor application:

%pre
  =render 'meteor_rickshaw2'

Then I added some syntax to 

%pre
  %code.bash ~ann/rickshaw1/rickshaw1.html


I added this syntax:


%pre
  =render 'meteor_rickshaw3'

Then I ran a shell command on my laptop:

%pre
  =render 'meteor_rickshaw4'

Next I started the application on my laptop:

%pre
  =render 'meteor_rickshaw5'


I loaded localhost:3000 into my browser.

%br/
%br/

I saw the graph in my browser!

%br/
%br/

Then I deployed the application so you can see it:

%pre
  =render 'meteor_rickshaw6'


Notice that I used the --debug option.

%br/
%br/

This option works-around a minification bug in my mixture of Rickshaw and Meteor.

%br/
%br/

The price I pay is the site serves bloated JS rather than minified JS.

%br/
%br/

So, the site would load slowly on my phone.

%br/
%br/

Also the site would perform poorly if it got more than 1 hit per second.

%br/
%br/

Fortunately this site gets little traffic:

%br/
%br/

%a(href='http://rickshaw1.meteor.com' target='x')
  http://rickshaw1.meteor.com


%br/



