.q1 Question:
.q2 Is meteor mongo broken?
.tags
  %span.tagtag Tags:
  .tag meteor
  .tag mongo
  .tag broken
  .tag mongodb
  .tag find
  .tag ln
  .tag port3001

%br/

I tried using the 'meteor mongo' shell command on my Ubuntu host and found that it is broken.

%br/
%br/

To reproduce the bug I posted a screen dump to the Meteor Forum:

%br/
%br/

%a(href='https://forums.meteor.com' target='x')
  https://forums.meteor.com

%br/
%br/

%pre
  =render 'meteor_mongo1'

Other shell:

%pre
  =render 'meteor_mongo2'

The work around is to find the mongo command under .meteor and then use it like this:

%pre
  =render 'meteor_mongo3'

%br/
%br/


