.q1 Question:
.q2 On Ubuntu How to Install Node.js?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/ubuntu') ubuntu
  %a.xtag(href='/tags/node') node
  %a.xtag(href='/tags/nodejs') nodejs

%br/

I often encounter Node.js applications during my development efforts.

%br/
%br/

I use the steps below to install Node.js in new Ubuntu virtual machines.

%br/
%br/

%br/
%br/

%br/
%br/

%br/
%br/



