.q1 Question:
.q2 How to access Node.js in Meteor.js?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/node') node
  %a.xtag(href='/tags/meteor') meteor
  %a.xtag(href='/tags/npm') npm

%br/

Meteor.js is a JavaScript framework to help me build web apps.

%br/
%br/

When I install it on my laptop, I get a copy of Node.js embedded inside.

%br/
%br/

How do I access that copy of Node.js?

%br/
%br/

I start the discussion with a screen dump of me installing Meteor.js:

%pre
  =render 'node_meteor1'

%br/

