.q1 Question:
.q2 On Ubuntu How to Install Node.js?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/ubuntu') ubuntu
  %a.xtag(href='/tags/node') node
  %a.xtag(href='/tags/nodejs') nodejs

%br/

I often encounter Node.js applications during my development efforts.

%br/
%br/

I use the steps below to install Node.js in new Ubuntu virtual machines.

%br/

%ul
  %li
    Install Ubuntu (if not installed yet):
    %br/
    %a(href='/posts/linux101_cclud_instance') linux101_cclud_instance
    %br/
    %a(href='http://www.google.com/search?q=how+to+install+ubuntu+on+virtualbox' target='x')
      http://www.google.com/search?q=how+to+install+ubuntu+on+virtualbox


%br/
%br/

%br/
%br/

%br/
%br/



