.q1 Question:
.q2 How to get unixtime in Node.js?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/node') node
  %a.xtag(href='/tags/unixtime') unixtime
  %a.xtag(href='/tags/epoch') epoch
  %a.xtag(href='/tags/gettime') gettime

%br/

Let the syntax get the time:

%pre
  %code.js var my_unixtime = (new Date).getTime();

%pre
  %code.javascript var my_unixtime = (new Date).getTime();

%br/

