.q1 Question:
.q2 In Numpy how do I apply WHERE?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/pandas') pandas
  %a.xtag(href='/tags/csv') csv
  %a.xtag(href='/tags/where') where
  %a.xtag(href='/tags/tail') tail
  %a.xtag(href='/tags/predicate') predicate
  %a.xtag(href='/tags/sql') sql
  %a.xtag(href='/tags/boolean') boolean
  %a.xtag(href='/tags/numpy') numpy
  %a.xtag(href='/tags/r') r

%br/

I just wrote a post on how to implement what I call WHERE predicates for Pandas.

%br/
%br/
%a(href='/posts/pandas_where') posts/pandas_where
%br/
%br/

How do I implement WHERE predicates for NumPy Arrays?

%br/
%br/

Let NumPy do the talking:
%br/
%br/

=render 'numpy_where'
