.q1 Question:
.q2 How to install Nvidia Cuda 7.5 on Ubuntu 14.04?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  .tag nvidia
  .tag cuda
  .tag ubunutu

%br/

I bought a laptop recently with an Nvidia chip in it.

%br/
%br/

I was curious, 'How to install Cuda on this laptop?'

%br/
%br/


%br/
%br/


If you have questions, e-me: bikle101@gmail.com

%br/
%br/
