.q1 Question:
.q2 In Pandas how do I apply WHERE?
.tags
  %span.tagtag Tags:
  .tag python
  .tag pandas
  .tag csv
  .tag where
  .tag tail
  .tag predicate
  .tag sql
  .tag boolean
  .tag numpy
  .tag r

%br/

=render 'pandas_where'
