.q1 Question:
.q2 In Pandas how do I apply GROUP BY?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/pandas') pandas
  %a.xtag(href='/tags/csv') csv
  %a.xtag(href='/tags/where') groupby
  %a.xtag(href='/tags/tail') tail
  %a.xtag(href='/tags/sql') sql
  %a.xtag(href='/tags/column') column

%br/
When I work with tablular data I often encounter what I call the GROUP BY use-case.

%br/
%br/
For example if I have a table full of dates and prices, I might want to group the dates by year and then calculate the average price for each year.

%br/
%br/
How do I do this in Pandas?
%br/
%br/

=render 'pandas_group_by'
