.q1 Question:
.q2 In Pandas how do I apply WHERE?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/pandas') pandas
  %a.xtag(href='/tags/csv') csv
  %a.xtag(href='/tags/where') where
  %a.xtag(href='/tags/tail') tail
  %a.xtag(href='/tags/predicate') predicate
  %a.xtag(href='/tags/sql') sql
  %a.xtag(href='/tags/boolean') boolean
  %a.xtag(href='/tags/numpy') numpy
  %a.xtag(href='/tags/r') r

%br/

=render 'pandas_where'
