.q1 Question:
.q2 How to install PL/Java on Postgres 9.5 on Centos 6.5?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/pl_java') pl_java
  %a.xtag(href='/tags/java') java
  %a.xtag(href='/tags/postgres') postgres
  %a.xtag(href='/tags/centos') centos

%br/

I encountered a use-case recently which asked me to use PL/Java on Postgres.

%br/
%br/

I wrote up some notes on how to install it.

%br/
%br/

I started by downloading a copy of Centos from the URLs listed below:
%ul
  %li
    %a(href='http://vault.centos.org/6.5/isos/x86_64/' target='x')
      http://vault.centos.org/6.5/isos/x86_64/
  %li
    %a(href='http://vault.centos.org/6.5/isos/x86_64/CentOS-6.5-x86_64-LiveDVD.iso' target='x')
      http://vault.centos.org/6.5/isos/x86_64/CentOS-6.5-x86_64-LiveDVD.iso

Next, I did a simple text-only install of CentOS-6.5-x86_64-LiveDVD.iso into VirtualBox on my laptop.

%br/
%br/

Then, I logged in as root and ran some shell commands:

%pre
  =render 'pl_java_postgres_centos1a'

Next, I logged in as postgres and ran some commands:

%pre
  =render 'pl_java_postgres_centos1b'

%br/
%br/


%br/
%br/


%br/
%br/


%br/
%br/


If you have questions, e-me: bikle101@gmail.com

%br/
%br/
