.q1 Question:
.q2 With Postgres how do I convert a date to unixtime?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/postgres') postgres
  %a.xtag(href='/tags/postgresql') postgresql
  %a.xtag(href='/tags/psql') psql
  %a.xtag(href='/tags/epoch') epoch
  %a.xtag(href='/tags/unixtime') unixtime
  %a.xtag(href='/tags/extract') extract
  %a.xtag(href='/tags/date') date
  %a.xtag(href='/tags/sql') sql
%br/
Let Postgres do the talking:
%pre
  =render 'postgres_unixtime'
%br/
