.q1 Question:
.q2 How to compare PostgreSQL to MongoDB?
.tags
  %a.xtag(href='/tags/linux') linux
  .tag postgres
  .tag postgresql
  .tag mongo
  .tag mongodb

%br/

On Ubuntu it is easy to install both PostgreSQL and MongoDB on the same host.

%br/
%br/

Then it is easy to compare them.

%h2 PostgreSQL AKA Postgres

When I installed Postgres on my Linux laptop I followed some steps.

I issued a shell command:

apt-get install postgresql postgresql-server-dev-all libpq-dev

After that finished, I rebooted the laptop.

The next series of steps depend on the name of my linux account.

On my laptop I login to linux as dan.

Postgres works well on my laptop if I create an account inside of Postgres named dan.

Also Postgres wants me to create a database inside of Postgres named dan.

I created an account named dan inside using some shell commands:

sudo su - postgres

The above command put me into the Linux-Postgres account.

Then I used a command name psql to connect to the Postgres instance.

I saw this:
postgres@nia111:~$ 
postgres@nia111:~$ 
dan@nia111:~/x611 $ sudo su - postgres
[sudo] password for dan: 
postgres@nia111:~$ 
postgres@nia111:~$ 

postgres@nia111:~$ 
postgres@nia111:~$ psql
psql (9.3.11)
Type "help" for help.

postgres=# 
postgres=# 


Next I created a dan account inside of Postgres:

create role dan with superuser login;

Then, I created a database named dan.

create database dan;
