.q1 Question:
.q2 With Postgres how do I generate JSON?
.tags
  .tag postgres
  .tag postgresql
  .tag psql
  .tag json
  .tag row_to_json
  .tag array_agg
  .tag array_to_json
  .tag json
%br/
Let Postgres do the talking:
%pre
  =render 'postgres_json1'
%br/
