.q1 Question:
.q2 With Postgres how do I generate JSON?
.tags
  %a.xtag(href='/tags/postgres') postgres
  %a.xtag(href='/tags/postgresql') postgresql
  %a.xtag(href='/tags/psql') psql
  %a.xtag(href='/tags/json') json
  %a.xtag(href='/tags/row_to_json') row_to_json
  %a.xtag(href='/tags/array_agg') array_agg
  %a.xtag(href='/tags/array_to_json') array_to_json
%br/
Let Postgres do the talking:
%pre
  =render 'postgres_json1'
%br/
