.q1 Question:
.q2 In Python Pandas how do I read a CSV file?
.tags
  .tag wget
  .tag python
  .tag import
  .tag pandas
  .tag csv
  .tag read_csv
  .tag dataframe
  .tag head
  .tag tail

%br/
For this demo I used some shell commands to wget a CSV file from Yahoo:
%pre
  =render 'python_pandas_read_csv1'

Then I used the read_csv() method in Pandas to load the CSV into a Pandas DataFrame object:

%pre
  =render 'python_pandas_read_csv2'
%br/
