.q1 Question:
.q2 In Python what does __future__ do?
.tags
  %span.tagtag Tags:
  .tag python
  .tag future
%br/
The intent behind __future__ is to help me write Python which is more compatible with future releases of Python.

%br/
%br/
Here is a demo:
%pre
  =render 'python_future1'
