.q1 Question:
.q2 In Python what is lambda?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/python') python
  .tag lambda
  .tag function
  .tag map
  .tag reduce
  .tag twovar

%br/

A lambda is like a function.  It takes an input, works with the input, and returns an output.

%br/
%br/

Usually a lambda is contained within a short line of syntax.

%br/
%br/

Often a function will span many lines.

%br/
%br/

When I create a lambda I often give it a name.

%br/
%br/

When I call that name it behaves, to my eyes, exactly like a function.

%br/
%br/

I captured a few lines of lambda related syntax in my Python interpreter.
Next, I annotated them.  Finally, I pasted them below for you to read:

%pre
  =render 'python_lambda'

