.q1 Question:
.q2 In Python how to better understand NumPy?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/string') string
  %a.xtag(href='/tags/numpy') numpy
  %a.xtag(href='/tags/pandas') pandas

%br/

In my Machine Learning class I want to teach NumPy to my students.
%br/
%br/

Perhaps this page will help:

%pre
  =render 'python_numpy_understand'

%br/
