.q1 Question:
.q2 In Python, how do I embed variables within a string?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/string') string
  %a.xtag(href='/tags/interpolate') interpolate
  %a.xtag(href='/tags/embed') embed
  %a.xtag(href='/tags/concatenate') concatenate
  %a.xtag(href='/tags/ruby') ruby
%br/

Ruby offers me an elegant way to embed variables within a string:
%pre
  %code.ruby
    myvariable = "World"
    mystring   = "Hello #{myvariable}"
    p(mystring)

The obvious way to glue together strings in Python is to use a plus-operator:
%pre
  %code.python
    myvariable = "World"
    mystring   = "Hello " + myvariable
    print(mystring)


In Python, another way to do this is displayed below:
%pre
  %code.python
    myvariable = "World"
    mystring   = "Hello {0}".format(myvariable)
    print(mystring)

I like the Ruby way.


