.q1 Question:
.q2 In Python Pandas how do I sort?
.tags
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/pandas') pandas
  %a.xtag(href='/tags/dataframe') dataframe
  %a.xtag(href='/tags/sort') sort


%br/

After I wrote this post:
%br/

%a(href='/posts/python_pandas_read_csv' )
  \/posts/python_pandas_read_csv
%br/
%br/

I notice that my DataFrame object was ordered by ydate in descending order.
%br/
%br/
How do I sort it by ydate in ascending order?
%br/
%br/
The answer is to use the sort() method available to DataFrame objects:
%pre
  =render 'python_pandas_sort1'

