.q1 Question:
.q2 In Python how to find max of GSPC?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/pandas') pandas
  %a.xtag(href='/tags/max') max
  %a.xtag(href='/tags/csv') csv
  %a.xtag(href='/tags/gspc') gspc
  %a.xtag(href='/tags/yahoo') yahoo

%br/

When I work with Python I like to use a Python distribution I get from Continuum Analytics.
The distribution is called Anaconda:

%br/
%br/

%a(href='http://continuum.io/downloads' target='x')
  http://continuum.io/downloads


%br/
%br/

Anaconda contains many useful packages. Two are Pandas and NumPy.

%br/
%br/

After I installed Anaconda on my laptop, I used wget to download a CSV file full of S &amp; P 500 prices from Yahoo.

%br/
%br/

Next, I used Pandas to read the file into an object called gspc_df which is a Pandas 'DataFrame'.
%br/
%br/

Then, I used NumPy to read a column from gspc_df and locate the maximum closing price between 1950 and 2015:

%pre
  =render 'python_pandas_max'

As a Spark learning exercise, I searched for that max-price using Spark:

%br/
%br/
%a(href='/posts/spark_max_gspc') spark_max_gspc

%br/
