.q1 Question:
.q2 In Python how do I convert unix-time to datetime?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/datetime') datetime
  %a.xtag(href='/tags/epoch') epoch
  %a.xtag(href='/tags/strptime') strptime
  %a.xtag(href='/tags/strftime') strftime
  %a.xtag(href='/tags/unix_time') unix_time
  %a.xtag(href='/tags/epoch') epoch
  %a.xtag(href='/tags/epoch_time') epoch_time

%br/

Let the syntax do the magic:
%pre
  =render 'python_unixtime2datetime1'


