.q1 Question:
.q2 What is 2016-01-18 Python Meetup?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/python') python
  .tag numpy
  .tag pandas
  .tag sklearn
  .tag crontab
  .tag linux
  .tag baypiggies
  .tag meetup
  .tag yahoo
  .tag gspc
  
%br/

This is/will be a presentation at the Python Meetup on 2016-01-18 at Hacker Dojo.

%br/
%br/
You can RSVP at this URL:

%br/
%br/

%a(href='http://www.meetup.com/BayPIGgies/events/227481217' target='x')
  http://www.meetup.com/BayPIGgies/events/227481217

%br/
%br/

Currently this page is UNDER CONSTRUCTION.

%br/
%br/

%h2 Use Case Discussion
%ul
  %li Ted the Trader lives in California; he uses his lunch hour to rebalance his position in SPY once a day.
  %li On a Tuesday at 12:50 PM he sees a new prediction appear at http://www.pyspy.info and that prediction is bullish.
  %li Ted looks at his current position of SPY inside his brokerage account and sees that it is bearish.
  %li At 12:55 PM Ted rebalances his position of SPY so that it is bullish.
  %li Ted is done trading for that Tuesday.

%h2 Development Environment Setup

I use Ubuntu 14 to develop and run pyspy.

%br/
%br/

I like this release:

%br/
%br/

%a(href='http://releases.ubuntu.com/14.04/ubuntu-14.04.3-desktop-amd64.iso' target='x')
  http://releases.ubuntu.com/14.04/ubuntu-14.04.3-desktop-amd64.iso

%br/
%br/

I prefer to run Ubuntu on a newish-laptop.  I can usually replace
windows-10 with Ubuntu in about 9 minutes.  After the initial Ubuntu
bootup, I need about 30 minutes to install all the latest Ubuntu updates.

%br/
%br/

A suitable newish-laptop should cost less than $500.
Ubuntu friendly CPUs are i3, i5, i7, or A10; avoid Pentium.

%br/
%br/

If Ubuntu fails to install on the newish-laptop, I return the laptop to the store for a refund.

%br/
%br/

Stores which behave well: Costco, Walmart, OfficeDepot, and BestBuy .

%br/
%br/

If I want to leave windows-10 on the laptop, I can use a USB drive to power Linux on the laptop while windows-10 sleeps.

%br/
%br/

Another way to run Ubuntu is inside of a VirtualBox on my Mac.

%br/
%br/

It is possible to run Ubuntu inside of a VirtualBox inside of windows-10 but that setup often displays bad behavior.

%br/
%br/

It is possible to build a Mac-only development environment but that environment becomes more cumbersome as the ML-app grows in complexity.

%br/
%br/

It is possible to build a complex ML-app which runs on both Mac and Ubuntu but my attitude is 'why bother?'

%br/
%br/

Instead I just pick the OS which will support the production-app, in this case Ubuntu, and then use that OS to host my development environment.

%br/
%br/

During installation the Ubuntu wizard will ask my name and where I live.

%br/
%br/

For the pyspy-app the proper name is: 'ann'

%br/
%br/

Ubuntu will then create a privileged account named: 'ann'

%br/
%br/

Also I should tell the wizard that I live in California so that predictions generated at 12:50pm will be 10 minutes before market close at 13:00 pm.

%br/
%br/

After I install Ubuntu, I run shell commands to enhance it:
%pre
  =render 'python_preso10'

With that behind me I should install ta-lib:
%pre
  =render 'python_preso11'

After I install ta-lib, I should install python:
%pre
  =render 'python_preso12'

Then, I should pip install TA-lib:
%pre
  %code.bash
    pip install TA-Lib
    python -c 'import numpy, talib'

%h2 Data Acquistion (Automated)
For pyspy, automated data acquistion is simple.
%ul
  %li Create a folder for data
  %li Clone a repo with a script to copy data into the folder
  %li Create a cron entry to run the script at 12:50 M-F.
  %li I list syntax below to do this:

%pre
  =render 'python_preso13'

The crontab in the above example assumes that you are in the California timezone.

%br/
%br/

If you are in a different timezone, study the comments in ~/pyspy/crontab.txt to see what you should change.

%h2 Data Acquistion (Manual at Night)

To manually acquire data, run this shell script:

%pre
  %code.bash ~/pyspy/bin/night.bash

I captured some screen output when I did that:

%pre
  =render 'python_preso14'

%h2 Data Acquistion (Manual at Near Calif-Noon)

When the market is near close (California lunch hour) sometimes I will manually acquire data:

%pre
  %code.bash ~/pyspy/bin/noon50.bash

I captured some screen output when I did that:

%pre
  =render 'python_preso15'

The script
%a(href='https://github.com/danbikle/pyspy/blob/master/bin/noon50.bash' target='g')
  noon50.bash
is an enhanced version of
%a(href='https://github.com/danbikle/pyspy/blob/master/bin/night.bash' target='g')
  night.bash

%br/
%br/

The script
%a(href='https://github.com/danbikle/pyspy/blob/master/bin/noon50.bash' target='g')
  noon50.bash
gets the most recent price by scraping a web-page with python.

%br/
%br/

More topics under construction:

%h2 Feature Visualization with Pandas
%h2 Feature Creation with NumPy
%h2 Feature Creation with TA-lib
%h2 Model Building with scikit-learn
%h2 Prediction of Out-of-Sample (OOS) data
%h2 Visualization of OOS predictions
%h2 Build  the ML Application with Django
%h2 Deploy  the ML Application to Heroku
%h2 Operate the ML Application on Heroku
