.q1 Question:
.q2 What are the Python Preso Questions? 
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/numpy') numpy
  %a.xtag(href='/tags/pandas') pandas
  %a.xtag(href='/tags/sklearn') sklearn
  %a.xtag(href='/tags/crontab') crontab
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/baypiggies') baypiggies
  %a.xtag(href='/tags/meetup') meetup
  %a.xtag(href='/tags/yahoo') yahoo
  %a.xtag(href='/tags/gspc') gspc
  
%br/

These questions are part of a presentation at a Meetup:

%br/
%br/

%a(href='/posts/python_preso') python_preso

%br/
%br/

%a(href='http://www.meetup.com/BAyPIGgies/events/228208164' target='x')
  http://www.meetup.com/BAyPIGgies/events/228208164

%h2 Questions:

%br/
%br/

What is SPY?

What is GSPC?

What is pyspy?

What is Ubuntu 14?

Why (or Why not) use Ubuntu 14?
 
What is a bullish prediction?

What is a bearish prediction?

What is an ISO file?

What is an Ubuntu update?

What is VirtualBox?

Why is VirtualBox useful?

What are typical VirtualBox drawbacks?

What is an ML-app?

What is a production app?

What is a development environtment?

What is the Ubuntu wizard?

What is an Ubuntu privileged account?

In California, when does stockmarket typically close?

What is Bash?

In Bash, what does the ~ symbol do for me?

What is sudo?

What is TA-lib?

This syntax:
./configure --prefix=/usr
where do I typically see syntax like that?

Shell command: make
does what?

Shell command: wget
does what?

How to install TA-lib on Ubuntu?

On Ubuntu, how to install Python?

What is Anaconda?

What is anaconda2?

What is anaconda3?

How to install Anaconda?

Python2 vs Python3, what should I know?

Shell command: which python
does what?

What is .bashrc?

What is curl?

Should I use the curl inside Anaconda?

What is /usr/bin/curl?

How to see my version of Python?

Shell command: python -c 
does what?

What is pip?

Shell command: pip install
does what?

Shell command: conda
does what?

pip vs conda, which should I use?

What is crontab?

In Bash what is an executable script?

In Bash how to create an executable script?

In Machine Learning what is a Feature?

What is a simple way to transform time series of prices into time series of Features?

In Machine Learning, how to define: 'Accuracy'?

What is Dan's definition of 'Effectiveness'?

What is a png file?

How does Yahoo format stock market data?

Which Yahoo URL serves stockmarket data?

How large is file full of S&P 500 data from Yahoo?

What is a postive prediction?

What is a negative prediction?

What is a true prediction?

What is a false prediction?

What is a true negative prediction?

What features might a stock speculator study?

In Python what is a List?

With Python what can I put in a List?

After I create a Python List, can I change it?

This Python command:
import statistics
does what?

When I sort a List am I sorting the List or a copy of the List?

This Python command:
reversed(mylist)
does what?

In Python, how to create a for-loop?

In Python, what is a 'Comprehension'.

What other languages offer syntax like Comprehension?

In other languages, what are the names of syntax-constructs which behave like Comprehension?

In Python how to get a member from a List?

In Python how to get a sub-List from a List?



