.q1 Question:
.q2 In Python101 class, where is the Python we study?
.tags
  %span.tagtag Tags:
  .tag python101
  .tag python102
  .tag python
  .tag import
  .tag pandas
  .tag numpy
  .tag read_csv
  .tag csv
  .tag comprehension
  .tag array
  .tag column


%br/

The main idea for this class is to step through Python code and ask Google questions along the way.

%br/
%br/

The code comes in the form of two Python scripts.

%br/
%br/

The scripts should reside in ~/ann/

%pre
  =render 'py101_1'
  =render 'py101_2'

%br/

