.q1 Question:
.q2 What are the Python Preso Questions? 
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/numpy') numpy
  %a.xtag(href='/tags/pandas') pandas
  %a.xtag(href='/tags/sklearn') sklearn
  %a.xtag(href='/tags/crontab') crontab
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/baypiggies') baypiggies
  %a.xtag(href='/tags/meetup') meetup
  %a.xtag(href='/tags/yahoo') yahoo
  %a.xtag(href='/tags/gspc') gspc
  
%br/

These questions are part of a presentation at a Meetup:

%br/
%br/

%a(href='/posts/python_preso') python_preso

%br/
%br/

%a(href='http://www.meetup.com/BAyPIGgies/events/228208164' target='x')
  http://www.meetup.com/BAyPIGgies/events/228208164

%h2 Questions:

%pre
  =render 'python_preso_questions1'
