.q1 Question:
.q2 In Python Pandas how do I read a CSV file?
.tags
  %a.xtag(href='/tags/wget') wget
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/import') import
  %a.xtag(href='/tags/pandas') pandas
  %a.xtag(href='/tags/csv') csv
  %a.xtag(href='/tags/read_csv') read_csv
  %a.xtag(href='/tags/dataframe') dataframe
  %a.xtag(href='/tags/head') head
  %a.xtag(href='/tags/tail') tail

%br/
For this demo I used some shell commands to wget a CSV file from Yahoo:
%pre
  =render 'python_pandas_read_csv1'

Then I used the read_csv() method in Pandas to load the CSV into a Pandas DataFrame object:

%pre
  =render 'python_pandas_read_csv2'
%br/
