.q1 Question:
.q2 What are the Python Preso Questions? 
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/numpy') numpy
  %a.xtag(href='/tags/pandas') pandas
  %a.xtag(href='/tags/sklearn') sklearn
  %a.xtag(href='/tags/crontab') crontab
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/baypiggies') baypiggies
  %a.xtag(href='/tags/meetup') meetup
  %a.xtag(href='/tags/yahoo') yahoo
  %a.xtag(href='/tags/gspc') gspc
  
%br/

These questions are part of a presentation at a Meetup:

%br/
%br/

%a(href='/posts/python_preso') python_preso

%br/
%br/

%a(href='http://www.meetup.com/BAyPIGgies/events/228208164' target='x')
  http://www.meetup.com/BAyPIGgies/events/228208164

%h2 Questions:

%br/
%br/

What is SPY?

What is GSPC?

What is pyspy?

What is Ubuntu 14?

Why (or Why not) use Ubuntu 14?
 
What is a bullish prediction?

What is a bearish prediction?

What is an ISO file?

What is an Ubuntu update?

What is VirtualBox?

Why is VirtualBox useful?

What are typical VirtualBox drawbacks?

What is an ML-app?

What is a production app?

What is a development environtment?

What is the Ubuntu wizard?

What is an Ubuntu privileged account?

In California, when does stockmarket typically close?

What is Bash?

In Bash, what does the ~ symbol do for me?

What is sudo?

What is TA-lib?

This syntax:
./configure --prefix=/usr
where do I typically see syntax like that?

Shell syntax: make
does what?

Shell syntax: wget
does what?

How to install TA-lib on Ubuntu?

On Ubuntu, how to install Python?

What is Anaconda?

What is anaconda2?

What is anaconda3?

How to install Anaconda?

Python2 vs Python3, what should I know?

Shell syntax: which python
does what?

What is .bashrc?

What is curl?

Should I use the curl inside Anaconda?

What is /usr/bin/curl?

How to see my version of Python?

Shell syntax: python -c 
does what?

What is pip?

Shell syntax: pip install
does what?

Shell syntax: conda
does what?

pip vs conda, which should I use?

What is crontab?

In Bash what is an executable script?

In Bash how to create an executable script?

In Machine Learning what is a Feature?

What is a simple way to transform time series of prices into time series of Features?

In Machine Learning, how to define: 'Accuracy'?

What is Dan's definition of 'Effectiveness'?

What is a png file?

How does Yahoo format stock market data?

Which Yahoo URL serves stockmarket data?

How large is file full of S&P 500 data from Yahoo?

What is a postive prediction?

What is a negative prediction?

What is a true prediction?

What is a false prediction?

What is a true negative prediction?

What features might a stock speculator study?

In Python what is a List?

With Python what can I put in a List?

After I create a Python List, can I change it?

This Python syntax:
import statistics
does what?

When I sort a List am I sorting the List or a copy of the List?

This Python syntax:
reversed(mylist)
does what?

In Python, how to get length of a List?

In Python, how to create a for-loop?

In Python, what is a 'Comprehension'.

What other languages offer syntax like Comprehension?

In other languages, what are the names of syntax-constructs which behave like Comprehension?

In Python how to get a member from a List?

In Python how to get a sub-List from a List?

In Python what could be simple example of if-then-else syntax?

This Python syntax:
range(9)
does what?

This Python syntax:
range(5,9)
does what?

This Python syntax:
mylist.append(7)
appends a 7 at the end of mylist.
How to prepend 7 to front of mylist?

In the middle of a Python script, should I check that my assumptions are correct?

In the middle of a Python script, how    I check that my assumptions are correct?

In Python how to get sum of numbers in a List?

In Python how to get average of numbers in a List?

In Python how to get moving average of numbers in a List?

In Machine Learning, given a time series of prices and price moving averages,
how might I create a feature which makes sense to a speculator?

What is NumPy?

This Python syntax:
import numpy
does what?

This Python syntax:
import numpy as np
does what?

What is the most common type of object I create with NumPy?

What is an example of array arithmetic?

Can I do array arithmetic on a Python Lists?

In NumPy, how to add a row to an Array?

In NumPy, how to get a row from an Array?

In NumPy, how to change a row in an Array?

In NumPy, how to delete a row from an Array?

In Python how to create a List from Array?

In NumPy how to create an Array from a List?

In NumPy in what ways does an Array behave like a List?

In Python, what is pdb?

In Python, how would I show a simple pdb demo?

In Python, why would I use pdb?

In Python how to create a function which returns 3 numbers?

In Python how to call a function which returns 3 numbers?

This Python syntax:
myval = myfunc(name='Dan', age=44)
does what?

Could I rewrite myfunc() so the call behaves like this:
myval = myfunc('Dan',44)
??

Which behavior do you prefer; first way or second method?

What is Pandas?

This Python syntax:
import pandas as pd
does what?

In Python, how to see which version of NumPy and Pandas I am using?

How to compare NumPy to Pandas?

In Pandas, what is the most common type of object I create?

This Pandas syntax:
%pre
  %code.python
    df1            = pd.DataFrame(cdate_l)
    df1.columns    = ['cdate']
    df1['cp']      = cp
does what?

In Pandas, how to create a DataFrame from a List?

In Python, how to create a Pandas DataFrame from a NumPy Array?

In Python how to create a NumPy Array from Pandas DataFrame?











