.q1 Question:
.q2 In Python101 class, where is the Python we study?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/python101') python101
  %a.xtag(href='/tags/python102') python102
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/import') import
  %a.xtag(href='/tags/pandas') pandas
  %a.xtag(href='/tags/numpy') numpy
  %a.xtag(href='/tags/read_csv') read_csv
  %a.xtag(href='/tags/csv') csv
  %a.xtag(href='/tags/comprehension') comprehension
  %a.xtag(href='/tags/array') array
  %a.xtag(href='/tags/column') column


%br/

The main idea for this class is to step through Python code and ask Google questions along the way.

%br/
%br/

The code comes in the form of two Python scripts.

%br/
%br/

The scripts should reside in ~/ann/

%br/
%br/

Also you need to install Anaconda to run the Python scripts.

%br/
%br/

Anaconda is easy to install:

%br/
%br/

%a(href='http://continuum.io/downloads' target='x')
  http://continuum.io/downloads

%pre
  =render 'py101_1'
%hr/
%pre
  =render 'py101_2'

%br/

