.q1 Question:
.q2 In Python how do I convert a string to a datetime?
.tags
  %span.tagtag Tags:
  .tag python
  .tag string
  .tag datetime
  .tag strptime
  .tag strftime
%br/

A common use-case for working with Python Machine Learning technology is the simple step of converting a string to a datetime object.
%br/
%br/

The script below offers a simple demo:
%pre
  =render 'python_str2datetime1'

Here is a screendump from the above script:
%pre
  =render 'python_str2datetime2'

A site that I often visit when I work with datetime objects is listed below:
%br/
%br/
%a(href='http://strftime.org' target='x')
  http://strftime.org
%br/
%br/
