.q1 Question:
.q2 How do I call Shell from Python?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/call') call
  %a.xtag(href='/tags/shell') shell
  %a.xtag(href='/tags/subprocess') subprocess
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/bash') bash
  %a.xtag(href='/tags/system') system
%br/
How do I issue Bash shell commands from a Python script?
%br/
%br/
Let Python do the calling:
%pre
  =render 'python_call_shell'
Notice that when I called the df shell command,
Python forced me to separate the arguments from the command.
%br/


