.q1 Question:
.q2 How do I install Quantopian Zipline?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/quantopian') quantopian
  %a.xtag(href='/tags/zipline') zipline
  %a.xtag(href='/tags/anaconda') anaconda
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/ubuntu') ubuntu
  %a.xtag(href='/tags/bash') bash
%br/
I start this effort by loading this page:
%br/
%br/
%a(href='http://continuum.io/downloads' target='x')
  http://continuum.io/downloads

%br/
%br/
I download the link:
%br/
Linux 64-bit — Python 2.7
%br/
%br/
I find a large file in ~/Downloads/

%pre
  %code.bash
    dan@hp ~/Downloads $ 
    dan@hp ~/Downloads $ ll Anaconda-2.1.0-Linux-x86_64.sh 
    \-rw-rw-r-- 1 dan dan 353806962 Dec 14 04:28 Anaconda-2.1.0-Linux-x86_64.sh
    dan@hp ~/Downloads $ 
    dan@hp ~/Downloads $ 

I bash it:
%pre
  =render 'python_ins_zipline1'

