.q1 Question:
.q2 In Python how to fix ImportError?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/importerror') importerror
  %a.xtag(href='/tags/import') import
  %a.xtag(href='/tags/h2o') h2o
  %a.xtag(href='/tags/path') path
  %a.xtag(href='/tags/sys') sys
  %a.xtag(href='/tags/sys_path') sys_path
%br/
Today I walked through an early demo of the h2o Python API.

%br/
%br/

The first line in the script was this:
%pre
  %code.python import h2o

When I ran it, Python gave me this:
%pre
  %code.python ImportError: No module named h2o

I fixed it with three lines of code:
%pre
  =render 'python_import_fail'
%br/
