.q1 Question:
.q2 In Python how do I convert unix-time to datetime?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/datetime') datetime
  %a.xtag(href='/tags/epoch') epoch
  %a.xtag(href='/tags/strptime') strptime
  %a.xtag(href='/tags/unix_time') unix_time
  %a.xtag(href='/tags/epoch') epoch
  %a.xtag(href='/tags/epoch_time') epoch_time
  %a.xtag(href='/tags/timedelta') timedelta
  %a.xtag(href='/tags/int') int
  %a.xtag(href='/tags/float') float

%br/

Let the syntax get a date:
%pre
  =render 'python_unixtime2datetime1'

%br/


