.q1 Question:
.q2 In Python how do I wget a web page URL?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/wget') wget
  %a.xtag(href='/tags/system') system
  %a.xtag(href='/tags/url') url
%br/

Linux provides a command-line utility named 'wget'.
%br/
%br/

It is useful for getting HTML from a web page URL if that page is not too dependent on JavaScript.
%br/
%br/

Here is a demo of wget:
%pre
  =render 'python_wget1'

So, wget is useful but how do I wget a web page using Python instead of bash?
%br/
%br/
Let the syntax do the getting:
%pre
  =render 'python_wget2'
