.q1 Question:
.q2 What is 2016-01-18 Python Meetup?
.tags
  %span.tagtag Tags:
  .tag python

%br/

This is/will be a presentation at the Python Meetup on 2016-01-18 at Hacker Dojo.

%br/
%br/
You can RSVP at this URL:

%br/
%br/

%a(href='http://www.meetup.com/BayPIGgies/events/227481217' target='x')
  http://www.meetup.com/BayPIGgies/events/227481217

%br/
%br/

Currently this page is UNDER CONSTRUCTION.

%br/
%br/

