.q1 Question:
.q2 How to do Pandas101 class?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/pandas') pandas
  %a.xtag(href='/tags/machine_learning') machine_learning
  %a.xtag(href='/tags/sklearn') sklearn
  %a.xtag(href='/tags/scikit') scikit
  %a.xtag(href='/tags/scikit_learn') scikit_learn
  %a.xtag(href='/tags/sqlite') sqlite
  %a.xtag(href='/tags/sqlite3') sqlite3
  %a.xtag(href='/tags/bashrc') bashrc
  %a.xtag(href='/tags/bash') bash
  %a.xtag(href='/tags/numpy') numpy
  %a.xtag(href='/tags/gbrt') gbrt
  %a.xtag(href='/tags/knn') knn
  %a.xtag(href='/tags/hacker_dojo') hacker_dojo
  %a.xtag(href='/tags/meetup') meetup

%br/

The instructions for my Pandas101 class are on Github:

%br/
%br/

%a(href='https://github.com/danbikle/pd101' target='x')
  https://github.com/danbikle/pd101

%br/

