.q1 Question:
.q2 What are the Python Preso Questions? 
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/numpy') numpy
  %a.xtag(href='/tags/pandas') pandas
  %a.xtag(href='/tags/sklearn') sklearn
  %a.xtag(href='/tags/crontab') crontab
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/baypiggies') baypiggies
  %a.xtag(href='/tags/meetup') meetup
  %a.xtag(href='/tags/yahoo') yahoo
  %a.xtag(href='/tags/gspc') gspc
  %a.xtag(href='/tags/spy') spy
  %a.xtag(href='/tags/pyspy') pyspy
  %a.xtag(href='/tags/herokuspy') herokuspy
  %a.xtag(href='/tags/ubuntu') ubuntu
  %a.xtag(href='/tags/virtualbox') virtualbox
  %a.xtag(href='/tags/stockmarket') stockmarket
  %a.xtag(href='/tags/ta_lib') ta_lib
  %a.xtag(href='/tags/configure') configure
  %a.xtag(href='/tags/make') make
  %a.xtag(href='/tags/wget') wget
  %a.xtag(href='/tags/curl') curl
  %a.xtag(href='/tags/anaconda') anaconda
  %a.xtag(href='/tags/python2') python2
  %a.xtag(href='/tags/python3') python3
  %a.xtag(href='/tags/bash') bash
  %a.xtag(href='/tags/pip') pip
  %a.xtag(href='/tags/conda') conda
  %a.xtag(href='/tags/feature') feature
  %a.xtag(href='/tags/accuracy') accuracy
  %a.xtag(href='/tags/effectiveness') effectiveness
  %a.xtag(href='/tags/png') png
  %a.xtag(href='/tags/positive') positive
  %a.xtag(href='/tags/negative') negative
  %a.xtag(href='/tags/list') list
  %a.xtag(href='/tags/array') array
  %a.xtag(href='/tags/dataframe') dataframe
  %a.xtag(href='/tags/linear_model') linear_model
  %a.xtag(href='/tags/comprehension') comprehension
  %a.xtag(href='/tags/moving_average') moving_average
  %a.xtag(href='/tags/pdb') pdb
  %a.xtag(href='/tags/debugger') debugger
  %a.xtag(href='/tags/import') import
  %a.xtag(href='/tags/predicate') predicate
  %a.xtag(href='/tags/logistic_regression') logistic_regression
  %a.xtag(href='/tags/linear_regression') linear_regression
  %a.xtag(href='/tags/classification') classification
  %a.xtag(href='/tags/regression') regression
  %a.xtag(href='/tags/fit') fit
  %a.xtag(href='/tags/lrmodel') lrmodel
  %a.xtag(href='/tags/label') label
  %a.xtag(href='/tags/matplotlib') matplotlib
  %a.xtag(href='/tags/django') django
  %a.xtag(href='/tags/template') template
  %a.xtag(href='/tags/concatenate') concatenate
  %a.xtag(href='/tags/pyplot') pyplot
  %a.xtag(href='/tags/gemfile') gemfile

%br/

These questions are part of a presentation at a Meetup:

%br/
%br/

%a(href='/posts/python_preso') python_preso

%br/
%br/

%a(href='http://www.meetup.com/BAyPIGgies/events/228208164' target='x')
  http://www.meetup.com/BAyPIGgies/events/228208164

%h2 Questions:

%pre
  =render 'python_preso_questions1'
