.q1 Question:
.q2 In Python how to better understand NumPy?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/string') string
  %a.xtag(href='/tags/numpy') numpy
  %a.xtag(href='/tags/pandas') pandas
  %a.xtag(href='/tags/scikit') scikit
  %a.xtag(href='/tags/scikit_learn') scikit_learn
  %a.xtag(href='/tags/meetup') meetup
  %a.xtag(href='/tags/anaconda') anaconda
  %a.xtag(href='/tags/anaconda3') anaconda3
  %a.xtag(href='/tags/pdb') pdb
  %a.xtag(href='/tags/gspc') gspc
  %a.xtag(href='/tags/subprocess') subprocess
  %a.xtag(href='/tags/subprocess_call') subprocess_call
  %a.xtag(href='/tags/wget') wget
  %a.xtag(href='/tags/output_document') output_document
  %a.xtag(href='/tags/yahoo') yahoo
  %a.xtag(href='/tags/pd') pd
  %a.xtag(href='/tags/np') np
  %a.xtag(href='/tags/read_csv') read_csv
  %a.xtag(href='/tags/dataframe') dataframe
  %a.xtag(href='/tags/neighbor') neighbor
  %a.xtag(href='/tags/leadprice') leadprice
  %a.xtag(href='/tags/cplag1') cplag1
  %a.xtag(href='/tags/array_arithmetic') array_arithmetic
  %a.xtag(href='/tags/np_array') np_array
  %a.xtag(href='/tags/cplead') cplead
  %a.xtag(href='/tags/pctlead') pctlead
  %a.xtag(href='/tags/pctlag1') pctlag1
  %a.xtag(href='/tags/to_csv') to_csv
  %a.xtag(href='/tags/numpy101') numpy101
  %a.xtag(href='/tags/numpy102') numpy102
  %a.xtag(href='/tags/colon_comma_colon') colon_comma_colon
  %a.xtag(href='/tags/predicate') predicate
  %a.xtag(href='/tags/row_predicate') row_predicate
  %a.xtag(href='/tags/dot_values') dot_values
  %a.xtag(href='/tags/values') values
  %a.xtag(href='/tags/gradientboostingregressor') gradientboostingregressor
  %a.xtag(href='/tags/fit') fit
  %a.xtag(href='/tags/predict') predict

%br/

In my Machine Learning class I want to teach NumPy to my students.
%br/
%br/

Perhaps this page will help:

%pre
  =render 'python_numpy_understand'

%br/
