.q1 Question:
.q2 Quantiacs On Linux Lesson 1?
.tags
  %span.tagtag Tags:
  .tag quantiacs
  .tag linux
  .tag ubuntu
  .tag python
  .tag anaconda
  %a.xtag(href='/tags/unzip') unzip
%br/

Quantiacs is a startup which helps me use Data Science to invest in markets.

%br/
%br/

How to get started with Quantiacs on Linux?

%br/
%br/

Under construction

%br/
%br/
