.q1 Question:
.q2 In R how to load rda file?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/r') r
  %a.xtag(href='/tags/rda') rda
  %a.xtag(href='/tags/install') install
  %a.xtag(href='/tags/packages') packages
  %a.xtag(href='/tags/mlbench') mlbench
  %a.xtag(href='/tags/cran') cran
  %a.xtag(href='/tags/breastcancer') breastcancer
  %a.xtag(href='/tags/library') library
  %a.xtag(href='/tags/head') head

%br/

I just encountered a blog which loaded some Breast Cancer data into R.
%br/
%br/

The blogger failed to describe the steps.
%br/
%br/

I figured out how to load the data.
%br/
%br/

I start R with the R command:
%br/
%br/

R

%br/
%br/

I install the package:
%pre
  %code.r install.packages("mlbench", repos="http://cran.us.r-project.org")

I library the package:

%pre
  %code.r library(mlbench)

Then I type in 3 lines of syntax:

%pre
  %code.r
    bPath = system.file("data", "BreastCancer.rda", package="mlbench")
    load(bPath)
    head(BreastCancer)

I should see this:
%pre
  =render 'r_load_rda'

%br/
