
.q1 Question:
.q2 On Heroku/Rails how do I implement sqlite3?
.tags
  %span.tagtag Tags:
  %a(href='/tags/heroku') heroku
  .tag sqlite3
  .tag rails
  .tag read_only
  .tag active_record

By default, Heroku does not support my use of the sqlite3 gem when I deploy Rails applications there.

