.q1 Question:
.q2 How to get started with Capybara-Selenium on Rails?
.tags
  %span.tagtag Tags:
  .tag capybara
  .tag selenium
  .tag rails
  .tag ruby
  .tag rspec
  .tag feature
%br/

I use this post to get students started with using Capybara-Selenium to run
RSpec feature tests on Rails.

%br/
%br/


%br/
%br/


%br/
%br/


%br/
%br/


%br/
%br/


%br/
%br/

