.q1 Question:
.q2 How do I highlight Python syntax inside an HTML code-element served by a Rails application?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/rails') rails
  %a.xtag(href='/tags/javascript') javascript
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/highlight') highlight
  %a.xtag(href='/tags/pre_code') pre_code

%br/
Recently I encountered a use-case where I wanted to highlight Python syntax inside a blog post.
%br/
%br/

The website was being served by Rails.
%br/
%br/

I searched on google and found a JavaScript library named highlight.js:
%br/
%br/

%a(href='https://highlightjs.org' target='x')
  https://highlightjs.org

%br/
%br/
I read the directions there and then added some syntax to my Rails layout file:
%br/

%pre
  =render 'rails_highlight_pre_code_syntax1'

%br/
I then placed the Python syntax in a pre-code element:
%br/
%pre
  =render 'rails_highlight_pre_code_syntax2'

%br/
And I looked at it with my browser.
%br/
%br/

In my browser, the Python syntax looks like this:
%br/

%pre
  =render 'rails_highlight_pre_code_syntax3'

I am pleased with highlight.js and think it is a good general purpose syntax highlighting library.
