.q1 Question:
.q2 In Rails 4.x how do I step through Ruby code using a debugger?
.tags
  %span.tagtag Tags:
  %a(href='/tags/rails')    Rails
  %a(href='/tags/ruby')     Ruby
  %a(href='/tags/debugger') Debugger
  %a(href='/tags/rubygems') Rubygems

Rubygems offers a gem called debugger.

When I create a new rails project I should see the debugger gem listed in the Gemfile.

Although the debugger entry is commented out, 
I consider that entry to be evidence 
that the debugger should behave properly 
when I want to use it 
to step through Ruby syntax in my Rails app.

