.q1 Question:
.q2 In Rails/Heroku how do I access read-only sqlite db?
.tags
  %span.tagtag Tags:
  %a(href='/tags/rails') rails
  .tag sqlite
  .tag sqlite3
  .tag heroku
  .tag active_record

%br/
Recently I encountered a use-case where I wanted to access a read-only sqlite3 database file from a Rails application running on Heroku.

