.q1 Question:
.q2 How to get started with Capybara-Selenium on Rails?
.tags
  %span.tagtag Tags:
  .tag capybara
  .tag selenium
  .tag rails
  .tag ruby
  .tag rspec
  .tag feature
%br/

I use this post to get students started with using Capybara-Selenium to run
RSpec feature tests on Rails.

%br/
%br/

Some students ask an obvious question, "Why should I use Capybara-Selenium to run
RSpec feature tests on Rails?"

%br/
%br/

I usually answer with these responses:
%ul
  %li For small prototype applications, Capybara-Selenium are optimal.
  %li I can use Capybara-Selenium to test the JavaScript syntax in my Rails app.
  %li Watching a robotic browswer walk through my app gives me a sense of comfort.
  
%br/
%br/


%br/
%br/


%br/
%br/



%br/
%br/

