.q1 Question:
.q2 How to get started with Capybara-Selenium on Rails?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/capybara') capybara
  %a.xtag(href='/tags/selenium') selenium
  %a.xtag(href='/tags/rails') rails
  %a.xtag(href='/tags/ruby') ruby
  %a.xtag(href='/tags/rspec') rspec
  %a.xtag(href='/tags/feature') feature
%br/

I use this post to get students started with using Capybara-Selenium to run
RSpec feature tests on Rails.

%br/
%br/

Some students ask an obvious question, "Why should I use Capybara-Selenium to run
RSpec feature tests on Rails?"

%br/
%br/

I usually answer with these responses:
%ul
  %li For small Rails-prototype applications, Capybara-Selenium is optimal.
  %li I can use Capybara-Selenium to test the JavaScript syntax in my Rails app.
  %li Watching a robotic browser walk through my app gives me a sense of comfort.
  %li Capybara-Selenium tests all or most layers in my Rails app.
  %li Capybara-Selenium tests are a good place to start writing tests in my app.
  
%br/
%br/


%br/
%br/


%br/
%br/



%br/
%br/

