.q1 Question:
.q2 In Ruby how do I convert string to DateTime?
.tags
  %a.xtag(href='/tags/ruby') ruby
  %a.xtag(href='/tags/string') string
  %a.xtag(href='/tags/datetime') datetime
  %a.xtag(href='/tags/strptime') strptime

%br/

Let Ruby do the talking:
%pre
  =render 'ruby_datetime_strptime1'

%br/
