.q1 Question:
.q2 In Ruby how do I read data from CSV file?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/array') array
  %a.xtag(href='/tags/csv') csv
  %a.xtag(href='/tags/ruby') ruby
  %a.xtag(href='/tags/rails') rails
%br/

I am currently working on a use-case which reuires that I feed data from a CSV file into a chart served by D3.js
%br/
%br/
An early step in this process is to use Rails to read data from the CSV file.
%br/
%br/

The syntax below demonstrates the reading of data from a CSV file:

%pre
  %code.ruby
    require 'csv'
    rows4json = CSV.read("db/small.csv")
    p rows4json

%br/
%br/
