.q1 Question:
.q2 In Ruby how do I build a loop from a directory full of files?
.tags
  %span.tagtag Tags:
  %a(href='/tags/ruby') Ruby
  %a(href='/tags/dir')  Dir
  %a(href='/tags/loop') Loop
  %a(href='/tags/files')Files

%br/
Recently I encountered a use-case where I wanted to look inside all the files in a directory.

For each file I wanted to create a second file which contained some enhanced content.

A script which does this task has two parts.

The first part uses a Ruby class named Dir which can transform a directory into an enumerable object.

An enumerable object in Ruby fits well with looping scenarios.

The syntax below demonstrates how to build a loop from a directory full of files:

