.q1 Question:
.q2 How do I use Ruby to edit several files?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/ruby') ruby
  %a.xtag(href='/tags/edit_file') edit_file
  %a.xtag(href='/tags/sed') sed
  %a.xtag(href='/tags/write') write
  %a.xtag(href='/tags/file') file
  %a.xtag(href='/tags/open') open

%br/
Recently I encountered a use-case where I wanted to edit several hundred text files in a directory.  Also the logic driving each of the edits was complex.
%br/
%br/

Ruby is well suited for this type of task.
%br/
%br/

Usually sed is well suited for pragmatically editing many files but it lacks
the ability to respond to complex logic as well as Ruby can.
%br/
%br/

To demonstrate how to use Ruby to edit several files,
assume we have three files in /tmp/:

%pre
  =render 'ruby_edit_file1'

Next, I show a script which changes the domain name inside each file into an anchor tag which refers to the domain.

%pre
  =render 'ruby_edit_file2'

Here is the result:

%pre
  =render 'ruby_edit_file3'

Ruby is well suited for editing files in a way which depends on complex logic.
%br
%br

