.q1 Question:
.q2 In Ruby what does flatten() do?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/ruby') ruby
  %a.xtag(href='/tags/array') array
  %a.xtag(href='/tags/flatten') flatten

%br/
Flatten squashes nesting-structure out of an Array so it contains only elements and no other Arrays:

%pre
  =render 'ruby_flatten'

%br/



