
You are here:
%a(href='/posts/linux101_cclud') Linux101
>
%a(href='/posts/shell101') Shell 101
> shell101_loop
%hr/
%h1 Linux Shell 101

.q1 Question:
.q2 In Shell101 how to write Bash parent script?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/shell') shell
  %a.xtag(href='/tags/bash') bash

%br/

In Bash101 I should use a parent script to coordinate the child scripts:

%pre
  =render 'shell101_parent'

%br/
%hr/
You are here:
%a(href='/posts/linux101_cclud') Linux101
>
%a(href='/posts/shell101') Shell 101
> shell101_loop
%hr/
You can ask questions in Dan's Machine Learning Class Forum:
%br/
%a(href='https://groups.google.com/forum/#!forum/dan101' target='x')
  https://groups.google.com/forum/#!forum/dan101
%br/
