
You are here:
%a(href='/posts/linux101_cclud') Linux101
>
%a(href='/posts/shell101') Shell 101
> shell101_loop
%hr/
%h1 Linux Shell 101

.q1 Question:
.q2 In Shell101 how to write Bash for-loop?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/shell') shell
  %a.xtag(href='/tags/bash') bash
  %a.xtag(href='/tags/wget') wget
  %a.xtag(href='/tags/yahoo') yahoo
  %a.xtag(href='/tags/csv') csv
  %a.xtag(href='/tags/gspc') gspc
  %a.xtag(href='/tags/sp500') sp500
  %a.xtag(href='/tags/spy') spy
  .tag for
  .tag loop
  .tag for_loop
  .tag sed
  .tag backticks
  .tag backquotes
  .tag declare
  .tag integer
  .tag wc
  .tag do
  .tag done
  .tag head


%br/

I will expand the above question:

%br/
%br/

In Shell101 how to write Bash script which has a for-loop, integer variables, silent remove, and backquotes?

%br/
%br/

In this demo I want to use simple shell syntax to concatenate columns from two CSV files.

%pre
  =render 'shell101_loop'

When I run the above script I see this:


%pre
  =render 'shell101_loop2'

%br/
%br/

So, that is the fifth shell programming demo of shell101.
%br/
%br/


%br/
%hr/
You are here:
%a(href='/posts/linux101_cclud') Linux101
>
%a(href='/posts/shell101') Shell 101
> shell101_loop
%hr/
You can ask questions in Dan's Machine Learning Class Forum:
%br/
%a(href='https://groups.google.com/forum/#!forum/dan101' target='x')
  https://groups.google.com/forum/#!forum/dan101
%br/
