.q1 Question:
.q2 How to use ShellJS?
.tags
  %span.tagtag Tags:
  .tag npm
  .tag shelljs
  .tag lineman
  .tag grunt
  .tag gruntjs
  %a.xtag(href='/tags/nodejs') nodejs

%br/

I use Lineman to build websites.

%br/
%br/

It is a framework technology which depends on Node.js

%br/
%br/

An important component of Lineman is Grunt which offers a script driven administrative interface.

%br/
%br/

When I work with Grunt I often enhance it with a module named ShellJS.

%br/
%br/

ShellJS allows me to write Grunt tasks which can call shell commands.

%br/
%br/

%br/
%br/
