
You are here:
%a(href='/posts/linux101_cclud') Linux101
>
%a(href='/posts/shell101') Shell 101
> shell101_vi_bashrc
%hr/
%h1 Linux Shell 101

.q1 Question:
.q2 In Linux101 how to vi ~ann/.bashrc ?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  .tag shell
  .tag bash
  .tag vi
  .tag bashrc

%br/

After I create the ann account and then learn vi, how do I vi ~ann/.bashrc ?

%br/
%br/

First I login as ann with a command like this:

%pre
  %code.bash ssh ann@localhost

Then I type these shell commands:

%pre
  %code.bash
    mv .bashrc .bashrc.bak
    vi .bashrc

Inside of vi I press esc which should put me in CM1.

%br/
%br/

Then I press i which should put me in IM.

%br/
%br/

Then I copy paste in this text:

%pre
  =render 'shell101_vi_bashrc1'

I press esc which should put me in CM1.

%br/
%br/

I press ZZ which writes the file and then exits me from vi.

%br/
%br/

Congratulations to me.  I just wrote a shell program!

%br/
%br/

I check my work with this shell command:

%pre
  %code.bash cat .bashrc

%br/
%br/

%br/
%hr/
You are here:
%a(href='/posts/linux101_cclud') Linux101
>
%a(href='/posts/shell101') Shell 101
> shell101_vi
%hr/
You can ask questions in Dan's Machine Learning Class Forum:
%br/
%a(href='https://groups.google.com/forum/#!forum/dan101' target='x')
  https://groups.google.com/forum/#!forum/dan101
%br/
