
You are here:
%a(href='/posts/linux101_cclud') Linux101
>
%a(href='/posts/shell101') Shell 101
> shell101_paste_sqlite3
%hr/
%h1 Linux Shell 101

.q1 Question:
.q2 In Shell101 how to use paste and sqlite3?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/shell') shell
  %a.xtag(href='/tags/bash') bash
  %a.xtag(href='/tags/csv') csv
  %a.xtag(href='/tags/gspc') gspc
  %a.xtag(href='/tags/head') head
  %a.xtag(href='/tags/paste') paste
  %a.xtag(href='/tags/sqlite3') sqlite3
  %a.xtag(href='/tags/grep') grep
  %a.xtag(href='/tags/blank') blank
  %a.xtag(href='/tags/character_class') character_class

%br/

I will expand the above question:

%br/
%br/

In Shell101 how to write Bash script which vertically concatenates with paste and queries CSV file with sqlite3?

%br/
%br/

For each date I want today's pct-gain and I want tomorrow's pct-gain.

%br/
%br/

Does pct-gain tomorrow depend on pct-gain today?


%pre
  =render 'shell101_paste_sqlite31'

When I run the above script I see this:


%pre
  =render 'shell101_paste_sqlite32'

The above sqlite3 query tells me interesting facts about my data:
%ul
  %li The observations start in 1950
  %li They end in 2015
  %li I have over 16,000 observations
  %li The average 1-day-pct-gain is 0.034%
  %li On 1987-10-19 the market fell 20.5%
  %li On 2008-10-13 the market gained 11.6%
  %li Market jumps of more than 3% are not bearish
  %li My avg-gain is 12x higher after market falls of more than 3%

The last fact indicates that a machine could learn from price deltas.
%br/
%br/

So, that is the 7th shell programming demo of shell101.

%br/
%hr/
You are here:
%a(href='/posts/linux101_cclud') Linux101
>
%a(href='/posts/shell101') Shell 101
> shell101_paste_sqlite3
%hr/
You can ask questions in Dan's Machine Learning Class Forum:
%br/
%a(href='https://groups.google.com/forum/#!forum/dan101' target='x')
  https://groups.google.com/forum/#!forum/dan101
%br/
