
You are here:
%a(href='/posts/linux101_cclud') Linux101
> shell101
%hr/
%h1 Linux Shell 101


.q1 Question:
.q2 In Linux101 how to learn shell?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/shell') shell
  %a.xtag(href='/tags/bash') bash
  %a.xtag(href='/tags/bash_aliases') bash_aliases
  %a.xtag(href='/tags/bashrc') bashrc
  %a.xtag(href='/tags/user_add') user_add
  %a.xtag(href='/tags/user_del') user_del
  %a.xtag(href='/tags/ann') ann
  %a.xtag(href='/tags/export') export
  %a.xtag(href='/tags/path') path
  %a.xtag(href='/tags/tilde') tilde
  %a.xtag(href='/tags/bin') bin
  %a.xtag(href='/tags/home') home
  %a.xtag(href='/tags/if') if
  %a.xtag(href='/tags/then') then
  %a.xtag(href='/tags/fi') fi
  %a.xtag(href='/tags/environment') environment
  %a.xtag(href='/tags/variable') variable
  %a.xtag(href='/tags/ps1') ps1
  %a.xtag(href='/tags/dot') dot
  %a.xtag(href='/tags/hostname') hostname

%br/


The best way to learn shell programming is to ask questions and then understand the answers.

%br/
%br/

I start with a simple question:

%br/
%br/

%a(href='/posts/shell101_root' ) How to login as root?

%br/
%br/

More questions:

%br/
%br/

%a(href='/posts/shell101_useradd' ) How to useradd ann?

%br/
%br/

%a(href='/posts/shell101_vi' ) How to use vi editor?

%br/
%br/

%a(href='/posts/shell101_vi_bashrc' ) How to vi ~ann/.bashrc ?

%br/
%br/


%a(href='/posts/shell101_emacs' ) How to install and use Emacs ?

%br/
%br/

%a(href='/posts/shell101_vi_bash_aliases') In Shell101 why .bash_aliases ?

%br/
%br/

%a(href='/posts/shell101_wget') Shell101 how to wget Yahoo CSV?

%br/
%br/

%a(href='/posts/shell101_awk') Shell101 how to awk Yahoo CSV?

%br/
%br/

%a(href='/posts/shell101_loop') Shell101 how to write for-loop?

%br/
%br/

%a(href='/posts/shell101_whileloop') Shell101 how to write while-loop?

%br/
%br/

%a(href='/posts/shell101_paste_sqlite3') Shell101 how to use paste and sqlite3?

%br/
%br/

%a(href='/posts/shell101_parent') In Shell101 how to write Bash parent script?

%br/
%br/


%br/
%hr/
You are here:
%a(href='/posts/linux101_cclud') Linux101
> shell101
%hr/
You can ask questions in Dan's Machine Learning Class Forum:
%br/
%a(href='https://groups.google.com/forum/#!forum/dan101' target='x')
  https://groups.google.com/forum/#!forum/dan101
%br/
