
You are here:
%a(href='/posts/linux101_cclud') Linux101
>
%a(href='/posts/shell101') Shell 101
> shell101_emacs
%hr/
%h1 Linux Shell 101

.q1 Question:
.q2 In Linux101 how to install and use Emacs ?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  .tag shell
  .tag bash
  .tag vi
  .tag emacs

%br/

After I create the ann account and then learn vi, how to install and use Emacs editor ?

%br/
%br/

First I login as ann with a command like this:

%pre
  %code.bash ssh -YA ann@localhost

Then I type these shell commands:

%pre
  %code.bash
    sudo apt-get install emacs
    emacs hello.txt


%br/
%br/

If your Linux is setup well, you should see Emacs come up as a GUI editor.

%br/
%br/

If Emacs cannot figure out how to come up as a GUI editor, it will come up as a character-based editor.

%br/
%br/

I urge students to use the GUI editor if it is available and I advise them to stay away from Emacs
if the GUI editor is unavaillable.

%br/
%br/

For a character based editor, vi is a better choice than Emacs.

%br/
%br/

For a GUI editor, Emacs is best.

%br/
%br/


%br/
%br/

%br/
%hr/
You are here:
%a(href='/posts/linux101_cclud') Linux101
>
%a(href='/posts/shell101') Shell 101
> shell101_emacs
%hr/
You can ask questions in Dan's Machine Learning Class Forum:
%br/
%a(href='https://groups.google.com/forum/#!forum/dan101' target='x')
  https://groups.google.com/forum/#!forum/dan101
%br/
