.q1 Question:
.q2 How to use shelljs?
.tags
  %span.tagtag Tags:
  .tag npm
  %a.xtag(href='/tags/nodejs') nodejs

%br/

I use lineman to build websites.

%br/
%br/

It is a framework technology which depends on Node.js

%br/
%br/

%br/
%br/

%br/
%br/

%br/
%br/

%br/
%br/
