.q1 Question:
.q2 How to use ShellJS?
.tags
  %span.tagtag Tags:
  .tag npm
  .tag shelljs
  .tag lineman
  .tag grunt
  .tag gruntjs
  .tag haml
  .tag for
  %a.xtag(href='/tags/nodejs') nodejs

%br/

I use Lineman to build websites.

%br/
%br/

It is a framework technology which depends on Node.js

%br/
%br/

An important component of Lineman is Grunt which offers a script driven administrative interface.

%br/
%br/

When I work with Grunt I often enhance it with a module named ShellJS.

%br/
%br/

ShellJS allows me to write Grunt tasks which can call shell commands.

%br/
%br/

An example of a shell script I call from Grunt is displayed below:

%pre
  =render 'shelljs_howto1'

To call the above shell-script,
I add syntax to a file to the tasks folder of my lineman app:

%pre
  =render 'shelljs_howto2'

Also I add syntax to config/application.coffee:

%pre
  =render 'shelljs_howto3'

The above syntax ensures that Grunt will call haml.bash at appropriate times as I enhance my Lineman app.

%br/
%br/

A simple post which describes installation of haml is listed below:

%br/
%br/

%a(href='/posts/ruby_gem_home_gem_path') ruby_gem_home_gem_path

%br/
%br/

I learned how to write synax for 
tasks/haml_bash.coffee
by studying this content:

%br/
%br/

%a(href='http://gruntjs.com/creating-tasks' target='x')
  http://gruntjs.com/creating-tasks


I learned how to write synax for 
config/application.coffee
by studying this content:

%br/
%br/

