
You are here:
%a(href='/posts/linux101_cclud') Linux101
>
%a(href='/posts/shell101') Shell 101
> shell101_awk
%hr/
%h1 Linux Shell 101

.q1 Question:
.q2 In Shell101 how to awk Yahoo CSV?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/shell') shell
  %a.xtag(href='/tags/bash') bash
  %a.xtag(href='/tags/wget') wget
  %a.xtag(href='/tags/yahoo') yahoo
  %a.xtag(href='/tags/csv') csv
  %a.xtag(href='/tags/gspc') gspc
  %a.xtag(href='/tags/sp500') sp500
  %a.xtag(href='/tags/spy') spy
  .tag awk

%br/

To do Machine Learning on Linux I need to process the data I get from Yahoo.

%br/
%br/

A common tool for CSV files in shell programming is awk.

%br/
%br/

In this demo I want to use awk to remove columns from the GSPC.csv file:

%pre
  =render 'shell101_awk1'

When I run the above script I see this:


%pre
  =render 'shell101_awk2'

%br/
%br/

So, that is the fourth shell programming demo of shell101.
%br/
%br/


%br/
%hr/
You are here:
%a(href='/posts/linux101_cclud') Linux101
>
%a(href='/posts/shell101') Shell 101
> shell101_awk
%hr/
You can ask questions in Dan's Machine Learning Class Forum:
%br/
%a(href='https://groups.google.com/forum/#!forum/dan101' target='x')
  https://groups.google.com/forum/#!forum/dan101
%br/
