
You are here:
%a(href='/posts/linux101_cclud') Linux101
>
%a(href='/posts/shell101') Shell 101
> shell101_emacs
%hr/
%h1 Linux Shell 101

.q1 Question:
.q2 In Linux101 how to install and use Emacs?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  .tag shell
  .tag bash
  .tag vi
  .tag emacs

%br/

After I create the ann account and then learn vi, how to install and use Emacs editor ?

%br/
%br/

First I login as ann with a command like this:

%pre
  %code.bash ssh -YA ann@localhost

Or I just login to the ann account at the desktop GUI.

Then I type these shell commands:

%pre
  %code.bash
    sudo apt-get install emacs
    emacs hello.txt

If your Linux is setup well, you should see Emacs come up as a GUI editor.

%br/
%br/

If Emacs cannot figure out how to come up as a GUI editor, it will come up as a character-based editor.

%br/
%br/

I urge students to use the GUI editor if it is available and I advise them to stay away from Emacs
if the GUI editor is unavailable.

%br/
%br/

For a character based editor, vi is a better choice than Emacs.

%br/
%br/

For a GUI editor, Emacs is best and it is easy to use.

%br/
%br/

When Emacs comes up I just start typing into it and my text goes into the file I want to edit.
In this case the file is hello.txt

%br/
%br/

When I am done, I just use my mouse on the top-menu to save.

%br/
%br/

It is much easier than vi. I do not need to memorize commands or know what mode I am in.

%br/
%br/

One thing I notice about people who use Emacs is they leave it open.

%br/
%br/

Usually with vi and other editors, I open, edit, save, and then close.

%br/
%br/

With Emacs I open, edit, save, and leave it open.

%br/
%br/

Emacs offers three features in addition to file-edit which encourage me to leave it open.

%br/
%br/

First, I can run a shell in Emacs and I can name the shell.
If I have 17 shells open, I want them to be named and I want them displayed in a list of shells.
Emacs does this feature very well.

%br/
%br/

Second, I use Emacs to operate on folders.
The folder-UI in Emacs is superior to any folder-UI I have seen.

%br/
%br/

The way I operate Emacs is to stay in a tight triangle where I
bounce between the three points: file-editor, folder-editor, and shell.

%br/
%br/

Shell programming without emacs is a chore.
It feels like I am juggling three types of windows.
When I move between window types it feels slow and mentally taxing.

%br/
%br/

Emacs offers another feature which speeds development.  I run Emacs in GUI mode on my laptop and
use it to edit files on Linux running on Amazon or other remote places.

%br/
%br/

This feature frees me from the chore of using vi on remote Linux instances.

%br/
%br/

Usually after I have Emacs up for a week it will contain hundreds of open files, folders, shells, and connections.

%br/
%br/

It is easy to bounce between any of them with a simple Emacs search mechanism.

%br/
%br/

If I tried doing the same thing with desktop windows I'd end up with a giant mess.

%br/
%br/

Sometimes I see a developer get lost and then distracted while searching for a window in a pile of 20 windows.

%br/
%br/

When I see this I am always tempted to say, 'You need to learn Emacs.'

%br/
%br/

The best way to learn Emacs is to start using it to write software.

%br/
%br/

When I want to learn a new Emacs feature, I describe the feature with an English question and then ask Google.

%br/
%br/

For example, 'How to send a command to Emacs?'

%br/
%br/

Answer: esc-x

%br/
%br/

If I know an Emacs command, do I need to type in the full name?

%br/
%br/

Answer: No, just some of it and then press tab.

%br/
%br/

How to start a Shell in Emacs?

%br/
%br/

Answer: esc-x shell

%br/
%br/

How to see a list of Emacs buffers?

%br/
%br/

Answer: esc-x buffer-menu

%br/
%br/

How to pick a buffer?

%br/
%br/

Answer: Move cursor to it, press return.

%br/
%br/

How to pick a file in a folder?

%br/
%br/

Answer: Move cursor to it, press return.

%br/
%br/

How to name a shell?

%br/
%br/

Answer: esc-x rename-buffer

%br/
%br/

Should I ignore most of the menu items?

%br/
%br/

Answer: Yes!, Just use the obvious items like Save, Undo, Copy, Paste, and Search.

%br/
%br/

How to open file on other host named bobcat?

%br/
%br/

Answer: 
%br/
If I can ssh to bobcat, this should work:
%br/
esc-x find-file, enter, //bobcat:/home/ann/hello.txt

%br/
%br/

Where is the Emacs tutorial?

%br/
%br/

Answer: Click 'Help' in the top menu.

%br/
%br/

What should I put in my ~/.emacs file?

%br/
%br/

Answer: I like this syntax:

%pre
  =render 'shell101_emacs'
%br/
%br/

%br/
%hr/
You are here:
%a(href='/posts/linux101_cclud') Linux101
>
%a(href='/posts/shell101') Shell 101
> shell101_emacs
%hr/
You can ask questions in Dan's Machine Learning Class Forum:
%br/
%a(href='https://groups.google.com/forum/#!forum/dan101' target='x')
  https://groups.google.com/forum/#!forum/dan101
%br/
