
You are here:
%a(href='/posts/linux101_cclud') Linux101
>
%a(href='/posts/shell101') Shell 101
> shell101_root
%hr/
%h1 Linux Shell 101

.q1 Question:
.q2 In Linux101 how to login as root?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/shell') shell
  %a.xtag(href='/tags/bash') bash
  %a.xtag(href='/tags/root') root
  %a.xtag(href='/tags/su') su
  %a.xtag(href='/tags/sudo') sudo
  %a.xtag(href='/tags/install') install
  %a.xtag(href='/tags/installation') installation
  %a.xtag(href='/tags/password') password
  %a.xtag(href='/tags/localhost') localhost


%br/

I know 3 ways to login as root.

%pre
  %code.bash sudo bash

or

%pre
  %code.bash su

or

%pre
  %code.bash ssh root@localhost

If none of those attempts work, I install a new instance of Linux.

%br/
%br/

During the install, Linux will setup an account for me and ask me to set a password.

%br/
%br/

When installation is done, I should be able to login as root with this command:

%pre
  %code.bash sudo bash



%br/
%hr/
You are here:
%a(href='/posts/linux101_cclud') Linux101
>
%a(href='/posts/shell101') Shell 101
> shell101_root
%hr/
You can ask questions in Dan's Machine Learning Class Forum:
%br/
%a(href='https://groups.google.com/forum/#!forum/dan101' target='x')
  https://groups.google.com/forum/#!forum/dan101
%br/
