
You are here:
%a(href='/posts/linux101_cclud') Linux101
>
%a(href='/posts/shell101') Shell 101
> shell101_wget
%hr/
%h1 Linux Shell 101

.q1 Question:
.q2 In Shell101 how to wget Yahoo CSV?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/shell') shell
  %a.xtag(href='/tags/bash') bash
  .tag wget
  .tag yahoo
  .tag csv
  .tag gspc
  .tag sp500
  .tag spy

%br/

To do Machine Learning on Linux I need to wget some data from Yahoo.

%br/
%br/

The data I like is a CSV file full of prices for the S and P 500 going back to 1950.

%br/
%br/

I used Emacs to build a simple Bash script to wget the data I want:

%pre
  =render 'shell101_wget1'

%br/
%br/

I ran the script and I saw this:

%pre
  =render 'shell101_wget2'


So, that is the third shell programming demo of shell101.
%br/
%br/


%br/
%hr/
You are here:
%a(href='/posts/linux101_cclud') Linux101
>
%a(href='/posts/shell101') Shell 101
> shell101_wget
%hr/
You can ask questions in Dan's Machine Learning Class Forum:
%br/
%a(href='https://groups.google.com/forum/#!forum/dan101' target='x')
  https://groups.google.com/forum/#!forum/dan101
%br/
