
You are here:
%a(href='/posts/linux101_cclud') Linux101
> shell101
%hr/
%h1 Linux Shell 101


.q1 Question:
.q2 In Linux101 how to learn shell?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  .tag shell
  .tag bash
  .tag bash_aliases
  .tag bashrc
  .tag user_add
  .tag user_del
  .tag ann
  .tag shell
  .tag shell
  .tag shell
  .tag shell

%br/


The best way to learn shell programming is to ask questions and then understand the answers.

%br/
%br/

I start with a simple question:

%br/
%br/

%a(href='/posts/shell101_root' ) How to login as root?

%br/
%br/

More questions:

%br/
%br/

%a(href='/posts/shell101_useradd' ) How to useradd ann?

%br/
%br/

%a(href='/posts/shell101_vi' ) How to use vi editor?

%br/
%br/

%a(href='/posts/shell101_vi_bashrc' ) How to vi ~ann/.bashrc ?

%br/
%br/




%br/
%hr/
You are here:
%a(href='/posts/linux101_cclud') Linux101
> shell101
%hr/
You can ask questions in Dan's Machine Learning Class Forum:
%br/
%a(href='https://groups.google.com/forum/#!forum/dan101' target='x')
  https://groups.google.com/forum/#!forum/dan101
%br/
