.q1 Question:
.q2 In Spark what does flatmap do?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/spark') spark
  %a.xtag(href='/tags/flatmap') flatmap
  %a.xtag(href='/tags/map') map
  %a.xtag(href='/tags/sc') sc
  %a.xtag(href='/tags/list') list
  %a.xtag(href='/tags/rdd') rdd
  %a.xtag(href='/tags/take') take
  %a.xtag(href='/tags/parallelize') parallelize
  %a.xtag(href='/tags/ruby') ruby
  %a.xtag(href='/tags/array') array
  %a.xtag(href='/tags/flatten') flatten

%br/
At the URL below I noticed a call to flatmap() and became curious about what it does:
%br/
%br/

%a(href='http://spark.apache.org/docs/1.2.0/quick-start.html#more-on-rdd-operations' target='x')
  http://spark.apache.org/docs/1.2.0/quick-start.html#more-on-rdd-operations

%br/
%br/

I interacted with it a bit inside of a bin/pyspark session:

%pre
  =render 'spark_flatmap'

%br/



