.q1 Question:
.q2 In Apache Spark what is SchemaRDD?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/apache') apache
  %a.xtag(href='/tags/spark') spark
  %a.xtag(href='/tags/rdd') rdd
  %a.xtag(href='/tags/sparkcontext') sparkcontext
  %a.xtag(href='/tags/sc') sc
  %a.xtag(href='/tags/resilient') resilient
  %a.xtag(href='/tags/distributed') distributed
  %a.xtag(href='/tags/dataset') dataset
  .tag schemardd
  .tag sql
  .tag sqlcontext

%br/

%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/


