.q1 Question:
.q2 In Apache Spark what is SchemaRDD?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/apache') apache
  %a.xtag(href='/tags/spark') spark
  %a.xtag(href='/tags/rdd') rdd
  %a.xtag(href='/tags/sparkcontext') sparkcontext
  %a.xtag(href='/tags/sc') sc
  %a.xtag(href='/tags/resilient') resilient
  %a.xtag(href='/tags/distributed') distributed
  %a.xtag(href='/tags/dataset') dataset
  %a.xtag(href='/tags/schemardd') schemardd
  %a.xtag(href='/tags/sql') sql
  %a.xtag(href='/tags/sqlcontext') sqlcontext

%br/

I learned about SchemaRDD at the URL below:


%br/
%br/

%a(href='http://spark.apache.org/docs/1.2.1/sql-programming-guide.html' target='x')
  http://spark.apache.org/docs/1.2.1/sql-programming-guide.html

%br/
%br/

I installed Spark 1.2.1 on my laptop in my home folder:

%pre
  =render 'spark_schemardd1'

I have not found a way to step through a Scala script with a debugger.

%br/
%br/

So, I just used my mouse to copy/paste syntax into the bin/spark-shell prompt:

%pre
  =render 'spark_schemardd2'


%br/
%br/
%br/
%br/
%br/
%br/
%br/


