.q1 Question:
.q2 In Apache Spark what is RDD?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/apache') apache
  %a.xtag(href='/tags/spark') spark
  %a.xtag(href='/tags/rdd') rdd
  %a.xtag(href='/tags/scala') scala
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/java') java
  %a.xtag(href='/tags/collection') collection
  %a.xtag(href='/tags/parallelize') parallelize
  %a.xtag(href='/tags/sparkcontext') sparkcontext
  %a.xtag(href='/tags/sc') sc
  %a.xtag(href='/tags/resilient') resilient
  %a.xtag(href='/tags/distributed') distributed
  %a.xtag(href='/tags/dataset') dataset
  %a.xtag(href='/tags/acronym') acronym
  %a.xtag(href='/tags/hdfs') hdfs
  %a.xtag(href='/tags/hbase') hbase
  %a.xtag(href='/tags/hadoop') hadoop
  %a.xtag(href='/tags/inputformat') inputformat
  %a.xtag(href='/tags/reduce') reduce
  %a.xtag(href='/tags/lambda') lambda
  %a.xtag(href='/tags/partition') partition


%br/
Early in my study of Spark I encountered the acronym: 'RDD'.
%br/
%br/
RDD comes from 'Resilient Distributed Dataset'.
%br/
%br/
To run a Spark calculation on some data I need to spice up the data so Spark will want to eat it.
%br/
%br/
In Python, seasoning is done with two lines of code:
%pre
  =render 'spark_whatis_rdd'
%br/

