
.q1 Question:
.q2 In Spark how to foreach a sequence?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/spark') spark
  %a.xtag(href='/tags/foreach') foreach
  %a.xtag(href='/tags/sequence') sequence
  %a.xtag(href='/tags/println') println
  %a.xtag(href='/tags/scala') scala
  %a.xtag(href='/tags/loop') loop

%br/

Let the syntax foreach a sequence:

%pre
  %code.scala 
    scala> 
    scala> 
    scala> (1 to 5).foreach(jj => println(jj))
    1
    2
    3
    4
    5
    scala> 
    scala> 
    scala> 

%br/
