%h1 hi

:ruby
  mydf = "#{Rails.root}/public/mydata.csv"
  require 'csv'
  longjson = []
  CSV.read(mydf).each{|row| longjson<< row if row[0]=~/2014-12/}
  longjson = longjson.map{|row| [DateTime.strptime(row[0],'%Y-%m-%d'),row[4]]}
  longjson = longjson.map{|row| {:x=>row[0].strftime('%s').to_i, :y=>row[1].to_f}}
  longjson = longjson.sort_by{|hsh| hsh[:x]}
  miny      = longjson.map{|row| row[:y]}.min
  maxy      = longjson.map{|row| row[:y]}.max
  longjson = longjson.to_s.gsub(/:x/,'x').gsub(/:y/,'y').gsub(/=>/,':')
  sdf = "#{Rails.root}/public/spy611.csv"
  myrows = []
  pjson = []
  CSV.read(sdf).each{|row| myrows << row if row[1]=~/2014-12/}
  myrows.each{|row| pjson << row if (row[0] == 'lr')}
=debug pjson
  

:css
  #tr2td1 {background-color: #CCCCCC; min-width: 800px;}
  #chart_container {
          margin-top: 21px;
          position: relative;
          font-family: Arial, Helvetica, sans-serif;
  }
  #chart {
          position: relative;
          left: 40px;
          background-color: white;
          width: 600px;
  }
  #chart_y_axis {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 40px;
  }

#chart_container
  #chart_y_axis
  #chart

:javascript
  var longonly_json = #{longjson} ;
  var graph = new Rickshaw.Graph( {
    element: document.querySelector("#chart"),
    min: #{miny},
    max: 2200,
    renderer: 'line',
    interpolation: 'linear',
    width: 600,
    height: 400,
    min: 1800,
    series: [{color: 'blue',data: longonly_json}]
  });
  var x_axis = new Rickshaw.Graph.Axis.Time( { graph: graph } );
  var chart_y_axis = new Rickshaw.Graph.Axis.Y( {
    graph: graph,
    orientation: 'left',
    element: document.getElementById('chart_y_axis'),
  } );
  graph.render();

