.q1 Question:
.q2 How to install TensorFlow linked with Cuda 7.5 on Ubuntu 14.04?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/anaconda') anaconda
  %a.xtag(href='/tags/cp34') cp34
  %a.xtag(href='/tags/cuda') cuda
  %a.xtag(href='/tags/googleapis') googleapis
  %a.xtag(href='/tags/gpu') gpu
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/machine_learning') machine_learning
  %a.xtag(href='/tags/nvidia') nvidia
  %a.xtag(href='/tags/pip') pip
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/tensorflow') tensorflow
  %a.xtag(href='/tags/ubuntu') ubuntu

%br/
