.q1 Question:
.q2 How to install TensorFlow 0.6.0 on Ubuntu 14.04 running Python 3.4 via Anaconda3-2.3.0?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/tensorflow') tensorflow
  %a.xtag(href='/tags/python') python
  %a.xtag(href='/tags/anaconda') anaconda
  %a.xtag(href='/tags/ubuntu') ubuntu
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/pip') pip
  %a.xtag(href='/tags/cp34') cp34
  %a.xtag(href='/tags/googleapis') googleapis
  %a.xtag(href='/tags/machine_learning') machine_learning


%br/

I just finished setting up a TensorFlow training environment on my Ubuntu laptop.

%br/
%br/

It is easy to do but required some detective work.  The proper way to
install packages into an Anaconda deployment is to use a utility named
conda.  I could not get conda to install TensorFlow.  Another issue I
bumped into was finding the right version of Anaconda matched to the
right version of the TensorFlow whl file.  The Google TensorFlow docs
showed how to install 0.5.0 on a vanilla install of Python 2.7 which
is not what I wanted.

%br/
%br/

It boils down to the shell commands listed below:

%pre
  =render 'tensorflow060Python34a'

I ran the above commands and captured some of the output

%pre
  =render 'tensorflow060Python34b'

Next I will follow the content here:

%br/
%br/

%a(href='https://www.tensorflow.org/versions/0.6.0/tutorials/index.html' target='x')
  https://www.tensorflow.org/versions/0.6.0/tutorials/index.html

%br/
%br/


