.q1 Question:
.q2 How to install TensorFlow 0.6.0 on Ubuntu 14.04 running Python 3.4 via Anaconda3-2.3.0?
.tags
  %span.tagtag Tags:
  .tag tensorflow
  .tag python
  .tag anaconda
  .tag ubuntu
  .tag linux
  .tag pip
  .tag cp34
  .tag googleapis


%br/

I just finished setting up a TensorFlow training environment on my Ubuntu laptop.

%br/
%br/

It is easy to do but required some detective work.

%br/
%br/

It boils down to the shell commands listed below:

%pre
  =render 'tensorflow060Python34a'

I ran the above commands and captured some of the output

%pre
  =render 'tensorflow060Python34b'

Next I will follow the content here:

%a(href='https://www.tensorflow.org/versions/0.6.0/tutorials/index.html' target='x')
  https://www.tensorflow.org/versions/0.6.0/tutorials/index.html

%br/
%br/


