.q1 Question:
.q2 How to Start With VirtualBox, Linux, Python?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/python') python

%br/

This was/is/will-be a presentation at a Meetup:

%br/
%br/

%a(href='http://www.meetup.com/Palo-Alto-Data-Science-Association/events/229431222' target='x')
  http://www.meetup.com/Palo-Alto-Data-Science-Association/events/229431222

%br/
%br/

The above question leads to another set of questions:

%br/
%br/

What kind of laptop do you have?

%br/
%br/

If you have a Mac, your laptop is well suited for learning VirtualBox, Linux on VirtualBox, and Python on Linux.

%br/
%br/

If you have a windows laptop you should ask, is it okay if VirtualBox breaks my laptop?

%br/
%br/

When you install VirtualBox on a windows laptop, you face a small risk of breaking your laptop so it will not boot.

%br/
%br/

If you want to face this risk, then it is okay to install VirtualBox on your windows laptop.

%br/
%br/

If you do not want this risk, put your windows laptop in a safe place and then do one of two things:
%ul
  %li Buy a Mac laptop, or,
  %li Buy a windows laptop from a store which will refund your money if VirtualBox breaks the laptop

%br/
%br/

Stores which behave well are: Costco, Walmart, and Bestbuy.

%br/
%br/

Most other stores/websites do not behave well.

%br/
%br/

%br/
%br/


%br/
%br/

%br/
%br/

%br/
%br/




