.q1 Question:
.q2 How to Start With VirtualBox, Linux, Python?
.tags
  %span.tagtag Tags:
  %a.xtag(href='/tags/linux') linux
  %a.xtag(href='/tags/python') python

%br/

This was/is/will-be a presentation at a Meetup:

%br/
%br/

%a(href='http://www.meetup.com/Palo-Alto-Data-Science-Association/events/229431222' target='x')
  http://www.meetup.com/Palo-Alto-Data-Science-Association/events/229431222

%br/
%br/

%h3 Start With VirtualBox 

What kind of laptop do you have?

%br/
%br/

If you have a Mac, your laptop is well suited for learning VirtualBox, Linux on VirtualBox, and Python on Linux.

%br/
%br/

If you have a windows laptop you should ask, is it okay if VirtualBox breaks my laptop?

%br/
%br/

When you install VirtualBox on a windows laptop, you face a small risk of breaking your laptop so it will not boot.

%br/
%br/

If you want to face this risk, then it is okay to install VirtualBox on your windows laptop.

%br/
%br/

If you do not want this risk, put your windows laptop in a safe place and then do one of two things:
%ul
  %li Buy a Mac laptop, or,
  %li Buy a windows laptop from a store which will refund your money if VirtualBox breaks the laptop

Stores which behave well are: Costco, Walmart, and Bestbuy.

%br/
%br/

Most other stores/websites do not behave well.

%br/
%br/

After you get a laptop suitable for VirtualBox, you need to enable virtualization.

%br/
%br/

On Mac this easy. Apple does it for you at the factory.

%br/
%br/

On windows this is not easy.

%br/
%br/

The best method is to go to 
%a(href='youtube.com' target='x')
  youtube.com
and search for: On Windows how to enable virtualization?

%br/
%br/

Each type of windows laptop is different so I cannot give exact directions on how to do this.

%br/
%br/

If you have a new windows laptop from Costco, maybe you have a friend who knows how to get into the BIOS of the laptop and then enable virtualization.

%br/
%br/

If your friend breaks your new laptop, return it for a refund.

%br/
%br/

After you enable virtualization on your laptop, you should download virtualbox software:

%br/
%br/

%a(href='https://www.virtualbox.org/wiki/Downloads' target='x')
  https://www.virtualbox.org/wiki/Downloads

%br/
%br/

After the download, installation is easy. Just click the downloaded file and answer questions.

%br/
%br/

Next, you have a choice:

%ul
  %li Install Ubuntu 14.03 inside VirtualBox
  %li or,
  %li
    Download this file:
    %a(href='https://s3-us-west-2.amazonaws.com/tsds1/tsds0307b.ova' target='x')
      https://s3-us-west-2.amazonaws.com/tsds1/tsds0307b.ova
    and 'import' it

The first method is more difficult and thus more educational.  The best way to learn it is to watch someone do it via youtube video.
This will allow you to rewind and watch difficult sections until you understand it better.

%br/
%br/

The second method is easier; you just download the large file and then click on it.  VirtualBox should wake up and ask you simple questions.

%br/
%br/

After you install Linux and then start it, you should see a login screen.

%br/
%br/

I did that and saw this:

%br/

%img(src='/images/vbox_linux_python1.png')
%br/
The password should be: 'd'
%br/

%h3 Linux

After I entered the password, Linux displayed screen called the Desktop.

%br/
%br/

On the lefthand side are a set of icons which is called the 'Launcher':

%br/
%img(src='/images/vbox_linux_python2.png')
%br/
%br/

At the top of the Launcer is an icon I call the 'Finder':


%br/
%img(src='/images/vbox_linux_python3.png')

%br/

I used the Finder to find 'Terminal' and then I launched Terminal:

%br/
%img(src='/images/vbox_linux_python4.png')
%hr/
%br/
%h3 Linux Shell

The above Terminal is like a chat screen.

%br/
%br/

I use Terminal to chat with Linux.

%br/
%br/

The language I use to chat with Linux is called 'Shell' or sometimes called 'Bash'.

%br/
%br/

I list below some commands I can send to Linux:
%ul
  %li ls
  %li ls -l
  %li cd
  %li cd /usr
  %li cd ..
  %li cd /usr/lib/apt/methods/
  %li id
  %li date

Most of the commands I send to Linux are short and easy to remember.

%br/
%br/

If I dont know a command I should use, I use English to describe what I want from Linux and then I ask google.
%br/
%br/

Google is good at translating English questions into Linux commands.

%br/
%br/

Type this question into google:

%br/
%br/

%a(href='http://www.google.com/search?q=In+linux+how+much+disk+space+have+I' target='x')
  http://www.google.com/search?q=In+linux+how+much+disk+space+have+I


%br/
%br/

The best way to learn about Linux Shell commands is to ask Google to translate English questions into Shell commands.

%br/
%br/

Before Google, the way to learn Linux Shell commands was to read books and study tutorials.

%br/
%br/

Now, that method of learning is old and inefficient.

%br/
%br/

%br/
%br/




