.q1 Question:
.q2 VirtualBox Screen is Tiny, Why?
.tags
  %span.tagtag Tags:
  .tag vbox
  .tag tiny
  .tag virtualbox
  .tag guest_additions
  .tag sudo
  .tag root

%br/

After a fresh install of an Ubuntu 14 guest-OS on Virtualbox,
the guest login screen is too tiny.

%br/
%br/

How to make the screen larger?

%br/
%br/

Short Answer: I need to install 'Guest Additions'.

%br/
%br/

Long Answer: I install 'Guest Additions' with a multi step procedure.

%ul
  %li
    In the menu-bar of the guest-OS I should find a link called: 'Devices'.
%br/
%br/

%br/
%br/

%br/
%br/

%br/
%br/

