%table
  %tr#tr0
    %td#tr0td0
      Let the syntax do the talking:
      %a#asyntax611(href='/') syntax611.com
  %tr#tr1
    %td#tr1td1
      %a(href='/blog')      Blog
      %a(href='/contact')   Contact
      %a(href='/tags')      Tags
      %a(href='/questions') Questions
      %a(href='/posts')     Posts
      %hr/
  %tr#tr2
    %td#tr2td1
      = yield
