<!DOCTYPE html>
<html>
<head>
  <title>Dan Bikle</title>
  <link href="/myassets/site.css" media="all" rel="stylesheet" />
  <meta charset="utf-8" />
  <link href="/myassets/styles/default.css" rel="stylesheet" />
</head>
<body>

<%= yield %>

</body>
</html>
